workflows/0NyMcUUQc611UWLh.json
{
  "id": "0NyMcUUQc611UWLh",
  "name": "HuggingFace Space API With Tokens",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "apiUrl"
            },
            {
              "name": "apiName"
            },
            {
              "name": "apiBody",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        240
      ],
      "id": "a6fd368e-25ab-4a0e-adec-67741630bd85",
      "name": "入口参数"
    },
    {
      "parameters": {
        "jsCode": "const keys = [];\nconst d = new Intl.DateTimeFormat(\"en-CA\").format(new Date()).replace(/-/g, \"\");\nfor(const token of $vars.HUGGINGFACE_ACCESS_TOKENS.split(\",\")){\n    const k = {\n      \"token\": token,\n      \"key\": 'huggingface:token:'+d+':'+token,\n      \"disabledKey\": 'huggingface:token:'+d+':'+token+':disabled'\n    };\n    keys.push({key: k});\n}\n\nfor (let i = keys.length - 1; i > 0; i--) {\n  const j = Math.floor(Math.random() * (i + 1));\n  [keys[i], keys[j]] = [keys[j], keys[i]];\n}\n\n\nreturn keys;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        240
      ],
      "id": "ec925c03-223f-4eb7-9794-9fb698ed274a",
      "name": "计算 AcessToken Keys"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        240
      ],
      "id": "fdf1963f-05e8-4ade-88da-6a005c878058",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "=disabled",
        "key": "={{ $json.key.disabledKey }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -304,
        -176
      ],
      "id": "cd76a87a-c73a-4105-a062-0ca3a49eda46",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "NpIOkpndAb3DOEMs",
          "name": "Upstash"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d9926fe-6e9c-40b5-a952-c8b7490d4895",
              "leftValue": "={{ $json.disabled }}",
              "rightValue": "disabled",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        -176
      ],
      "id": "b979466a-99df-4f2f-b2d0-008c79b3bdf5",
      "name": "判断 Key 是否可用"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32a1eedc-e984-4614-8588-4e3718d6dfc7",
              "leftValue": "={{ $json.error }}",
              "rightValue": "429",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "97e3225c-932a-4882-8aec-605e6cafa1f6",
              "leftValue": "={{ $json.error }}",
              "rightValue": "quota",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "6364e03f-94a5-4f15-a782-3ac306bca815",
              "leftValue": "={{ $json.error }}",
              "rightValue": "credit",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -16
      ],
      "id": "e97181cd-3cf6-4dcc-9e6e-438554f27154",
      "name": "是否需要禁用当前使用的 Token"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ $('Loop Over Items').item.json.key.key }}",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        368,
        -416
      ],
      "id": "bef7743d-65a8-44e7-b76c-fa9e2ced17bf",
      "name": "Token 使用次数+1",
      "credentials": {
        "redis": {
          "id": "NpIOkpndAb3DOEMs",
          "name": "Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Loop Over Items').item.json.key.disabledKey }}",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        592,
        96
      ],
      "id": "c0e6287d-48bb-4fde-92b4-42cc42b09a5d",
      "name": "禁用当前 Token",
      "credentials": {
        "redis": {
          "id": "NpIOkpndAb3DOEMs",
          "name": "Upstash"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a23f8e77-c44e-4d78-a4c9-a1496d78dcd6",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -208
      ],
      "id": "227ab469-3010-4459-bb42-8e77ca035fc9",
      "name": "判断调用是否成功"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ji9fEO5o63kYo6l8",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ji9fEO5o63kYo6l8",
          "cachedResultName": "HuggingFace Space API"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "spaceUrl": "={{ $('入口参数').item.json.apiUrl }}",
            "apiName": "={{ $('入口参数').item.json.apiName }}",
            "accessToken": "={{ $('Loop Over Items').item.json.key.token }}",
            "body": "={{ $('入口参数').item.json.apiBody }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "spaceUrl",
              "displayName": "spaceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accessToken",
              "displayName": "accessToken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        -272
      ],
      "id": "d487ef2d-1a6e-4e6c-8e33-1aab0191226d",
      "name": "Call 'HuggingFace Space API'",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "入口参数": {
      "main": [
        [
          {
            "node": "计算 AcessToken Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算 AcessToken Keys": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "判断 Key 是否可用",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断 Key 是否可用": {
      "main": [
        [
          {
            "node": "Call 'HuggingFace Space API'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否需要禁用当前使用的 Token": {
      "main": [
        [
          {
            "node": "禁用当前 Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "禁用当前 Token": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'HuggingFace Space API'": {
      "main": [
        [
          {
            "node": "Token 使用次数+1",
            "type": "main",
            "index": 0
          },
          {
            "node": "判断调用是否成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "是否需要禁用当前使用的 Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断调用是否成功": {
      "main": [
        [
          {
            "node": "判断 Key 是否可用",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "8cc720e2-3823-44aa-a6c1-239cb22af735",
  "owner": {
    "type": "personal",
    "projectId": "pskh8wmOtrNvczt8",
    "projectName": "寿来 shoulai.yang@gmail.com <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "EUQ7E9WiVLrAnuU7",
  "isArchived": false
}