workflows/6VvctMKinvgz2g6F.json
{
  "id": "6VvctMKinvgz2g6F",
  "name": "pixwith.ai 文生图",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pixwith.ai/api/items/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8"
            },
            {
              "name": "origin",
              "value": "https://pixwith.ai"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://pixwith.ai/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
            },
            {
              "name": "x-session-token",
              "value": "={{ $json.session_token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"images\": {},\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"prompt_id\": 0,\n  \"tool_type\": 0,\n  \"options\": {\n    \"prompt_optimization\": false,\n    \"aspect_ratio\": \"{{ $json.ratio }}\",\n    \"num_outputs\": 1\n  },\n  \"model_id\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        16
      ],
      "id": "074abdf1-bcd5-4407-956b-ef9a43531b87",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e990f3e0-d93e-4bf1-9438-f60fc1e87ea6",
              "leftValue": "={{ $json.code }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        16
      ],
      "id": "a7b9eb39-4a25-451e-9c4d-dbd504d87120",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pixwith.ai/api/items/history",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8"
            },
            {
              "name": "origin",
              "value": "https://pixwith.ai"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://pixwith.ai/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
            },
            {
              "name": "x-session-token",
              "value": "={{ $('Code2').item.json.session_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tool_type",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        16
      ],
      "id": "d1c995f8-0093-45e2-aadb-1acb81b98f92",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2048,
        16
      ],
      "id": "98113451-5ddb-4f66-a340-2e4b99d11c31",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "width",
              "type": "number"
            },
            {
              "name": "height",
              "type": "number"
            },
            {
              "name": "batch",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        16
      ],
      "id": "849b5881-2a8b-4218-a069-a624beb15e50",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const gcd = (a, b) => b === 0 ? a : gcd(b, a % b);\nconst size = $input.first().json.batch || 4;\n\nconst items = [];\n\nfor(let i = 0; i < size; i++){\n  const w = $input.first().json.width;\n  const h = $input.first().json.height;\n  const d = gcd(w, h);\n  const ratio = `${w / d}:${h / d}`;\n  items.push({\n    prompt: $input.first().json.prompt,\n    width: w,\n    height: h,\n    ratio: ratio\n  })\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        16
      ],
      "id": "417acd0f-6ad1-4670-8dcf-f358536780ee",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.url = $input.item.json.result_urls.length > 0 ? $input.item.json.result_urls[0].hd : null;\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -176
      ],
      "id": "1bbbc4b1-1069-4115-b1a0-ffbf11dbcf72",
      "name": "Code1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        -176
      ],
      "id": "a5f59962-db20-401c-85d3-96094eb7757a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "uuid"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        704,
        16
      ],
      "id": "41b8947c-abea-4e15-bc56-936de750b595",
      "name": "Crypto"
    },
    {
      "parameters": {
        "jsCode": "var x = [0x87c37b91, 0x114253d5];\nvar W = [0x4cf5ad43, 0x2745937f];\nvar Z = [0, 5];\nvar M = [0, 0x52dce729];\nvar R = [0, 0x38495ab5];\nvar V = [0xc4ceb9fe, 0x1a85ec53];\nvar k = [0xff51afd7, 0xed558ccd];\nfunction format(e) {\n    for (var t = \"\", n = 0, r = Object.keys(e).sort(); n < r.length; n++) {\n        var o = r[n];\n        var a = e[o]\n        var i = \"error\" in a ? \"error\" : JSON.stringify(a.value);\n        t += \"\".concat(t ? \"|\" : \"\").concat(o.replace(/([:|\\\\])/g, \"\\\\$1\"), \":\").concat(i)\n    }\n    return t;\n}\nfunction func_u(e) {\n    return !!e && \"function\" == typeof e.then\n}\nfunction func_b(e, t) {\n    var n, r, o = e[0] >>> 16, a = 65535 & e[0], i = e[1] >>> 16, c = 65535 & e[1], u = t[0] >>> 16, l = 65535 & t[0], s = t[1] >>> 16, d = 65535 & t[1], f = 0, m = 0;\n    n = 0 + ((r = 0 + (c + d)) >>> 16),\n        r &= 65535,\n        n += i + s,\n        m += n >>> 16,\n        n &= 65535,\n        m += a + l,\n        f += m >>> 16,\n        m &= 65535,\n        f += o + u,\n        f &= 65535,\n        e[0] = f << 16 | m,\n        e[1] = n << 16 | r\n}\n\nfunction func_y(e, t) {\n    var n, r, o = e[0] >>> 16, a = 65535 & e[0], i = e[1] >>> 16, c = 65535 & e[1], u = t[0] >>> 16, l = 65535 & t[0], s = t[1] >>> 16, d = 65535 & t[1], f = 0, m = 0;\n    n = 0 + ((r = 0 + c * d) >>> 16),\n        r &= 65535,\n        n += i * d,\n        m += n >>> 16,\n        n &= 65535,\n        n += c * s,\n        m += n >>> 16,\n        n &= 65535,\n        m += a * d,\n        f += m >>> 16,\n        m &= 65535,\n        m += i * s,\n        f += m >>> 16,\n        m &= 65535,\n        m += c * l,\n        f += m >>> 16,\n        m &= 65535,\n        f += o * d + a * s + i * l + c * u,\n        f &= 65535,\n        e[0] = f << 16 | m,\n        e[1] = n << 16 | r\n}\n\nfunction func_g(e, t) {\n    var n = e[0];\n    32 == (t %= 64) ? (e[0] = e[1],\n        e[1] = n) : t < 32 ? (e[0] = n << t | e[1] >>> 32 - t,\n            e[1] = e[1] << t | n >>> 32 - t) : (t -= 32,\n                e[0] = e[1] << t | n >>> 32 - t,\n                e[1] = n << t | e[1] >>> 32 - t)\n}\n\nfunction func_L(e, t) {\n    e[0] ^= t[0];\n    e[1] ^= t[1];\n}\n\nfunction func_w(e, t) {\n    0 != (t %= 64) && (t < 32 ? (e[0] = e[1] >>> 32 - t,\n        e[1] = e[1] << t) : (e[0] = e[1] << t - 32,\n            e[1] = 0))\n}\nfunction func_S(e) {\n    var t = [0, e[0] >>> 1];\n    func_L(e, t);\n    func_y(e, k);\n    t[1] = e[0] >>> 1;\n    func_L(e, t);\n    func_y(e, V);\n    t[1] = e[0] >>> 1;\n    func_L(e, t);\n}\n\n\nfunction em(e) {\n    var e = format(e);\n\n    var arr = new Uint8Array(e.length);\n    for (var n = 0; n < e.length; n++) {\n        var r = e.charCodeAt(n);\n        if (r > 127) {\n            arr = new TextEncoder().encode(e);\n            break;\n        }\n        arr[n] = r\n    }\n    var r = arr;\n    var length = r.length;\n    var t = 0;\n    var o = [0, r.length];\n    var a = length % 16;\n    var i = length - a;\n    var c = [0, t];\n    var u = [0, t];\n    var l = [0, 0];\n    var s = [0, 0];\n\n    for (n = 0; n < i; n += 16) {\n        l[0] = r[n + 4] | r[n + 5] << 8 | r[n + 6] << 16 | r[n + 7] << 24,\n            l[1] = r[n] | r[n + 1] << 8 | r[n + 2] << 16 | r[n + 3] << 24,\n            s[0] = r[n + 12] | r[n + 13] << 8 | r[n + 14] << 16 | r[n + 15] << 24,\n            s[1] = r[n + 8] | r[n + 9] << 8 | r[n + 10] << 16 | r[n + 11] << 24,\n            func_y(l, x),\n            func_g(l, 31),\n            func_y(l, W),\n            func_L(c, l),\n            func_g(c, 27),\n            func_b(c, u),\n            func_y(c, Z),\n            func_b(c, M),\n            func_y(s, W),\n            func_g(s, 33),\n            func_y(s, x),\n            func_L(u, s),\n            func_g(u, 31),\n            func_b(u, c),\n            func_y(u, Z),\n            func_b(u, R);\n    }\n    l[0] = 0;\n    l[1] = 0;\n    s[0] = 0;\n    s[1] = 0;\n    var d = [0, 0];\n\n    switch (a) {\n        case 15:\n            d[1] = r[n + 14];\n            func_w(d, 48);\n            func_L(s, d);\n        case 14:\n            d[1] = r[n + 13];\n            func_w(d, 40);\n            func_L(s, d);\n        case 13:\n            d[1] = r[n + 12];\n            func_w(d, 32);\n            func_L(s, d);\n        case 12:\n            d[1] = r[n + 11];\n            func_w(d, 24);\n            func_L(s, d);\n        case 11:\n            d[1] = r[n + 10];\n            func_w(d, 16);\n            func_L(s, d);\n        case 10:\n            d[1] = r[n + 9];\n            func_w(d, 8);\n            func_L(s, d);\n        case 9:\n            d[1] = r[n + 8];\n            func_L(s, d);\n            func_y(s, W);\n            func_g(s, 33);\n            func_y(s, x);\n            func_L(u, s);\n        case 8:\n            d[1] = r[n + 7];\n            func_w(d, 56);\n            func_L(l, d);\n        case 7:\n            d[1] = r[n + 6];\n            func_w(d, 48);\n            func_L(l, d);\n        case 6:\n            d[1] = r[n + 5];\n            func_w(d, 40);\n            func_L(l, d);\n        case 5:\n            d[1] = r[n + 4];\n            func_w(d, 32);\n            func_L(l, d);\n        case 4:\n            d[1] = r[n + 3];\n            func_w(d, 24);\n            func_L(l, d);\n        case 3:\n            d[1] = r[n + 2];\n            func_w(d, 16);\n            func_L(l, d);\n        case 2:\n            d[1] = r[n + 1];\n            func_w(d, 8);\n            func_L(l, d);\n        case 1:\n            d[1] = r[n];\n            func_L(l, d);\n            func_y(l, x);\n            func_g(l, 31);\n            func_y(l, W);\n            func_L(c, l)\n    }\n    func_L(c, o);\n    func_L(u, o);\n    func_b(c, u);\n    func_b(u, c);\n    func_S(c);\n    func_S(u);\n    func_b(c, u);\n    func_b(u, c);\n    return (\"00000000\" + (c[0] >>> 0).toString(16)).slice(-8) + (\"00000000\" + (c[1] >>> 0).toString(16)).slice(-8) + (\"00000000\" + (u[0] >>> 0).toString(16)).slice(-8) + (\"00000000\" + (u[1] >>> 0).toString(16)).slice(-8)\n}\nvar sse = {\n    \"fonts\": {\n        \"value\": [\n            \"Arial Unicode MS\",\n            \"Gill Sans\",\n            \"Helvetica Neue\",\n            \"Menlo\",\n            \"3b8428dd0632486c9609530369bce0df\"\n        ],\n        \"duration\": 35\n    },\n    \"domBlockers\": {\n        \"duration\": 4\n    },\n    \"fontPreferences\": {\n        \"value\": {\n            \"default\": 74.4296875,\n            \"apple\": 74.4296875,\n            \"serif\": 72.15625,\n            \"sans\": 74.4296875,\n            \"mono\": 66.53125,\n            \"min\": 4.65625,\n            \"system\": 73.046875\n        },\n        \"duration\": 6\n    },\n    \"audio\": {\n        \"value\": 124.04348155876505,\n        \"duration\": 1\n    },\n    \"screenFrame\": {\n        \"value\": [\n            40,\n            0,\n            0,\n            60\n        ],\n        \"duration\": 0\n    },\n    \"canvas\": {\n        \"value\": {\n            \"winding\": true,\n            \"geometry\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHoAAABuCAYAAADoHgdpAAAAAXNSR0IArs4c6QAAEtNJREFUeF7tXWmUHUUV/iozycOEzCGi4IzEwEQiLqASFkFFMCAkzKhHIR6ILKJM2ILgIYKIBDgsHsEdlzxkUQEhYg44EYwEEwIuGAbwsIYjQwI4I7KIwUReMo/2ff263+vu10tV9Wpm7h/IvOqq2/fre+vWrVu3BHIkY5rRiTbsCWB3ADMA7AygC8D2ACYDKFnsVQC8CuAlAEMA1gF4EsDDqOIBsV4MGz9ac6DZdhwOhBAfcb2WgfpvXhJY1fiTYdzd+P/XsUqcvPeqaYbR2YZ4/FWBB9YLMZyjmM2hRZYMGO8yJuA19AD4GGAK/x1a41eJOYCKJb8prwK7AHg7gN0AtGn1ii0Afg/gHgD3ARhkNzP53fHz2xbo5LenRWtr78uP6nfbAMseE2KzVi8xHsoEaKPbOBzAUQCOBDBBi1+CS2BHLJCDOiHItA97yH9GK2t49gO4HTDBDiUb+JmdUS2DfifIv6xx94tBIX6j24nqc6kBbWnvqQDmy4vcw74suEFv/WYAewP4QKuWE9CfU9q25qpKzqnt+qBT0xdvA/wgbS1PBWij2zgHBs6CMOdaNYoLrt9oEwF8uGaXD6j/+GMAVwF4RY2zaE3XBNwAXhLAFYNCfD1Jlpx9JQq0Md04FgYutJwqNZ7TANjDwdIpwHdnAc+9X401pdbxTPs6ASx6SoifKY0p0TgRoI1uYwYELoeBj0uM6W6SAcBP19z3y2pKfZc98jsBHAbgTcrcyj8QA3AB/NoAFg4KwZVFIhQbaGMX40QIXKnsZGUAMCV0M4BFfk4WnbZeaw5PRJQBnRBwPY99swGc9rQQnGViUyygjW6D0x2dLTWi91zhcjhdOs9ytkJH2QfAJ9Llw+ydgOvN4YsHhTgpLodaQFuBjhsAHKTEQEYAv1BztM6oWec/yzLXDWCuFaKRfUa3nR7gK6vAvDiBF2WgjenGe2DgFuUl06Yno9fAusJzPMdJjWs6M9ihQlyKcaW/o8pDmm31wF4rgCOeEuIRnVGVgDbebuwJA/0wzDClHHEu3piYTxE65qMAvgDgn3KctbbqAHCMFYTV7UPlOUXABTAkgN6/CfGAyjBsKw20qcnAciWQMzLVfBF+SsfFAdmWHME+PiPN1pi7CTaAQ1U1Wwpoa05mpFA+Np2RqaasOCcfrWOug9SCZvzzGc3Z5KFrMtDDPR1pWlsFDlKZs+WA7jYY65dzvDJaNjlFMk/F8ZKVJR00gp0l9c5Q2ThZOSjER2XZiwRaaQmV4Xxsv6DUEkpWGt52WS29nOOqgS299AoF2gqGlKXklAPIDIacK8VcjEafzCCo4mVPwUkzgD6ZoEog0GZYkxv7MtuKGTpdtkwY1pwts60YA2PzUUbQTk85XOrHozzY3PbcPSpcGgz0dOM2qdh1DiBTLn3O2HVcMKOeZ2z8s1GNUvhd0owzNv6UEKHxPV+grV2on0aynoO5Jk9LASyMZC7hBkcASHPXK4hdebCPC9v18ge626BlZP5WMOUEMhliQthzCeMY2d0UAGdFtkqngRzY6waFYEKVL7UAbSYN1Hf1wmnDQFSLVH7nLsrlqfQs0emhzeQFidbJNZFfZ38lKHnBBbSZ/vNfDEVmhmQYDHFKi17H/gD+lZwI1XpipgrVQDP5UG0wT2sJsJmp8gagyy8tyQ10t3EmgG+FMpST80WergFwSSxpJfDwHAAfTKAfnS7kPPEvDQrxbW/3XqCfCA1z5ggyGT8kyTCnjqD5DMOj3APNi6Ln67WDQjDp2UUNoK2U3GWh/Oc0L5MnBtq5M1UIOlYp6p88y30zo/rs8aYSO4G+HgDDxv6UszZ/qba6uS3q9bL6/X1WhnpW43nHiZ6vbxgUwrXyN4G2crCZGe+fXJ8zyMzBZj5+5scbgoCkM8ZEtDycMpun8Pl68zbAZKdTVge62/hULYz2q8APNEeTTZ6W1/aZT8lLe4LG5b7ou3NmKtyEf3pQCMaWTLKBDk7yy1mbyeTXaifwbsxZpi3D57Gz5WUiXKtdO1s20P7edo7RL+c7FcLb9go5b+/b5ifYC3d538LKHvHPvS2ANjP/a7+iabPND4Mn2gcsE3qpEMesCnTZWSgicFlVAJApikItq7zY5L3MitbqxjKLQPvHtgsCdK6x7Silyyv2Lb/casS+CTQji59zPVsQkMnT2YCZRF5IYtyC65UikP9cfe2gECeYXrfhl/hXIKBTSfxLCpg8EgiDePefqxsJhAS61ePOed1ceI/bZrAonnfwXN3wvAk006KbB0gLpM3kf688tyWjNH9SFtmJUUw4fm/V6hcHheDnaJru1xzVf4ACaTMZZLpWYUKfXpm31yTIY/9FIne0rFJLRNjGBtpo8FkwbSZf04skRD9ect8g9zDlccoGhTCDYtTorQjol4H2fwBtjP88Uzu6zXPYfwfaNwHYBIywXBmAdpYvY7oID1ptD7RNraU1vA2odgEjbwHwRvnPq2hAe8y3E+im6S6Y2Y423SNA+yNAiUfs1gBt64FKFai+Doy8Lg+W3bLUDpTagOo0YOS9tYJU+wAVuta00T5URNNNNpvm22W6685YAc12oDPW/hhQug9oY1USawYnwJURdXD9nrABN3+bAFRYzugQoOJJsiyaM2a/S9N8u5yx+vKqoEA3NzS2AO0rgdKddc21idq7MbIMnN4H4AKcXXQDlTlAhdH38fmnFQW9VdN8u5ZX9ZOSBTTbfA8zYFJaAbTfDLT92/1qSWpxkNBawGbDKUDlSOCtB2d/4lL2k62bb1fA5BpUX/1cVlUJZPmsO01/wtmlm3BLm0/N1CxA9s7dXuaP2AmYeywwwNyiglHdfLtCoOegMnxZFlWC5EUxBExaCrStNqv8tSTsZwlyGNg8F8R6QQP7AQOfybAmhoQk60C7NjUOR2V4WWGAbr8HmEh46/NuyzZlHiAHgf0TZ3mA8cDAGcAAi48WgOrztGObkjWzNw6kX/RL5t1LPwdKrLPbJFfiQZ4g2yxNGg+0jav/608AdvC82EAvMMCKNzlT12RUe2Y0Ew/IjvHO+w2zEEhu9C9g0lVA2/2+HDQ87w1WwCM3Pq2BO0qmA447AxgZ3gvoP7HutOVEZG/F/L0a6dzCrFzfL1biLzlxxAjWpO+7l0weVszkwCJos80XPfHj24CLQ2Q2PA3oX1CPuOVALJl28evGQbxJgMMLY/GaC/CoWJRLmiXDlRMprfDKYGa6b1G02Qbt+hLADJNQ2gFYdh4wxLBqtvRD1qhqAboqFpm7MNUsmXkG6PhGJMjkaEulij0qI8XZxWLi/m3twL4yGfw7AOUvZ6rZ462aJONhXCjm731BU6MhFpnF/x/KCmjOyZeGmmsXJxsqKNyRnC+OA3ooUgkyzTjL6mQzZ7PGhXkkVmCV6NvLLBsmjPL9K8FbZFj0P/Fy4AFCmPSNQMfL94kNlWJlg9rZn73jgU7LA4/C23TQqNnpU2PV5ws0x/+OVYYvTV58llChwzmcsEIk8jvTh1SA5ktmsPRyLQYCgf6DdVVMWkCX1gAlxcIUDqALdxC+S8F82zJdtgAY4gUf6dBXazvxZtpni+lefH8z8YDOGK/v4D594jQEdDBmqLjTtGlLY2+5cKUtdIDmrleZH7t8gWRZKLazSmU6PQdhraWF4QSaPa62ji/K9i7brvRtoMRQkiI5gOaTuSb0exP2tYBm4ssBQP9pioKIbm6H3p0tg4FmqysSTr0sPQSULo3m1K+Fz/q5UOWn+uxbFRVfb9mZwFByp8p2qoXdm3cuNnkJB/rBhI9HdHBxpFkZzAfoQhWUm9kODGhktnR1AT3JhSMF0FJQjsEwxzraMUc7P0oWunhc8Sv1a86kgZJc3Vjf0Tym225TiBKRtukeqOqBPXMBMJOHjuKRX4lIM+IJsShcoznui7VkyO/FjZZtATo4F8WoDBYAdCGKvjrnaB2wu6YAPSzMp3ddp/V5tBR9tUHm702g7YCJ30e1BsCtMb620mqgxCuxYlAA0Owx9zLONNszHWFQHbB7zwU69Qt3eMs4O0H2j4wFYcFSQLpTSQdP5CrfV+PmJCL5L9fC7F6gybkq2F3TgB4GMLTIVb7CBbKpzn4h0LBxrtbAq/Q0UIo//5g52hFZnqmcuJQ5KRnkcauC3VsGOlmSUIlcVy20gKwFNAtTEWyV5AQ6YHTEkqAQ883uc7s8JWxppQJ21yFAz7UqknJdnuILstmb3+5V1DDP1wo7XwdgQ1RD/j4CdPBOoYSOx0kkHWR+HZKf2faKRhrs8UAf3yB6N8x7HVIwyF6gmWEyTjAHL5qYWcbbtaPA5hGZEmfPBEki8SDTC85kAyWyYPdeCXTyAo9g8l5wFg5yHKD5LDWb16iHmfHS9UDp1wmijPqZKokjN5lcWSijzc63lwG76+NAD/NCAsl1ZWE0yACcGSYm7t54dxREnLOXhDhokxbKJxVEjeX8XUKr2Tz1S0hltVkF7HDv23UJqRTIjjU02agXlAtbS4cB4bv0ehnoiH0Lrv+oEh6480GppZdqBUBVbVYBu49XTnrzhxG+hAoz9c4s0FhA82EGVZiKbeeb8aTjRDNNKR2SNOH24IleFB4HZJuhMDPuXma1XBQuq8n1oZoed1OjVRwyP/gYLv2tFRuPG9uW+TwUwWa4lJeE8JCtSayXcZjiXVZJgBwFthX7ZuzaABY677JSAzktoO0X4K7XH8qbsXFFrOCtDNayzpmzr6VTgO/OAp5TvdYoSZBDwO7qPLQ63Hv1Cd5rjdRBdjtiDY028Vd1yILQOPSEB3HHf96Pq2pXErwiBZl+I1nNZhULZu/wPLuVvCDNXhoge8BmZgjPdZz0pl1fEZ9e5UoV1QLZ44i5gdZ1yLwwzZ73LKZumWpmDHHNzaVYzHB36JcQBjYT+Xjm7QOtRdSl2FNN/lP8ZBllPWqgimMGRuqhkh133CQ++QDrKJikC7J3fnYDHXeetrnrm8sZu1m3jH9nOIYO2+3qKWPSsrMB52bS7lbJfsnbrlvYS1GLCSij2r3Og5gNB60DYv7j9ZWQtZ8s/f6uhm5HzAV0Yua7by5Pwvnn11CNWF/hntoNovclqOlUjX0t87xdFfirTsbHOGzpHIffz2xLlT1e+Owb6DTBFhDz19WPSfFQhSbZe9DOx93XISVhvvvmyrPHI1eMW/LwAF1jZhvxb8xT2OgIldO1o0Hj7MVlJhOkWDeGGsvrDlqWnhYLFB5p2KpQNGT9lwkDNtn7yT6J+Gmz1yIoE+xbLowDsp/ZbtXoJMy3CtDyn8ToaVlmyDEOtZrtFqATMd9hpjsO/6Pj2QrKSzTTSusC8jPb/kDHNd9+ztjoACmJt3wR5SVuR1apV39t9gc6rvm2l1dKDI41NiXw7PhncccNrFepRUHa7Au0ab7jaDUDJtP+oxp70nqxre6h9ds+iOXXaMouWJuDgY6j1bNOvQPTX5i91YGQxQvdvetDWHuJZtEyDaBjafUu37sLh9w7Kwu5bHVj3Pmhu/D06RqyCwc5UKNNoHW1euLqh/HZKxmbGiNVCVx/2sPYdICG7GIAra/VLwN9KSUeqAru/619mWdFFWqFm+8XDXKoRsfS6jHPW/0T0/W4HXlhYYO6QqB+DbXirgct6MeuzzNuP0ayEli12wCevCjyBnB3d3LaHKnRdqfKe9VvWPEojinnfemurIiL0a7/yCUYPlJhoyA4Cub3QpEabZpw5d2UkVpC+tHM3k8/06QYMMXlYjPKN04IvNLBt3d5bZbWaC3HbNbJKzD9pYPjSmBUPL+6+2E88XUFb1sNZCWg65odcGjeD42xZZb8N3rbvBvx/Cd4x7wUhYU6gzqQMt2NuVp1bT3mfcsAtxblJZK5MKa6Nco+ynRut1ECWnm+nnzjUzjq1sLfUaYisMTbLj9wOdafElk+tj6uHsjKpruh2dKbHiPAnHkbsJPBm8TGqEUCxkso/2J7KSfMcahdR5DKGq0M9ljsOxgXhdi2zrzsHFgfaJX5es68f2CnLdkXrdb59LN7Zh3KS3aWGk4y+hXWlzbQ5owhC/akZU9g3s92k3qp0dLo9t5b8dwx4QeiKYsEQNaeo51YSIN9cN8f0f3K/qMFx9D3vHfqWjz2TQlPW9/58o4fS6Mb87VU5GwI6DtjLFrGeh/l70yILvqaHMiJaLQS2NsufRJH3zRjVGv1HYf149kTwjd8EjLXiThjfmBJmfEZ5w/gwCcUd2m2kk9DZocqBZAT1eiGZss4aKMxgTAq8U9gFarGhfb1RUl/2onM0b7aHRpUeRmYvaB+6nI0kJlU8P2pgdkjMYMhMiJMDWhz+RXqpD0D9C0cqiUXJ1+KXubNM2sjhlC+vCv4orNkna6g10oV6EiwJzw6gOMv6tx6wRZDuO78YWx+t79PktJ87Ad26kBHe+XPALO/svWZcdNcXzbVV5MzMNVesP8HRSgD2GyE8wIAAAAASUVORK5CYII=\",\n            \"text\": \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPAAAAA8CAYAAABYfzddAAAAAXNSR0IArs4c6QAAIABJREFUeF7tnQt8VNW9779rz94zySRkQgiPBAiP8BSQhyD46D2l9diqbY+3LdraU6sCk0CP9vRjn/bURu0597anT62QGUDtu9WeW/tArT330k8tKgrhKYISgRAIj5AweUwys2f2vll7Zoc9w+RBMLw66/NpZTJ7vf5r/db////9/3uNIFuyEshK4JKVgLhkR36ZDtz0Y56PqVmdKBBXNWKa2+pS1aMouo5yXkaQOksRJLsXB7DwWaENQGiDWeV8ANhA0DliCPEJI3FPnIhreCmYgnjjEaLv7EfZfxTPiRZU8/whOQvgge2qLIAHJrdBqzXYAO6UGnfyUHJv+kdcUz8EzAQKk/M5Bewh/tZ62p97Afe+k+To+qDN1dlwFsADE3PvAF75eD6rPttmNe0PeAlWhAfWzbnUMgWV1TMwhQtTvI0w5xOo/Ou5tNhdV87J2d6yNVdiKI08sfTIu9J+Qm7luOIqq1fu7U+bvQF4K2MpJcRIWvrT1BnPhF0asSuLKfjI+6H0TuKxQlwuE8tol9pWmtRxcKktcPRXtP/hRVzbj50XEGcBPKAlzeB3LF07Dlf8c5hiLopxHEMZgTB3WZ/X+K8fWDcDrPX57+XSnvdr4E/Ag0AdMJ+YOvqcQbY8eAPCfBIIk9c+h/a8APBphHkrgcrfDXDEqdX8gX8HHkCY9xOo/F5/2swE4HY83MOdPM18/swPuIE3+9NUyjMxFFrGF1L00fkw5Vbamzp446UtTJx9BcVl40AITh48yL5tu5jxP+aSP6wA9q3n1G9eIe9AM5oZP+s+z6ZCFsBnI63Tz6Zq4HvWlaLGXgJ+R9B/PwiTqiqFIyUfA56mtEGjqio2sK4GUMsf+Dwwm2DFXUjtqBg3YyjPsXb5jgG0dmYVf+AbwB0EK6by6Z/kkdvR9q4COKGBjyHMb50LgGUzxxnCSL4zQAALmofkMeSG0aizr4ehBby1eS+//88/c+1ti1h0+/XIo3zT0xvZ+MuX+cj9NzBl4TQ41U5sx0Za/3yIwpY2xCDya1kAD2xHpwLYH9gOSIAuIliR6vwsD67GUL7GumVNA+tqALX8gZ8DTQQr7h1A7b6r+ANfApZaAF7ytIuhzbFBAHAtwnz8XAHcQg4+fjggABsoNI0poviGUhgxHoYK3nilng3rtnHlTZO47jNzLQC//JNtbFv/Fu+7azYzriuDUyacOMSJ/1tPUd1JXBh9y3SAT2QBPDDBnQbw0rWTcMXfBh4hWCHN1dSybM0YPMJFLPZtTJGLKX4BNABSS4Ji/JJA5a+pqH7IMrdNsRph3oww8zHFc12PVGGKwwhzGaZ4H8L8YvKz1ICNKZ0ltP6PgRu7TNAo8DcU40dd2vdqYBmeyDU8dl/CEfQHlgAfBGZhilfR9AfwROK05X8SYVZiiu+hGNIleIFgxUNUVH8cU9wDnMQUE7rANdwCcKLPOKbwI8z3AVcjzJ9RcvQRy+pYHrwWYX4SKMcUUQzlcxS0HCfsvQNTVKAYX8JQllr1TPEN1vh/lRzfaQD7A18E3oMpNiPMHxKsCKXMu3L16IeNP9YfoRAJ2AUcQCPOZ3gFE0FBEsBeonybDyDZ5E+xidvZTA1l/Ac3sYj9fIEXU5qNuFTaJhcw7Krh4PPBMJW3dzTzpyfeYuFHxnHVx8qs52t+W8crzx7kxrsnM3V2ETTFINTKyc3HyH+7FU988AitLIDPFcAV1Xd2begfY4pPdm++TG36A7d0+aF/xFBmW6asP/Aw8K+UNhRZG72ieimmGIYp1gMBhHklwpSbewfC/G3Xs6cQ5vcR5h4M5dcIs5pApTRlM5m4z2GKfazx38eyNSNxxVdiCnm4FFqbf3nwfyLMr9I89Hry23xo+t8wxZvkdN5JZ87tCDOIKf6MYryAoXSiGIcwxc+JustwR9uBjYAvBcCwG2F+E1iCKWT7H6Gp6E8MbZaHjNTWz+AP1Foy8ES+TtQtAbza6scVfwhDqQT+maBfsVwQ+azUwBHPE3gi/4Wh/JA1/t9nnO/y4LOPiGf/6d94jq/wUb7FB/gNAW5mJzFc3QCWPvDDfIhv8GFOcD/FtKHjYibfYDuPkEMq0FrVXCJTXBRfMQx8Q8CncKolTs3GZqYvKKRkUq41nIZ9Hex+7RTzritkaKEKIQNCbTTuPkHOW3Hy9c6B7bJ+1MoCuB9CyvDIaQ3sD3ytK5YvN+6HCFZI8GUuCU11EHjS0tT+wK1dfupvrY0eqPwD/sAfgdssxtofkMTQWIIVNye10c8xRR5r/LIOVFT/H0zRRrDizj4BnNC2UiNLQisBYH/gNYT5ewKVctyyPan9H0TXRuCK56MY72Ao17B2+avJ/rd3jbOGQOXdyc9yznemANhJYvkDh4AXCVYsRZrbuvYkmj4MkMTaboIVn8S2XIQ5h0DldpYHb0KYz+GKF7F6ZXMS7L/rskKkRr+fYMWmjHO968lC3NHmJ/kxd/EyLzCDm7iPN/kG0zhKKzkpAG7DQynf5qu8wFd5nt8yl52M5kGk+FNLSM0lPAFKrhiKnlOI4Y6iDHMjctwo1jGTiPeaAow4mJ06sZM6qu5Gi5zi6O4mcmtNfPEsgAcGs8GrdRrAy4OfQJi/BL5MsOLbvXbpDzwAfI7moaUUnvovFGMkpjhhbVBT3Nfts/oDj1kmpw1g6UdDSTeA/YGfygQgCwiZij9wWgMnALwY+H/JwKVUM1KLPkiw4hGr+vLgPyDMv2CKj2Mom3HFD6AY86hesdUKgyWe/wLBiu8mASxN2mU9AliOV5g3EqwoTwL1e5b5C9d3meXNBCpvZ9maCcmDImGRJEztjZZMqlccTwJ4otWfPZaehOsP7P0Er0/5JWtZx3WWmfwGVagYZwBYNvFNbraeOcKX+DgVBPkZZZxJUXQqKsdG51B2hYutR8ZwsLWMsaNaKMhrQdN0Oa7EiAyFzohKqMVH/VEP00ccZkbJMQ7uijHicITcrAk9eEgcYMunAfzZHw1D1xoR5ks0FS3mmdtS4waVq2eia52sW7YPf0A6TVILf63LxyxAMV7BFM8CP7N8u0Cl3OQScIMH4IQG3osw9xOolD4w3WBSjFnoWmsKgJc87WZocwRYT7BCZjDI8fUF4GcRpoJiLMNQ9nWZ57ezxv88/sBTXcxybr8BLE156c+bYgqaPofH/+VkxvVaHlwwQrS89mF2MIIW/plNXGHRDGQEcBN5DON7+HmJYxTwLKsyNhtHYX+hj7LpIfZ2TOEN7fOMmjCTHPMUwmjDtE1jVw5xkUu7UcDJ2o0syFnDeM9hDuzKZ8KpUJbEGiDIBrNaOgu9DFjT5Rd+n9KGL1BVlTialwdndAHlMwT9X7b8Olkqql/AFB/AUMYS8h1P+ogNljazizShhTmJQOX7k+2s7fJLS1NM6gQQPppxkhXVf8UUhwhWfCoJuNMaOAHgr3fptYcxlFGsXX6M5cGPIcwHaB56NcWN44i7art80+tY4385ZcyKcT2jjm3icGk1wvywZUnM2G1aJJYwP2GRcTKJJaa2YoqbMUVz8pD6R9TYIeKup7v8YWleP4gwOzHFGxjKfNYu34I/IGPlL6EYY6hecdgKI0l5KsYTGMrOLr9amvG3nMHyJ2T6ylrzp4v+gbfJJcpQwkjCShYbrH/kR9zCzm5x2b7y8zzKB7v0deYiaHAPgfE67mIPm+qnoBctZuS4KeQXjsSl5WAaBtGOVlqbGjh6YC9F0b+ycFwdrQ2dGPs1SqOt2TDSYCJxgG2fmYlVUf1hTPEDYDjCfL7Lp5QgPgx8NWXTSfZXssy2P1lR/R8YSj1r/Ak1kDB3JRMrGesVKPKoF1ITJT5DJ8KUz8rPd7DGn+q8+QP3A9+xlA88RF77KtrzFnWb0BLA96wbgiv+U4Q5HVNI03oWrvjtGIrMHpPaXyZmSJ/5XgKVb7Ni1UTirueBKVZoNWFFTAO+20U6PYw/WA18ElNIDfsBhPltApXrqKpSOVIiD4EFFlklTAneexCmZLM/iClus+ZqCtnnlxDmP2EKeTjUJ3mFHdachflZK+4sTDnWL3dbKqcPvNesPhylij8gSa3PcxuPsZib2MVj/IpyTlhPHWAY7+GLHOCBXjWkoQiOFWi4x3rocJls3NZGcwhcLhVVVTFNk1gsSjxuMmo4XDfPh9ph0nmwk1FtOkp8cPOisyTWwBDccyrl0rVFQBHrltZ2a11nH9IkLW7Ms4gaWe59tICIJzao6ZYV1e/HFP9NaYOr2zpIHBbFqDGVVZ892qcYEiTcBCsEphj5FtidKaIyocMbLqWp6CDP3JZQf3aRboZl/pqClavyutNM++y0Hw9Ill0x1oX43C0RNJrwcpihrOAOdvGQFU7KVJ7hKgvEX0wLHWV6NqbBMZ8bT0kuHZrG/oYox0/qRDrjVhw4N1elZISbCSUaakeUyOEORrZEUQcvetQ9zCyA+7FHMjxyabzMUFE9HzW2H12TMdTPscYvtfvlVfyBb3XFu2/YyUPzJOssw0IbmcTvmc2jliFzusj470+4hkLCfIcb+T2PU2Txc32XmCZoylcJF3nwDnETQaEzJmQmJbkq5BCnNaTjbe5gaHsMLfUI67uDAT6RBfDABHdpANgfkM5dMfA6hvLAu5ZKOTCZDU6tRKrog0Po/JgMGQ2h00rg+Ca/w0dHSp/NeCni+9Yzv2U172fPWY3JdEE4VyGc46LT40Ka17KIGOTGdHI7DLxho5ucPqvGB/hwFsADE9ylAeB7H/UQ8YyktKE+xXQe2Jwv6lq6XzGP4qOE3lnfU3gtgsttZb4OrEhyw1QT/7MBLEFs4XlwXd4zBpwF8MDW8NIA8MDmdknWGuz3gS9WoWQBPLCVyQJ4YHIbtFpZAA+aaC/LhrMAviyXNTupvxcJZAH897LS2XlelhLIAviyXNbspP5eJJAF8N/LSmfnecEkYMo0GcnqP5S8wuobCY5fvAtXnGQBfMGWNdvxZS4BYT6Nsrd1qjfHreTn5MZyvUW5WjRuKKpOtK2pM6Lrsbbx0WHtVGyJiQEG7rIAvsx3UXZ6518CVVUod48o8+X6jOLCiUVDtHFzBb5ZoJUkBqOHILwH6mo4efBQWD8VaXzp+aNNtz3TQ75sL1PoH4BNhH8L8kV2n4hZF+socYOokIk8Po49Nhn5mt5lUVZuID/iY5gSI19OyPQQzjdojqoMCXegP3U1fedbD6Ik/JspUT2orhxCj01O3C/7r1spvFjGl2nqd22g0FvMEAT6qpnnX34rdjBUCPKj7UTXLkK+HTZoZUPVe9XpI98sKrpi2Ght9g0KPnkHhXxfxgdoyX5lcrm8obkOwhvQd75I6+7dx5vaio5Pvm/fWWGpTwBXbmSE4WGMIXr+6QsTQuvmUTuo75sNmshPN+zfjNeIMb1bztZpiW5qhIU8vOLE11zNtvMwlB67qNzG3FgcRVU4WT2XA/LBpVuYdLGML9PA/ZspNwSFpoGxbgFbz7f8lm9iiqkyxBUjFliIvLhxUEpV1XvVZUU7Ro2YUTRCe0+lQFsIyHskdLAuyHcA2Pqn/bkWah7lxNY3Q2/UF9UvrjrQ76tPegXwiteZqCsMtWcrBYCbsBIjbrjIiZskLlNKlPDaq6yk3POchPfurcWK7UzVbc1rEBFu2lEIm1GGXCwAyQL47Nf7fABYElX7/33EiDGzXKO1a5YIiuVr4WEa6xrRNC++YpnKbwMWwuFGQo2NFJcVo2k+CNfCzl9wdOuhk3uOzalfXPWXfuXI9gjgyu2MiMUYa4lL3rqisi84n5RbFO99G09nM9NNF67kc8fWLkK+A3tJFv9mZhkCd7qm/fzL5Hbmk6OGiT+2aIA/i/AuSSQL4LMX5HkAsNhaNd4344r28drC97osf9cHoYYQv3jwWbw+jSVfuQNvsc/SxFIZb/jxempe3MmSr9xC+cJyLGSFG9F3ruedbdGGqV8+1NAfYisjgKtMlPpNzLUPDI+XA49PJ+M1MEt24fa1MUs+q7owqmez7VI1pStqmB03UV0KLYG5yCt2L7qSBfDZL8lgA9hcguudBcMnTrxmWAFl1ycUbbFG7aY61n93g/V5ycO3UjKtxFKG4XCYZx9ZT11NHYuXLWThknnQGAbdC417aN+0TX/9uO+t/pjSGQHs1L6Wf3sV+3oT24odTNTDDBU5dObksS/WwWgzgldAePUC3nHWvXMTw7wKFh2ntHFg1WISv72ULMu2MF01cOHmePVsjq/cwiTDIKdTpd6I4spXGRFLmu6GsN5LP7r6Spr9m9HignFKnHxpEUh/SxicGvM8B6uqer+RfOlGxmluhsQUPNa4TEzFJCq9lnUL2HVPDaXuOEWmSiQd2Ha/qiBPgl/WlTaLanBq1QLq0w+ziq1MtojATg7Hc5GXJvhkHUNYmr0uOB9dHqBHtjDGdFFkGrjkwWjErHcK6xSVqb35wJ0e3vbGGWca5BgxhKISVVSaqudYt6qcUe7ZwxBPK6VSxnL8crPJ8ZgGkXgBdU9Ms25E6S72eggPhz1xzDaDEtVFjhyTnLcpCK2bS51z3j36wCZiaQ3lmkGO7CBs0PCThZkVhXMM3fIxKJJrLccrFDpNg8OKSj46QxWT0KqrrWuPSAfwXfvJyWlkkvzOEBwNzif1XvKuL6pM1KObLfaJHJX6H8xF/vJbxrKr6or8CSWHp3hnTxMUl4C8KLDYy84NdWz6RY11ye8t9y+mbF5xAsCNYZ79338jVNfItBunsXjJrISPLHmtcBj21LBjt+/Q7Kpaee1Kry5pRgBLECW9b0IRdj9zbdoLqenTkLeOO4LS3b6zDmNeYKsTQE4/UzE5EZxv/d6RVSwSSVh9y01kmezLX2NOcpGi0rzNJEFN451YYtMmTHlHMQzanlhArz8stnIL06MJtuGMsvYqtvREEq14iaG6xsQU0svRguQMImH2PrWYblJi+VbmWKA0MGKKtem7S6iWbc/cRty/mWmGIO+MwTh4kEwklvW8kytxNCDidJ46wB7Zvv3nyq2MjxlWdKHHkiuoe2xe8v4eCYbkekiAi+SBl15ZNYhUL2CXY10zkVjCv5mp9jzPxupZ9grTcWder+RhKDSVttWzE+ueQQPLvudKYlYe1MH5jkvGkoP+lxpKO82Eogl52PnMzOTlZGmTlb7v61XjRy6Y3Dya8nLwepMa2MvOvzWw6Zk91udb7ptHyTTJREsA6zz73Roa60LMu7Gc628tg3ASwBLIdXXs2hU/NfPfjr/TV7JHRgBXbGJ2XMV6S1Ru4N4WONN3/s34DJE44fIVap2nl38z82xGO32hV77G2KiLEXIRgvMtttK0N0z35oRjMQ9tLoNiSSw5+9c0miNuTqhteBSTsTZAelsAWf+uDeQoGprwMEkoKG4Id3ZQn1OIuWombZkAvORp3EMnMrN7Li6OngzTNDyCK1LAKHts6XO0AWzPR3PRFpOaWyMqtfvdrzHW5WKE/F4zaGtzU5+rY8ajlArP6fn2COBEveYcnYZIBFc8l7K4liAbnQfmvc/h6Rhp/bYo8qCJezk6pJWWFnlHmYcie/zpfED6eqg5HFVUQkYIr+5mtJSfbDOmUPtUUmtl0MBixXam2IShYnIqOB95WX6fxd4jlnxU2tpIyMfQGEnMsmis0geAWbaJCaiJ53ML2JUeCl22hStlM/LgW3N1j7cFyh91FHu/PnL81OmdRZSUgFdLqIJiL3W1Ydav3oPXq3Hr/dPwFSdILInR9Wtrqd3UyI2fKWfW9cXQmGSqpRZubOTgW63hcR1te0Uf1mNGANsgcwligXkDot27Tzi5mWwz+tPbyfPEEmaJXcb84bSGtkkkp9Z0bhgzh/3rZpy++HjZq1yJltB/EryrrzxtrsvYn65j3cfs3Ey97RDbB053GzIB2N6UVt9h3ln9HhJ3gyWLc4MoJgdtM80JYGk5SPPfrmNxDzXMtUCl0xFYxG5nm/Y45N96BLBK09rZ7HfWs+UqtXOoLqHl08a3Q5ruzjrLX2OG6UqYtmvnUWNbWM71iLVQ+9Ti06alJPtaPVxhteMYRzqA73mdqYqSiLM790dvayO/W/I0Ll85c6znooTXXpP6M43SFRI51s0tfQLYOVa3m+OrZiXMbVmc38UFdU86LJD0McqkjdtiBeWTpscKNGk+2wD2apZAN6xvtIA7b3HxaUNNk1ZyiD01Ya6/0UexBLYksZJmtN7YyNG3WyJj9ejucwKwbHLtVQzolwDtRXIeAg7t0m3o2ZugagNqfQGzpYCcpJnDZDsjhujchEMi7P6+w9SXDHlHS0LDqJ0cqr7OuoWy13I2ALatlJ5MMGuzlTFHrprzQLABnCkmKv1Rpd26MRMjj7fS/U+LMIwwq0cA67Cvg+1/WZx6TcfSlykSHuRFft2uSdUu3McM8qIuhPNQtAXk30yZIRguP9umvfy3vR49He7LXuWq9Dk7AawYtMuYbPoc+lob+b3TslNM3gzOt7zG7uIkX/vSwLKSrQDSrYzufZXBBcwMYE/5uEmuAm9JMXh9FhelSbUi/+905Ci1qpbAq/W1ZKbDCdeZUBg91Ejd7o5IOQMEcPcp2zWBtYvO3oROCrvYEIxLbhrrhF/6OjOl3xSPc1yFYdK3tTWJkzgbM4+tVSJBPNljSTdF5XeVLzM65mGU/LdTS8jPztP63QawU1MSo2ntwlSNZ6+UvUGcY7cBnMk0k1lWhqBU1ndaJs6Vr3ydudI1yKSBe0pUkESbISyTUAL4SHB+8rZ4+YdEll1BTCFPNciV5JdcI2fiTiYASzdj1VVn/lBxN8AdTL7TWnHOxeY5+gNeC3DbGUOMkdZ69+Da2TLvD4Cd8na3sNcmVG2m36XTEljUezRCmtA7vj5y/KRxTUUSwI0hH3vqwpSVga9EQ/NJkzppJjomapk7YR09pBNq1Kmr1Skr81FWHCbc0Mj+vUrHbzxte/oiYDOz0K8z02Zk+/If5TikGXHyg+QPe4E2u8OUTa5TP+YFTtR/OGEeSmHFhjBSZufITKe1i9hhEzfppqO9IUSM1jULeStlMzsBnLaggwxgtb4mYS2g02Ps2yYDhUJ8zdxEBle3Bs7A7ltsvs5QaXv1dHB2HwqZMrFcdK6Zk9lfW7aFqyy8ChrXzbPuw2blLkbFOintLctOPpdRA/cQassUiusJwNIKGTuf7fZh3ReQJYMfNyhIciQ1mZ63Ccn+ANhpJdmmvEz7VAsol21nsoLS+5Qk1ksPjBs1feSR0uIyL3savLxYu9hK3PDqe/AiEznCiZ+wSQGwRjjsJaz70LVyGhtDLC7fxLzysBU/3l1bGLrmf52oHRCJtXInY6PRBJFiRti/7toMP7jjGMzdf2W4Kw/rNyrdcQ6vSuYL236UFCYtHNe9TLSFL8NJbpXx1gaZxzbfpoS5iZv6tbNO56t2n+gZTsMUDXweASy11rIa5qUDIn1xu31PhytiAzgTcVO5jdGxeGaLwm7bNt0zaeBMVoqs994NqJOS7onbw2GZj7zsVUaiMca5pxSTdjWH9hMthEbmMLSbhZ3HtmdEgr3ubT3k930CWOWYohO3LY2zIbCcrHlPGtiWeX8ALMe74nWm6gr59r60GWvnodvXwfLcvZMKJg87Mql0MiKsa2wK34Fv4Vcsd5hwCF0PoYdDWHayLJo3kX3lTfxXEtCNNY+y0PsLir0ye0tn77HRhxf/5wGZt332YSRnOEe+sNDTqW5PzDaN5WenL2qbKBa1H6c5yfrJlMs3UwiJGE02IzimizSrEqd9uIsSwDL/+HXmSsZVbvrg/Mz3ujrIwI7AvAQh1RuA732bgo4WJsvnMvl48u+2j5kRwDKRZs6ZucafepWCXK27XSs85/Dh5QbZk+5POgmzMS1sr0r61ecCYKff7zjcuv3yvoDiPHQy+sBVKEc+xBxpUfQXwHdtpVA1Eho3V+ftiMokWd8d57gdR+5rXPIFBi28q3zm+FC+VuylZo+XWn0xZbMWUlwm2ecSNMuMtllo3UrmCDc20NhQS+3OTZRrG1g4TZrUYd7Z547ti05/67bvv5J6n3CGgfSYSlnxKlfY4Qfpsz6ZDIqnt+EMe6QTOk7SxY5POn0wJ4uc3LRnxOQuVgA7Y+WxFt5wxnrlXJw+vRrhaPW1iUSK3gCcwkJnMFFT2sxgQsv2MzHuzrEmD8j4si0JCyKZw/6mc12XmLgKtzHLjqsrJt0s9bsFYCfTK2Pio/phSkvirT5J4mU6OJ0WTH8BbK1VkleQ+9fONeiP6+iQmfjvr44uGuc5Pm74eK+QxvL6F0OEdKlki9F8PkvTahazJRVxuFsrh0MhK3R8640+vJpmxYYPnBh+fEPBkcN9+b+yrR4BLGOjai4zbBZN+qamyuHSq2jlIai7gTzFxZjugLoOkVz2/HR26k8E2PE0e7LOxJDP1jAuYiZof1lUF0fTM4YuVgCnWClx4vkx9tos+NI3KBKtTLDTS40Yu+wwTW8AljKw/bx0eUgGVv5Ua3fcuQcAS2tHzeEtGb+WbThDK06tbRM18mCNjeSNpyYkkk2SqbHTutWFPBSKTn//bgFY9uWM6fbXlHb60zLcmNPGYY+HeEsOI4RjL50NgJfWMM5ZVyapyAy8vjSv83uzCmW7nlviUcSo4jKNMBo794RpaEiYzSkvH8mQb/KvJSUas6b58Gk6oYYwbaF4yMyJ1M2sypw4kj6mXt9GkmENtY3JfZEc1gAzxELl353hCHnSVjteJ3OGBeSzmQLqFyuALXCcufCGSyBseUkw5UV50xne6gvASVZYJohYWWfJtE4zPWurt0QOC/wGhhyHPRYZKjl1gJ12Jlb62OX3Vvgnmc1mZzTJtqIxDtgpju8mgOVcK17jSjtpqD+stPTnp+UzzSZZewKZTIJZnczA6ysX2hlytGTXz7Bjet9mAO3NupxSoSjFJWVedE2jtkGnoVEnJB3dJI8lFbFM7iiE10UKAAADv0lEQVQp1iiXTDUJ8Ha0x9sK1Mih0qrU8FhvB0mf7wPLycVOMVqPMzRTTEumwLkbqHvs5swv9TuTN85gkiUZtIl5st2e4oo9xWblpGSOspJMd0snNZzmaF/BeFtAtl/Yn0QOu46MsaIxzs5AskEn87STCRwpsUpHamiP2UcyD/d4DZNT0jt1kFlPMs9Xbl41ysnqa5LvA7/MpGSWVlialkaM4c61kmtUMofaNLZXyn68zT10bxId3HkcXzWTev+WRLqhc916Ww/Lgkhm8bkhtCqZQ2+n1mYihuQFCtECrJ+k7ff7wonQl3xTzmfEcCtqIhfa5aZODzPJyoWPEFp3bSKH32HV9JjX4Ex2SU//PRtNvKsKtyecO6LDI0ZKgMowkiS2rEzJJICtXA+vTNiS8d9EGMmMxk/lqZGGswGvHFefAO4evIm4d5+lFTyxDlyNbXQ+c61ldl2y7//2d2EqXmVyXKOgtxf6ZSLKkSFW/rKeTgj1t5/052T8Vuakq63EVy22XJP+ydpE3LORfOmcPDGVtt7eDpNk4vDh5JoqmjqK8MV8u4o8lI//Be+JE3Q4c7qdcrOJQ6eF0h/592VZ9KcN+xnzaVy1uxkWx11kxNU8Kz1akljJpA7r3X5dElkQ7YxFXMLVrGsdJ/prNjvH0n8An80MLrNnu18uSMasL7PpXTLTkW8RqU3MsAacFm5Mt8g8MQ483o83m2S9e1+loCPJ0rs97LX5g3MRjEzwIIha10S+Hs/NF51GTkfctCCsukTcVEXER2dbBNrGQ7SvlMmexpIFcC+rtHIX+WYzWjyXCUlf0gqBncvCZuuemwS6NWziFcujHh9N8Xq0aBGFdFixbcv/P7mfHT1paTkCyYJHCiwT3GXErKQiYScVndsIz6xtgTlxpaz99pmBvFpWWCZw/6yqHgaVBXAPgknJJLOf6cooG+xL0d7tzXO5tXd3DcNdZiJpKFOR7053NvNmelgv/Vn/ZrpTfa3veoiiXOzyywK4hxVyXnAnGVlN4eTjyRTEi31RL/fxyeiFUBhtXVqQ0JwyBBlBpa3zFEf7Aq+Uj1xfeV1k0rKShPEh55thl4oMswDuY6Vknnd/AuqXyoJfbuM81/U51/oXWp5ZAF/oFcj2n5XAOUggC+BzEF62alYCF1oCWQBf6BXI9p+VwDlIIAvgcxBetmpWAhdaAlkAX+gVyPaflcA5SCAL4HMQXrZqVgIXWgJZAF/oFcj2n5XAOUggC+BzEF62alYCF1oCWQBf6BXI9p+VwDlI4P8DCsvnPLQCDYcAAAAASUVORK5CYII=\"\n        },\n        \"duration\": 7\n    },\n    \"osCpu\": {\n        \"duration\": 0\n    },\n    \"languages\": {\n        \"value\": [\n            [\n                \"zh-CN\"\n            ]\n        ],\n        \"duration\": 1\n    },\n    \"colorDepth\": {\n        \"value\": 30,\n        \"duration\": 0\n    },\n    \"deviceMemory\": {\n        \"value\": 8,\n        \"duration\": 0\n    },\n    \"screenResolution\": {\n        \"value\": [\n            982,\n            1512\n        ],\n        \"duration\": 0\n    },\n    \"hardwareConcurrency\": {\n        \"value\": 10,\n        \"duration\": 0\n    },\n    \"timezone\": {\n        \"value\": \"Asia/Shanghai\",\n        \"duration\": 0\n    },\n    \"sessionStorage\": {\n        \"value\": true,\n        \"duration\": 0\n    },\n    \"localStorage\": {\n        \"value\": true,\n        \"duration\": 0\n    },\n    \"indexedDB\": {\n        \"value\": true,\n        \"duration\": 0\n    },\n    \"openDatabase\": {\n        \"value\": false,\n        \"duration\": 0\n    },\n    \"cpuClass\": {\n        \"duration\": 0\n    },\n    \"platform\": {\n        \"value\": \"MacIntel\",\n        \"duration\": 0\n    },\n    \"plugins\": {\n        \"value\": [\n            {\n                \"name\": \"PDF Viewer\",\n                \"description\": \"Portable Document Format\",\n                \"mimeTypes\": [\n                    {\n                        \"type\": \"application/pdf\",\n                        \"suffixes\": \"pdf\"\n                    },\n                    {\n                        \"type\": \"text/pdf\",\n                        \"suffixes\": \"pdf\"\n                    }\n                ]\n            },\n            {\n                \"name\": \"Chrome PDF Viewer\",\n                \"description\": \"Portable Document Format\",\n                \"mimeTypes\": [\n                    {\n                        \"type\": \"application/pdf\",\n                        \"suffixes\": \"pdf\"\n                    },\n                    {\n                        \"type\": \"text/pdf\",\n                        \"suffixes\": \"pdf\"\n                    }\n                ]\n            },\n            {\n                \"name\": \"Chromium PDF Viewer\",\n                \"description\": \"Portable Document Format\",\n                \"mimeTypes\": [\n                    {\n                        \"type\": \"application/pdf\",\n                        \"suffixes\": \"pdf\"\n                    },\n                    {\n                        \"type\": \"text/pdf\",\n                        \"suffixes\": \"pdf\"\n                    }\n                ]\n            },\n            {\n                \"name\": \"Microsoft Edge PDF Viewer\",\n                \"description\": \"Portable Document Format\",\n                \"mimeTypes\": [\n                    {\n                        \"type\": \"application/pdf\",\n                        \"suffixes\": \"pdf\"\n                    },\n                    {\n                        \"type\": \"text/pdf\",\n                        \"suffixes\": \"pdf\"\n                    }\n                ]\n            },\n            {\n                \"name\": \"WebKit built-in PDF\",\n                \"description\": \"Portable Document Format\",\n                \"mimeTypes\": [\n                    {\n                        \"type\": \"application/pdf\",\n                        \"suffixes\": \"pdf\"\n                    },\n                    {\n                        \"type\": \"text/pdf\",\n                        \"suffixes\": \"pdf\"\n                    }\n                ]\n            }\n        ],\n        \"duration\": 0\n    },\n    \"touchSupport\": {\n        \"value\": {\n            \"maxTouchPoints\": 0,\n            \"touchEvent\": false,\n            \"touchStart\": false\n        },\n        \"duration\": 0\n    },\n    \"vendor\": {\n        \"value\": \"Google Inc.\",\n        \"duration\": 0\n    },\n    \"vendorFlavors\": {\n        \"value\": [\n            \"chrome\"\n        ],\n        \"duration\": 0\n    },\n    \"cookiesEnabled\": {\n        \"value\": true,\n        \"duration\": 0\n    },\n    \"colorGamut\": {\n        \"value\": \"p3\",\n        \"duration\": 0\n    },\n    \"invertedColors\": {\n        \"duration\": 0\n    },\n    \"forcedColors\": {\n        \"value\": false,\n        \"duration\": 0\n    },\n    \"monochrome\": {\n        \"value\": 0,\n        \"duration\": 0\n    },\n    \"contrast\": {\n        \"value\": 0,\n        \"duration\": 0\n    },\n    \"reducedMotion\": {\n        \"value\": false,\n        \"duration\": 0\n    },\n    \"reducedTransparency\": {\n        \"value\": false,\n        \"duration\": 0\n    },\n    \"hdr\": {\n        \"value\": true,\n        \"duration\": 0\n    },\n    \"math\": {\n        \"value\": {\n            \"acos\": 1.4473588658278522,\n            \"acosh\": 709.889355822726,\n            \"acoshPf\": 355.291251501643,\n            \"asin\": 0.12343746096704435,\n            \"asinh\": 0.881373587019543,\n            \"asinhPf\": 0.8813735870195429,\n            \"atanh\": 0.5493061443340548,\n            \"atanhPf\": 0.5493061443340548,\n            \"atan\": 0.4636476090008061,\n            \"sin\": 0.8178819121159085,\n            \"sinh\": 1.1752011936438014,\n            \"sinhPf\": 2.534342107873324,\n            \"cos\": -0.8390715290095377,\n            \"cosh\": 1.5430806348152437,\n            \"coshPf\": 1.5430806348152437,\n            \"tan\": -1.4214488238747245,\n            \"tanh\": 0.7615941559557649,\n            \"tanhPf\": 0.7615941559557649,\n            \"exp\": 2.718281828459045,\n            \"expm1\": 1.718281828459045,\n            \"expm1Pf\": 1.718281828459045,\n            \"log1p\": 2.3978952727983707,\n            \"log1pPf\": 2.3978952727983707,\n            \"powPI\": 1.9275814160560206e-50\n        },\n        \"duration\": 1\n    },\n    \"pdfViewerEnabled\": {\n        \"value\": true,\n        \"duration\": 0\n    },\n    \"architecture\": {\n        \"value\": 127,\n        \"duration\": 0\n    },\n    \"applePay\": {\n        \"value\": -1,\n        \"duration\": 0\n    },\n    \"privateClickMeasurement\": {\n        \"duration\": 0\n    },\n    \"audioBaseLatency\": {\n        \"value\": -2,\n        \"duration\": 0\n    },\n    \"dateTimeLocale\": {\n        \"value\": \"zh-CN\",\n        \"duration\": 0\n    },\n    \"webGlBasics\": {\n        \"value\": {\n            \"version\": \"WebGL 1.0 (OpenGL ES 2.0 Chromium)\",\n            \"vendor\": \"WebKit\",\n            \"vendorUnmasked\": \"Google Inc. (Apple)\",\n            \"renderer\": \"WebKit WebGL\",\n            \"rendererUnmasked\": \"ANGLE (Apple, ANGLE Metal Renderer: Apple M2 Pro, Unspecified Version)\",\n            \"shadingLanguageVersion\": \"WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)\"\n        },\n        \"duration\": 3\n    },\n    \"webGlExtensions\": {\n        \"value\": {\n            \"contextAttributes\": [\n                \"alpha=true\",\n                \"antialias=true\",\n                \"depth=true\",\n                \"desynchronized=false\",\n                \"failIfMajorPerformanceCaveat=false\",\n                \"powerPreference=default\",\n                \"premultipliedAlpha=true\",\n                \"preserveDrawingBuffer=false\",\n                \"stencil=false\",\n                \"xrCompatible=false\"\n            ],\n            \"parameters\": [\n                \"ACTIVE_ATTRIBUTES=35721\",\n                \"ACTIVE_TEXTURE=34016=33984\",\n                \"ACTIVE_UNIFORMS=35718\",\n                \"ALIASED_LINE_WIDTH_RANGE=33902=1,1\",\n                \"ALIASED_POINT_SIZE_RANGE=33901=1,511\",\n                \"ALPHA=6406\",\n                \"ALPHA_BITS=3413=8\",\n                \"ALWAYS=519\",\n                \"ARRAY_BUFFER=34962\",\n                \"ARRAY_BUFFER_BINDING=34964\",\n                \"ATTACHED_SHADERS=35717\",\n                \"BACK=1029\",\n                \"BLEND=3042=false\",\n                \"BLEND_COLOR=32773=0,0,0,0\",\n                \"BLEND_DST_ALPHA=32970=0\",\n                \"BLEND_DST_RGB=32968=0\",\n                \"BLEND_EQUATION=32777=32774\",\n                \"BLEND_EQUATION_ALPHA=34877=32774\",\n                \"BLEND_EQUATION_RGB=32777=32774\",\n                \"BLEND_SRC_ALPHA=32971=1\",\n                \"BLEND_SRC_RGB=32969=1\",\n                \"BLUE_BITS=3412=8\",\n                \"BOOL=35670\",\n                \"BOOL_VEC2=35671\",\n                \"BOOL_VEC3=35672\",\n                \"BOOL_VEC4=35673\",\n                \"BROWSER_DEFAULT_WEBGL=37444\",\n                \"BUFFER_SIZE=34660\",\n                \"BUFFER_USAGE=34661\",\n                \"BYTE=5120\",\n                \"CCW=2305\",\n                \"CLAMP_TO_EDGE=33071\",\n                \"COLOR_ATTACHMENT0=36064\",\n                \"COLOR_BUFFER_BIT=16384\",\n                \"COLOR_CLEAR_VALUE=3106=0,0,0,0\",\n                \"COLOR_WRITEMASK=3107=true,true,true,true\",\n                \"COMPILE_STATUS=35713\",\n                \"COMPRESSED_TEXTURE_FORMATS=34467=\",\n                \"CONSTANT_ALPHA=32771\",\n                \"CONSTANT_COLOR=32769\",\n                \"CONTEXT_LOST_WEBGL=37442\",\n                \"CULL_FACE=2884=false\",\n                \"CULL_FACE_MODE=2885=1029\",\n                \"CURRENT_PROGRAM=35725\",\n                \"CURRENT_VERTEX_ATTRIB=34342\",\n                \"CW=2304\",\n                \"DECR=7683\",\n                \"DECR_WRAP=34056\",\n                \"DELETE_STATUS=35712\",\n                \"DEPTH_ATTACHMENT=36096\",\n                \"DEPTH_BITS=3414=24\",\n                \"DEPTH_BUFFER_BIT=256\",\n                \"DEPTH_CLEAR_VALUE=2931=1\",\n                \"DEPTH_COMPONENT16=33189\",\n                \"DEPTH_COMPONENT=6402\",\n                \"DEPTH_FUNC=2932=513\",\n                \"DEPTH_RANGE=2928=0,1\",\n                \"DEPTH_STENCIL=34041\",\n                \"DEPTH_STENCIL_ATTACHMENT=33306\",\n                \"DEPTH_TEST=2929=false\",\n                \"DEPTH_WRITEMASK=2930=true\",\n                \"DITHER=3024=true\",\n                \"DONT_CARE=4352\",\n                \"DST_ALPHA=772\",\n                \"DST_COLOR=774\",\n                \"DYNAMIC_DRAW=35048\",\n                \"ELEMENT_ARRAY_BUFFER=34963\",\n                \"ELEMENT_ARRAY_BUFFER_BINDING=34965\",\n                \"EQUAL=514\",\n                \"FASTEST=4353\",\n                \"FLOAT=5126\",\n                \"FLOAT_MAT2=35674\",\n                \"FLOAT_MAT3=35675\",\n                \"FLOAT_MAT4=35676\",\n                \"FLOAT_VEC2=35664\",\n                \"FLOAT_VEC3=35665\",\n                \"FLOAT_VEC4=35666\",\n                \"FRAGMENT_SHADER=35632\",\n                \"FRAMEBUFFER=36160\",\n                \"FRAMEBUFFER_ATTACHMENT_OBJECT_NAME=36049\",\n                \"FRAMEBUFFER_ATTACHMENT_OBJECT_TYPE=36048\",\n                \"FRAMEBUFFER_ATTACHMENT_TEXTURE_CUBE_MAP_FACE=36051\",\n                \"FRAMEBUFFER_ATTACHMENT_TEXTURE_LEVEL=36050\",\n                \"FRAMEBUFFER_BINDING=36006\",\n                \"FRAMEBUFFER_COMPLETE=36053\",\n                \"FRAMEBUFFER_INCOMPLETE_ATTACHMENT=36054\",\n                \"FRAMEBUFFER_INCOMPLETE_DIMENSIONS=36057\",\n                \"FRAMEBUFFER_INCOMPLETE_MISSING_ATTACHMENT=36055\",\n                \"FRAMEBUFFER_UNSUPPORTED=36061\",\n                \"FRONT=1028\",\n                \"FRONT_AND_BACK=1032\",\n                \"FRONT_FACE=2886=2305\",\n                \"FUNC_ADD=32774\",\n                \"FUNC_REVERSE_SUBTRACT=32779\",\n                \"FUNC_SUBTRACT=32778\",\n                \"GENERATE_MIPMAP_HINT=33170=4352\",\n                \"GEQUAL=518\",\n                \"GREATER=516\",\n                \"GREEN_BITS=3411=8\",\n                \"HIGH_FLOAT=36338\",\n                \"HIGH_INT=36341\",\n                \"IMPLEMENTATION_COLOR_READ_FORMAT=35739=6408\",\n                \"IMPLEMENTATION_COLOR_READ_TYPE=35738=5121\",\n                \"INCR=7682\",\n                \"INCR_WRAP=34055\",\n                \"INT=5124\",\n                \"INT_VEC2=35667\",\n                \"INT_VEC3=35668\",\n                \"INT_VEC4=35669\",\n                \"INVALID_ENUM=1280\",\n                \"INVALID_FRAMEBUFFER_OPERATION=1286\",\n                \"INVALID_OPERATION=1282\",\n                \"INVALID_VALUE=1281\",\n                \"INVERT=5386\",\n                \"KEEP=7680\",\n                \"LEQUAL=515\",\n                \"LESS=513\",\n                \"LINEAR=9729\",\n                \"LINEAR_MIPMAP_LINEAR=9987\",\n                \"LINEAR_MIPMAP_NEAREST=9985\",\n                \"LINES=1\",\n                \"LINE_LOOP=2\",\n                \"LINE_STRIP=3\",\n                \"LINE_WIDTH=2849=1\",\n                \"LINK_STATUS=35714\",\n                \"LOW_FLOAT=36336\",\n                \"LOW_INT=36339\",\n                \"LUMINANCE=6409\",\n                \"LUMINANCE_ALPHA=6410\",\n                \"MAX_COMBINED_TEXTURE_IMAGE_UNITS=35661=32\",\n                \"MAX_CUBE_MAP_TEXTURE_SIZE=34076=16384\",\n                \"MAX_FRAGMENT_UNIFORM_VECTORS=36349=1024\",\n                \"MAX_RENDERBUFFER_SIZE=34024=16384\",\n                \"MAX_TEXTURE_IMAGE_UNITS=34930=16\",\n                \"MAX_TEXTURE_SIZE=3379=16384\",\n                \"MAX_VARYING_VECTORS=36348=30\",\n                \"MAX_VERTEX_ATTRIBS=34921=16\",\n                \"MAX_VERTEX_TEXTURE_IMAGE_UNITS=35660=16\",\n                \"MAX_VERTEX_UNIFORM_VECTORS=36347=1024\",\n                \"MAX_VIEWPORT_DIMS=3386=16384,16384\",\n                \"MEDIUM_FLOAT=36337\",\n                \"MEDIUM_INT=36340\",\n                \"MIRRORED_REPEAT=33648\",\n                \"NEAREST=9728\",\n                \"NEAREST_MIPMAP_LINEAR=9986\",\n                \"NEAREST_MIPMAP_NEAREST=9984\",\n                \"NEVER=512\",\n                \"NICEST=4354\",\n                \"NONE=0\",\n                \"NOTEQUAL=517\",\n                \"NO_ERROR=0\",\n                \"ONE=1\",\n                \"ONE_MINUS_CONSTANT_ALPHA=32772\",\n                \"ONE_MINUS_CONSTANT_COLOR=32770\",\n                \"ONE_MINUS_DST_ALPHA=773\",\n                \"ONE_MINUS_DST_COLOR=775\",\n                \"ONE_MINUS_SRC_ALPHA=771\",\n                \"ONE_MINUS_SRC_COLOR=769\",\n                \"OUT_OF_MEMORY=1285\",\n                \"PACK_ALIGNMENT=3333=4\",\n                \"POINTS=0\",\n                \"POLYGON_OFFSET_FACTOR=32824=0\",\n                \"POLYGON_OFFSET_FILL=32823=false\",\n                \"POLYGON_OFFSET_UNITS=10752=0\",\n                \"RED_BITS=3410=8\",\n                \"RENDERBUFFER=36161\",\n                \"RENDERBUFFER_ALPHA_SIZE=36179\",\n                \"RENDERBUFFER_BINDING=36007\",\n                \"RENDERBUFFER_BLUE_SIZE=36178\",\n                \"RENDERBUFFER_DEPTH_SIZE=36180\",\n                \"RENDERBUFFER_GREEN_SIZE=36177\",\n                \"RENDERBUFFER_HEIGHT=36163\",\n                \"RENDERBUFFER_INTERNAL_FORMAT=36164\",\n                \"RENDERBUFFER_RED_SIZE=36176\",\n                \"RENDERBUFFER_STENCIL_SIZE=36181\",\n                \"RENDERBUFFER_WIDTH=36162\",\n                \"RENDERER=7937=WebKit WebGL\",\n                \"REPEAT=10497\",\n                \"REPLACE=7681\",\n                \"RGB565=36194\",\n                \"RGB5_A1=32855\",\n                \"RGB8=32849\",\n                \"RGB=6407\",\n                \"RGBA4=32854\",\n                \"RGBA8=32856\",\n                \"RGBA=6408\",\n                \"SAMPLER_2D=35678\",\n                \"SAMPLER_CUBE=35680\",\n                \"SAMPLES=32937=4\",\n                \"SAMPLE_ALPHA_TO_COVERAGE=32926\",\n                \"SAMPLE_BUFFERS=32936=1\",\n                \"SAMPLE_COVERAGE=32928\",\n                \"SAMPLE_COVERAGE_INVERT=32939=false\",\n                \"SAMPLE_COVERAGE_VALUE=32938=1\",\n                \"SCISSOR_BOX=3088=0,0,300,150\",\n                \"SCISSOR_TEST=3089=false\",\n                \"SHADER_TYPE=35663\",\n                \"SHADING_LANGUAGE_VERSION=35724=WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)\",\n                \"SHORT=5122\",\n                \"SRC_ALPHA=770\",\n                \"SRC_ALPHA_SATURATE=776\",\n                \"SRC_COLOR=768\",\n                \"STATIC_DRAW=35044\",\n                \"STENCIL_ATTACHMENT=36128\",\n                \"STENCIL_BACK_FAIL=34817=7680\",\n                \"STENCIL_BACK_FUNC=34816=519\",\n                \"STENCIL_BACK_PASS_DEPTH_FAIL=34818=7680\",\n                \"STENCIL_BACK_PASS_DEPTH_PASS=34819=7680\",\n                \"STENCIL_BACK_REF=36003=0\",\n                \"STENCIL_BACK_VALUE_MASK=36004=4294967295\",\n                \"STENCIL_BACK_WRITEMASK=36005=4294967295\",\n                \"STENCIL_BITS=3415=0\",\n                \"STENCIL_BUFFER_BIT=1024\",\n                \"STENCIL_CLEAR_VALUE=2961=0\",\n                \"STENCIL_FAIL=2964=7680\",\n                \"STENCIL_FUNC=2962=519\",\n                \"STENCIL_INDEX8=36168\",\n                \"STENCIL_PASS_DEPTH_FAIL=2965=7680\",\n                \"STENCIL_PASS_DEPTH_PASS=2966=7680\",\n                \"STENCIL_REF=2967=0\",\n                \"STENCIL_TEST=2960=false\",\n                \"STENCIL_VALUE_MASK=2963=4294967295\",\n                \"STENCIL_WRITEMASK=2968=4294967295\",\n                \"STREAM_DRAW=35040\",\n                \"SUBPIXEL_BITS=3408=4\",\n                \"TEXTURE0=33984\",\n                \"TEXTURE10=33994\",\n                \"TEXTURE11=33995\",\n                \"TEXTURE12=33996\",\n                \"TEXTURE13=33997\",\n                \"TEXTURE14=33998\",\n                \"TEXTURE15=33999\",\n                \"TEXTURE16=34000\",\n                \"TEXTURE17=34001\",\n                \"TEXTURE18=34002\",\n                \"TEXTURE19=34003\",\n                \"TEXTURE1=33985\",\n                \"TEXTURE20=34004\",\n                \"TEXTURE21=34005\",\n                \"TEXTURE22=34006\",\n                \"TEXTURE23=34007\",\n                \"TEXTURE24=34008\",\n                \"TEXTURE25=34009\",\n                \"TEXTURE26=34010\",\n                \"TEXTURE27=34011\",\n                \"TEXTURE28=34012\",\n                \"TEXTURE29=34013\",\n                \"TEXTURE2=33986\",\n                \"TEXTURE30=34014\",\n                \"TEXTURE31=34015\",\n                \"TEXTURE3=33987\",\n                \"TEXTURE4=33988\",\n                \"TEXTURE5=33989\",\n                \"TEXTURE6=33990\",\n                \"TEXTURE7=33991\",\n                \"TEXTURE8=33992\",\n                \"TEXTURE9=33993\",\n                \"TEXTURE=5890\",\n                \"TEXTURE_2D=3553\",\n                \"TEXTURE_BINDING_2D=32873\",\n                \"TEXTURE_BINDING_CUBE_MAP=34068\",\n                \"TEXTURE_CUBE_MAP=34067\",\n                \"TEXTURE_CUBE_MAP_NEGATIVE_X=34070\",\n                \"TEXTURE_CUBE_MAP_NEGATIVE_Y=34072\",\n                \"TEXTURE_CUBE_MAP_NEGATIVE_Z=34074\",\n                \"TEXTURE_CUBE_MAP_POSITIVE_X=34069\",\n                \"TEXTURE_CUBE_MAP_POSITIVE_Y=34071\",\n                \"TEXTURE_CUBE_MAP_POSITIVE_Z=34073\",\n                \"TEXTURE_MAG_FILTER=10240\",\n                \"TEXTURE_MIN_FILTER=10241\",\n                \"TEXTURE_WRAP_S=10242\",\n                \"TEXTURE_WRAP_T=10243\",\n                \"TRIANGLES=4\",\n                \"TRIANGLE_FAN=6\",\n                \"TRIANGLE_STRIP=5\",\n                \"UNPACK_ALIGNMENT=3317=4\",\n                \"UNPACK_COLORSPACE_CONVERSION_WEBGL=37443=37444\",\n                \"UNPACK_FLIP_Y_WEBGL=37440=false\",\n                \"UNPACK_PREMULTIPLY_ALPHA_WEBGL=37441=false\",\n                \"UNSIGNED_BYTE=5121\",\n                \"UNSIGNED_INT=5125\",\n                \"UNSIGNED_SHORT=5123\",\n                \"UNSIGNED_SHORT_4_4_4_4=32819\",\n                \"UNSIGNED_SHORT_5_5_5_1=32820\",\n                \"UNSIGNED_SHORT_5_6_5=33635\",\n                \"VALIDATE_STATUS=35715\",\n                \"VENDOR=7936=WebKit\",\n                \"VERSION=7938=WebGL 1.0 (OpenGL ES 2.0 Chromium)\",\n                \"VERTEX_ATTRIB_ARRAY_BUFFER_BINDING=34975\",\n                \"VERTEX_ATTRIB_ARRAY_ENABLED=34338\",\n                \"VERTEX_ATTRIB_ARRAY_NORMALIZED=34922\",\n                \"VERTEX_ATTRIB_ARRAY_POINTER=34373\",\n                \"VERTEX_ATTRIB_ARRAY_SIZE=34339\",\n                \"VERTEX_ATTRIB_ARRAY_STRIDE=34340\",\n                \"VERTEX_ATTRIB_ARRAY_TYPE=34341\",\n                \"VERTEX_SHADER=35633\",\n                \"VIEWPORT=2978=0,0,300,150\",\n                \"ZERO=0\"\n            ],\n            \"shaderPrecisions\": [\n                \"FRAGMENT_SHADER.LOW_FLOAT=127,127,23\",\n                \"FRAGMENT_SHADER.MEDIUM_FLOAT=127,127,23\",\n                \"FRAGMENT_SHADER.HIGH_FLOAT=127,127,23\",\n                \"FRAGMENT_SHADER.LOW_INT=31,30,0\",\n                \"FRAGMENT_SHADER.MEDIUM_INT=31,30,0\",\n                \"FRAGMENT_SHADER.HIGH_INT=31,30,0\",\n                \"VERTEX_SHADER.LOW_FLOAT=127,127,23\",\n                \"VERTEX_SHADER.MEDIUM_FLOAT=127,127,23\",\n                \"VERTEX_SHADER.HIGH_FLOAT=127,127,23\",\n                \"VERTEX_SHADER.LOW_INT=31,30,0\",\n                \"VERTEX_SHADER.MEDIUM_INT=31,30,0\",\n                \"VERTEX_SHADER.HIGH_INT=31,30,0\"\n            ],\n            \"extensions\": [\n                \"ANGLE_instanced_arrays\",\n                \"EXT_blend_minmax\",\n                \"EXT_clip_control\",\n                \"EXT_color_buffer_half_float\",\n                \"EXT_depth_clamp\",\n                \"EXT_disjoint_timer_query\",\n                \"EXT_float_blend\",\n                \"EXT_frag_depth\",\n                \"EXT_polygon_offset_clamp\",\n                \"EXT_shader_texture_lod\",\n                \"EXT_texture_compression_bptc\",\n                \"EXT_texture_compression_rgtc\",\n                \"EXT_texture_filter_anisotropic\",\n                \"EXT_texture_mirror_clamp_to_edge\",\n                \"EXT_sRGB\",\n                \"KHR_parallel_shader_compile\",\n                \"OES_element_index_uint\",\n                \"OES_fbo_render_mipmap\",\n                \"OES_standard_derivatives\",\n                \"OES_texture_float\",\n                \"OES_texture_float_linear\",\n                \"OES_texture_half_float\",\n                \"OES_texture_half_float_linear\",\n                \"OES_vertex_array_object\",\n                \"WEBGL_blend_func_extended\",\n                \"WEBGL_color_buffer_float\",\n                \"WEBGL_compressed_texture_astc\",\n                \"WEBGL_compressed_texture_etc\",\n                \"WEBGL_compressed_texture_etc1\",\n                \"WEBGL_compressed_texture_pvrtc\",\n                \"WEBGL_compressed_texture_s3tc\",\n                \"WEBGL_compressed_texture_s3tc_srgb\",\n                \"WEBGL_debug_renderer_info\",\n                \"WEBGL_debug_shaders\",\n                \"WEBGL_depth_texture\",\n                \"WEBGL_draw_buffers\",\n                \"WEBGL_lose_context\",\n                \"WEBGL_multi_draw\",\n                \"WEBGL_polygon_mode\"\n            ],\n            \"extensionParameters\": [\n                \"CLIP_DEPTH_MODE_EXT=37725\",\n                \"CLIP_ORIGIN_EXT=37724\",\n                \"COLOR_ATTACHMENT0_WEBGL=36064\",\n                \"COLOR_ATTACHMENT10_WEBGL=36074\",\n                \"COLOR_ATTACHMENT11_WEBGL=36075\",\n                \"COLOR_ATTACHMENT12_WEBGL=36076\",\n                \"COLOR_ATTACHMENT13_WEBGL=36077\",\n                \"COLOR_ATTACHMENT14_WEBGL=36078\",\n                \"COLOR_ATTACHMENT15_WEBGL=36079\",\n                \"COLOR_ATTACHMENT1_WEBGL=36065\",\n                \"COLOR_ATTACHMENT2_WEBGL=36066\",\n                \"COLOR_ATTACHMENT3_WEBGL=36067\",\n                \"COLOR_ATTACHMENT4_WEBGL=36068\",\n                \"COLOR_ATTACHMENT5_WEBGL=36069\",\n                \"COLOR_ATTACHMENT6_WEBGL=36070\",\n                \"COLOR_ATTACHMENT7_WEBGL=36071\",\n                \"COLOR_ATTACHMENT8_WEBGL=36072\",\n                \"COLOR_ATTACHMENT9_WEBGL=36073\",\n                \"COMPLETION_STATUS_KHR=37297\",\n                \"COMPRESSED_R11_EAC=37488\",\n                \"COMPRESSED_RED_GREEN_RGTC2_EXT=36285\",\n                \"COMPRESSED_RED_RGTC1_EXT=36283\",\n                \"COMPRESSED_RG11_EAC=37490\",\n                \"COMPRESSED_RGB8_ETC2=37492\",\n                \"COMPRESSED_RGB8_PUNCHTHROUGH_ALPHA1_ETC2=37494\",\n                \"COMPRESSED_RGBA8_ETC2_EAC=37496\",\n                \"COMPRESSED_RGBA_ASTC_10x10_KHR=37819\",\n                \"COMPRESSED_RGBA_ASTC_10x5_KHR=37816\",\n                \"COMPRESSED_RGBA_ASTC_10x6_KHR=37817\",\n                \"COMPRESSED_RGBA_ASTC_10x8_KHR=37818\",\n                \"COMPRESSED_RGBA_ASTC_12x10_KHR=37820\",\n                \"COMPRESSED_RGBA_ASTC_12x12_KHR=37821\",\n                \"COMPRESSED_RGBA_ASTC_4x4_KHR=37808\",\n                \"COMPRESSED_RGBA_ASTC_5x4_KHR=37809\",\n                \"COMPRESSED_RGBA_ASTC_5x5_KHR=37810\",\n                \"COMPRESSED_RGBA_ASTC_6x5_KHR=37811\",\n                \"COMPRESSED_RGBA_ASTC_6x6_KHR=37812\",\n                \"COMPRESSED_RGBA_ASTC_8x5_KHR=37813\",\n                \"COMPRESSED_RGBA_ASTC_8x6_KHR=37814\",\n                \"COMPRESSED_RGBA_ASTC_8x8_KHR=37815\",\n                \"COMPRESSED_RGBA_BPTC_UNORM_EXT=36492\",\n                \"COMPRESSED_RGBA_PVRTC_2BPPV1_IMG=35843\",\n                \"COMPRESSED_RGBA_PVRTC_4BPPV1_IMG=35842\",\n                \"COMPRESSED_RGBA_S3TC_DXT1_EXT=33777\",\n                \"COMPRESSED_RGBA_S3TC_DXT3_EXT=33778\",\n                \"COMPRESSED_RGBA_S3TC_DXT5_EXT=33779\",\n                \"COMPRESSED_RGB_BPTC_SIGNED_FLOAT_EXT=36494\",\n                \"COMPRESSED_RGB_BPTC_UNSIGNED_FLOAT_EXT=36495\",\n                \"COMPRESSED_RGB_ETC1_WEBGL=36196\",\n                \"COMPRESSED_RGB_PVRTC_2BPPV1_IMG=35841\",\n                \"COMPRESSED_RGB_PVRTC_4BPPV1_IMG=35840\",\n                \"COMPRESSED_RGB_S3TC_DXT1_EXT=33776\",\n                \"COMPRESSED_SIGNED_R11_EAC=37489\",\n                \"COMPRESSED_SIGNED_RED_GREEN_RGTC2_EXT=36286\",\n                \"COMPRESSED_SIGNED_RED_RGTC1_EXT=36284\",\n                \"COMPRESSED_SIGNED_RG11_EAC=37491\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_10x10_KHR=37851\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_10x5_KHR=37848\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_10x6_KHR=37849\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_10x8_KHR=37850\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_12x10_KHR=37852\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_12x12_KHR=37853\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_4x4_KHR=37840\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_5x4_KHR=37841\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_5x5_KHR=37842\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_6x5_KHR=37843\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_6x6_KHR=37844\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_8x5_KHR=37845\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_8x6_KHR=37846\",\n                \"COMPRESSED_SRGB8_ALPHA8_ASTC_8x8_KHR=37847\",\n                \"COMPRESSED_SRGB8_ALPHA8_ETC2_EAC=37497\",\n                \"COMPRESSED_SRGB8_ETC2=37493\",\n                \"COMPRESSED_SRGB8_PUNCHTHROUGH_ALPHA1_ETC2=37495\",\n                \"COMPRESSED_SRGB_ALPHA_BPTC_UNORM_EXT=36493\",\n                \"COMPRESSED_SRGB_ALPHA_S3TC_DXT1_EXT=35917\",\n                \"COMPRESSED_SRGB_ALPHA_S3TC_DXT3_EXT=35918\",\n                \"COMPRESSED_SRGB_ALPHA_S3TC_DXT5_EXT=35919\",\n                \"COMPRESSED_SRGB_S3TC_DXT1_EXT=35916\",\n                \"CURRENT_QUERY_EXT=34917\",\n                \"DEPTH_CLAMP_EXT=34383\",\n                \"DRAW_BUFFER0_WEBGL=34853=1029\",\n                \"DRAW_BUFFER10_WEBGL=34863\",\n                \"DRAW_BUFFER11_WEBGL=34864\",\n                \"DRAW_BUFFER12_WEBGL=34865\",\n                \"DRAW_BUFFER13_WEBGL=34866\",\n                \"DRAW_BUFFER14_WEBGL=34867\",\n                \"DRAW_BUFFER15_WEBGL=34868\",\n                \"DRAW_BUFFER1_WEBGL=34854=1029\",\n                \"DRAW_BUFFER2_WEBGL=34855\",\n                \"DRAW_BUFFER3_WEBGL=34856\",\n                \"DRAW_BUFFER4_WEBGL=34857\",\n                \"DRAW_BUFFER5_WEBGL=34858\",\n                \"DRAW_BUFFER6_WEBGL=34859\",\n                \"DRAW_BUFFER7_WEBGL=34860\",\n                \"DRAW_BUFFER8_WEBGL=34861\",\n                \"DRAW_BUFFER9_WEBGL=34862\",\n                \"FRAGMENT_SHADER_DERIVATIVE_HINT_OES=35723=4352\",\n                \"FRAMEBUFFER_ATTACHMENT_COLOR_ENCODING_EXT=33296\",\n                \"FRAMEBUFFER_ATTACHMENT_COMPONENT_TYPE_EXT=33297\",\n                \"FRAMEBUFFER_ATTACHMENT_COMPONENT_TYPE_EXT=33297\",\n                \"GPU_DISJOINT_EXT=36795=false\",\n                \"HALF_FLOAT_OES=36193\",\n                \"LOWER_LEFT_EXT=36001\",\n                \"MAX_COLOR_ATTACHMENTS_WEBGL=36063=8\",\n                \"MAX_DRAW_BUFFERS_WEBGL=34852=8\",\n                \"MAX_DUAL_SOURCE_DRAW_BUFFERS_WEBGL=35068\",\n                \"MAX_EXT=32776\",\n                \"MAX_TEXTURE_MAX_ANISOTROPY_EXT=34047=16\",\n                \"MIN_EXT=32775\",\n                \"MIRROR_CLAMP_TO_EDGE_EXT=34627\",\n                \"NEGATIVE_ONE_TO_ONE_EXT=37726\",\n                \"ONE_MINUS_SRC1_ALPHA_WEBGL=35067\",\n                \"ONE_MINUS_SRC1_COLOR_WEBGL=35066\",\n                \"POLYGON_OFFSET_CLAMP_EXT=36379\",\n                \"QUERY_COUNTER_BITS_EXT=34916\",\n                \"QUERY_RESULT_AVAILABLE_EXT=34919\",\n                \"QUERY_RESULT_EXT=34918\",\n                \"RGB16F_EXT=34843\",\n                \"RGBA16F_EXT=34842\",\n                \"RGBA32F_EXT=34836\",\n                \"SRC1_ALPHA_WEBGL=34185\",\n                \"SRC1_COLOR_WEBGL=35065\",\n                \"SRGB8_ALPHA8_EXT=35907\",\n                \"SRGB_ALPHA_EXT=35906\",\n                \"SRGB_EXT=35904\",\n                \"TEXTURE_MAX_ANISOTROPY_EXT=34046\",\n                \"TIMESTAMP_EXT=36392=0\",\n                \"TIME_ELAPSED_EXT=35007\",\n                \"UNMASKED_RENDERER_WEBGL=37446\",\n                \"UNMASKED_VENDOR_WEBGL=37445\",\n                \"UNSIGNED_INT_24_8_WEBGL=34042\",\n                \"UNSIGNED_NORMALIZED_EXT=35863\",\n                \"UNSIGNED_NORMALIZED_EXT=35863\",\n                \"UPPER_LEFT_EXT=36002\",\n                \"VERTEX_ARRAY_BINDING_OES=34229=null\",\n                \"VERTEX_ATTRIB_ARRAY_DIVISOR_ANGLE=35070\",\n                \"ZERO_TO_ONE_EXT=37727\"\n            ],\n            \"unsupportedExtensions\": [\n\n            ]\n        },\n        \"duration\": 12\n    }\n};\n\nfor (const item of $input.all()) {\n  sse.fonts.value[4] = $input.first().json.uuid.replaceAll('-', '');\n  let session_token = em(sse);\n  session_token = \"cf99f4acc1e9e7b42c58d23cce7a6c02\";\n  item.json.session_token = session_token + \"0\";\n\n}\n\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        16
      ],
      "id": "00320762-381c-4e69-bc8e-3ec57abb7053",
      "name": "Code2"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        16
      ],
      "id": "1bf510dd-5b30-4239-9a1e-77dcec1a320b",
      "name": "Wait1",
      "webhookId": "b2435894-b3d8-4224-a841-ee01ecac55e1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        16
      ],
      "id": "59b03b28-4673-4672-8ec0-22bbe081046b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2272,
        88
      ],
      "id": "a5a2db66-cd4c-437e-b998-a513b6e66650",
      "name": "Limit"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "03a1ae04-58a3-4066-8c56-c02f5064a1ec",
  "owner": {
    "type": "personal",
    "projectId": "0cfCdy28RhDft3mL",
    "projectName": "寿来 杨 <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "tXbrPLEAcjwVXk68",
  "isArchived": false
}