workflows/cFMzCbYiwHhagkE3.json
{
  "id": "cFMzCbYiwHhagkE3",
  "name": "定时任务",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "a4b847ab-49dd-4c55-801c-84b3bc223114",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "subscriptions",
          "mode": "list",
          "cachedResultName": "subscriptions"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "active",
              "value": "true"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "chat_id",
            "username"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "cd968dcb-f875-4d1e-903f-b269047d743b",
      "name": "查询所有订阅",
      "credentials": {
        "postgres": {
          "id": "E8sSOvQ08v4CZXDR",
          "name": "iwallpapers"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "id": "4118906f-704b-49e2-90d9-4bc5ee85bbfb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l8Q1yOALQQCgrKS0",
          "mode": "list",
          "cachedResultUrl": "/workflow/l8Q1yOALQQCgrKS0",
          "cachedResultName": "发送壁纸"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id.toNumber() }}",
            "nsfw": -1,
            "sendErrorMsg": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "nsfw",
              "displayName": "nsfw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "sendErrorMsg",
              "displayName": "sendErrorMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        672,
        112
      ],
      "id": "f057797d-e94d-49dc-a459-0ffd19fef1bf",
      "name": "Execute Workflow"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "查询所有订阅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询所有订阅": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "97a4c505-a248-4be8-b9dc-400eafcb99cf",
  "owner": {
    "type": "personal",
    "projectId": "pskh8wmOtrNvczt8",
    "projectName": "寿来 shoulai.yang@gmail.com <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "5s3PR4wTbF5gcmj3",
  "isArchived": false
}