workflows/eUrh67lRYco4pXoI.json
{
  "id": "eUrh67lRYco4pXoI",
  "name": "天天美图",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb45c65-2bb6-4437-9fdc-3cb96cb96a32",
              "leftValue": "={{ !!$binary?.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -896
      ],
      "id": "e3017b1d-9c93-4bf4-bcac-195671f1c369",
      "name": "判断是否生成图片"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        -800
      ],
      "id": "91e117b8-906a-449f-9d36-72a137a3718f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "=随机生成一张 SFW 的图片\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -800
      ],
      "id": "f05f6ad8-8680-44ae-8fcb-841d6905103c",
      "name": "随机生成"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -992
      ],
      "id": "44f84332-2aee-46a6-9241-193585cb83c1",
      "name": "按用户要求生成"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3024,
        -992
      ],
      "id": "d2cf8c71-5ae7-4320-963e-8f82bf3c29df",
      "name": "Telegram  触发",
      "webhookId": "7cf6c991-87b2-4abc-9dc6-0df9b9314727",
      "credentials": {
        "telegramApi": {
          "id": "71ANt3iNMOuoARrU",
          "name": "@ttmtsfw_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSgv7aguQoGReRP7",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSgv7aguQoGReRP7",
          "cachedResultName": "天天美图 — 专业 AI 摄影师"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "# 角色定义\n你是一位拥有顶级审美的人像摄影大师，同时也是一位精通 AI 绘画（Stable Diffusion/Midjourney）的提示词专家。**你的核心特长是擅长捕捉女性极具诱惑力但又含蓄的高级性感瞬间。你的任务是根据用户的输入，构建极度真实、充满挑逗与引诱意味的轻度 NSFW 画面描述，通过清纯的面容与性感的身材形成强烈的视觉反差与张力。**\n\n## 核心指令\n你的目标是输出一段用于生成图片的 JSON 数据。你必须严格遵循以下逻辑进行创作：\n\n### 1. 用户意图分析\n*   **指定场景**：若用户提供具体场景（如“浴室”、“沙发”），必须**以此为核心**且符合现实逻辑。\n*   **随机/无指令**：若用户输入“随机”或仅打招呼，必须**在现实世界的范畴内**自由发挥（如书店、雨夜车内、电梯间等）。\n\n### 2. 绝对固定的人物设定\n画面主体永远是同一位女性，具体细节如下：\n*   **身份/气质**：**18岁至28岁**的中国美女，**瓜子脸或鹅蛋脸**，**气质清纯无辜**，具备典型的东方美感。\n*   **面部特征**：**严禁**出现“潮红”、“红润”。**必须**使用“素颜”、“冷白皮”、“面容白皙”等词，强调皮肤的真实纹理与毛孔细节。\n*   **身高特征**：设定在 **168cm 至 175cm** 之间，每次生成**必须随机指定一个具体数字**（如“身高172cm”）。\n*   **身材特征**：重点展现曼妙身姿与玲珑曲线（如蜂腰翘臀、丰满紧致、修长美腿），务必突出S型优美体态。\n\n### 3. 场景与风格限制\n*   **极度写实**：画面必须是**100% 摄影写实风格**，强调“RAW原片感”、“皮肤纹理清晰”、“单反拍摄”。**严禁**任何磨皮、CG、3D或油画感。\n*   **场景设计**：必须是**真实世界存在的地方**，严禁科幻或魔幻背景。\n*   **服装与脚部强制设计**：\n    *   服饰必须现实且符合场景。\n    *   **脚部强制遮盖**：**严禁**裸露脚部或脚趾。**必须**穿全包裹的鞋子（高跟鞋、长靴、运动鞋）或不露趾的袜子（连裤袜、黑丝、白袜）。**严禁**出现凉鞋、拖鞋。\n\n### 4. 画面内容与尺度把控\n*   **尺度要求**：**轻度 NSFW**，点到为止。通过清纯长相与性感身材的反差制造高级性张力。\n*   **动作与镜头**：运用专业运镜（过肩、特写），通过眼神交流、肢体语言（如撩发、伸展）传达诱惑。\n*   **禁止的情节**：禁止露骨描写性器官或直接性行为。\n\n### 5. 输出格式与限制\n*   **语言**：**中文**。\n*   **字数**：严格控制在 **120 字以内**，语句流畅自然。\n*   **图片比例**：`ratio` 字段必须从 **1:1、4:3、3:4、9:16、16:9** 中选择其一。\n*   **格式**：输出纯净 JSON 字符串，无换行符。\n\n## 思考与自检流程\n在输出前进行后台自检（不输出）：\n1.  **极度真实性**：是否像未修图的RAW照片？皮肤有质感吗？\n2.  **人物核对**：18-28岁？瓜子/鹅蛋脸？气质清纯？身高168-175cm？冷白皮无潮红？\n3.  **脚部检查**：**是否已强制穿鞋或袜，且不露脚趾？**\n4.  **字数检查**：**是否控制在120字以内？**\n5.  **格式检查**：JSON是否合法？Ratio是否合规？\n\n## 输出 JSON 模板\n```json\n{\"prompt\": \"在这里填写你的中文画面描述\", \"ratio\": \"9:16\", \"nsfw\": \"true\"}\n```\n\n## 示例\n**示例 1（用户指定：厨房）**\n**输入**：厨房，做饭\n**输出**：{\"prompt\": \"20岁清纯美女，鹅蛋脸冷白皮，皮肤纹理极度真实。身高170cm，S型身材。明亮厨房内，她身穿宽松白衬衫遮住大腿，脚踩纯白棉袜。倚靠流理台领口微张，眼神无辜又迷离，充满居家诱惑。RAW原片感，光影自然。\", \"ratio\": \"16:9\", \"nsfw\": \"true\"}\n\n**示例 2（用户输入：随机）**\n**输入**：随机\n**输出**：{\"prompt\": \"24岁瓜子脸美女，气质清纯，面容白皙素颜。夜晚街头，她身高174cm，身穿黑色包臀裙勾勒惊人腰臀比，脚踩尖头高跟鞋。回眸瞬间发丝微乱，眼神深情含羞。8k超清，毛孔细节可见，极致摄影写实。\", \"ratio\": \"9:16\", \"nsfw\": \"true\"}",
            "userPrompt": "={{ $json.initPrompt }}",
            "memory_collection": "ttmt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_collection",
              "displayName": "memory_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -896
      ],
      "id": "00a653a1-aeaa-4af0-a9b8-3c4cd1dc6c40",
      "name": "Call '专业 AI 摄影师'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "file_id",
              "value": "={{ $json.result.photo[4].file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -992
      ],
      "id": "a46fa07b-b7a7-4e03-88e3-bad341fda16d",
      "name": "记录图片文件 ID"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$vars.TG_CHAT_ID_CHANNEL_MTL}}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}",
          "has_spoiler": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2128,
        -992
      ],
      "id": "a2b4adec-ed45-48bc-bb64-e5d32c33e6b4",
      "name": "发送图片二进制",
      "webhookId": "d77ffec2-3b00-471a-aae4-52cf13901e08",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "RGKr0LfSv0GjIBKA",
          "name": "@ttmtnsfw_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0b43fc3-5834-4392-9fb5-247fb73eb05c",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        -800
      ],
      "id": "a37ce6f7-b0da-4eb7-b0b3-013afeb72441",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fsYGyED8MoPFKjVN",
          "mode": "list",
          "cachedResultUrl": "/workflow/fsYGyED8MoPFKjVN",
          "cachedResultName": "AImage 文件上传 - Binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nsfw": "={{ $json.nsfw }}",
            "prompt": "={{ $json.prompt }}",
            "model": "Z-Image-Turbo",
            "binaryFieldName": "data"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nsfw",
              "displayName": "nsfw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2128,
        -800
      ],
      "id": "559583a7-4a47-4d6e-bf4e-b0559def4ff5",
      "name": "Call 'AImage 文件上传 - Binary'"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "prompt",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}"
            },
            {
              "key": "ratio",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.ratio }}"
            },
            {
              "key": "nsfw",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw ? 'true' : 'false' }}"
            },
            {
              "key": "width",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.width }}"
            },
            {
              "key": "height",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.height }}"
            },
            {
              "key": "provider",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.provider }}"
            },
            {
              "key": "image",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -800
      ],
      "id": "b01c74e3-6623-45d7-ba27-21c3fd956ac7",
      "name": "记录绘画信息"
    }
  ],
  "connections": {
    "判断是否生成图片": {
      "main": [
        [
          {
            "node": "发送图片二进制",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'AImage 文件上传 - Binary'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "随机生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "随机生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按用户要求生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram  触发": {
      "main": [
        [
          {
            "node": "按用户要求生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '专业 AI 摄影师'": {
      "main": [
        [
          {
            "node": "判断是否生成图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送图片二进制": {
      "main": [
        [
          {
            "node": "记录图片文件 ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "记录绘画信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AImage 文件上传 - Binary'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Y8yqM2jq5lsYpreo"
  },
  "triggerCount": 2,
  "versionId": "a0fd4b4d-bf38-4abf-ac74-be55b745d2d9",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": null,
  "isArchived": false
}