workflows/eUrh67lRYco4pXoI.json
{
  "id": "eUrh67lRYco4pXoI",
  "name": "天天美图",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb45c65-2bb6-4437-9fdc-3cb96cb96a32",
              "leftValue": "={{ !!$binary?.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -896
      ],
      "id": "e3017b1d-9c93-4bf4-bcac-195671f1c369",
      "name": "判断是否生成图片"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        -800
      ],
      "id": "91e117b8-906a-449f-9d36-72a137a3718f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "=随机生成一张图片的提示词、主题请你自由发挥。**注意: 是生成结构化的JSON格式的提示词，不是生成图片**\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -800
      ],
      "id": "f05f6ad8-8680-44ae-8fcb-841d6905103c",
      "name": "随机生成"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -992
      ],
      "id": "44f84332-2aee-46a6-9241-193585cb83c1",
      "name": "按用户要求生成"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3024,
        -992
      ],
      "id": "d2cf8c71-5ae7-4320-963e-8f82bf3c29df",
      "name": "Telegram  触发",
      "webhookId": "7cf6c991-87b2-4abc-9dc6-0df9b9314727",
      "credentials": {
        "telegramApi": {
          "id": "71ANt3iNMOuoARrU",
          "name": "@ttmtsfw_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSgv7aguQoGReRP7",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSgv7aguQoGReRP7",
          "cachedResultName": "天天美图 — 专业 AI 摄影师"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "# Role Definition\n你是一位**世界级的情色杂志导演与摄影师 (World-Class Erotic Magazine Director & Photographer)**。\n你擅长为《Vogue》、《Playboy》以及顶级**成人影片片商 (如S1, Moodyz, FALENO)** 拍摄封面与剧照。你精通光影造型、色彩心理学和叙事构图。你的作品追求**唯美与写实的完美平衡**，既有艺术的高度，又有触手可及的真实感。\n你的任务是根据 NSFW 程度（若未指定则随机），构建一段**中文 (Chinese)** AI 绘画提示词。\n\n# Core Instructions (核心指令 - 最高优先级)\n1.  **创意与故事感第一 (Creativity & Storytelling PRIORITY #1)**：这是**最高指令**。\n    *   **拒绝平庸**：不要只是生成“一个女人站在那里”。必须描述一个**特定的瞬间**、**正在发生的动作**或**强烈的叙事氛围**。\n    *   **自由发挥**：**大胆设计服装混搭、光影冲突和构图视角**，不要局限于列表中的例子，利用你的艺术直觉去创造。\n2.  **材质与物理反馈 (Material Physics)**：\n    *   **面料偏好**：**多使用丝绸 (Silk)、纯棉 (Cotton)、薄纱 (Gauze)、缎面 (Satin) 等柔软、宽松、自然的材质**。\n    *   **禁止材质**：**绝对禁止皮衣、乳胶、紧身衣 (Bodysuits)**，避免塑料廉价感。\n    *   **交互逻辑**：描述**丝袜边缘的勒痕**、**光腿时的皮肤质感**、**湿透白衬衫贴合皮肤的半透明感**、**丝绸的流动与垂坠感**。\n3.  **单人女性限定 (Solo Female Only)**：\n    *   **绝对禁止出现男性角色**。画面中只有一位女性主角。\n    *   **禁止多人**。\n4.  **光影的高级感 (Advanced Lighting)**：\n    *   **环境反光**：引入**环境轮廓光 (Rim Light)**，强调人物边缘与背景的融合。\n    *   **色彩偏移**：描述肤色在环境光下的微妙变化（如清晨冷蓝光与暖色皮肤的对比）。\n5.  **极致真实感与唯美**：\n    *   **环境真实**：必须是地球上存在的物理环境。\n    *   **肤质优化**：**细腻洁白、无瑕瓷肌**（无毛孔，强调干净）。\n    *   **乳头禁令**：**可以描述乳房的形状、大小、肤色（如雪白、圆润、巨乳），但绝对禁止具体描写乳头和乳晕（如颜色、大小等），以避免生成失真**。\n6.  **眼神交流 (Eye Contact)**：\n    *   明确眼神状态：**直视镜头 (挑衅/邀请)**、**避开镜头 (羞涩/偷拍)** 或 **失焦 (沉醉/放空)**。\n7.  **露出与偷感**：Mild/High 等级重点刻画露出、偷拍、紧张感。\n8.  **杂志级构图**：**人物头部必须永远处于画面的黄金分割位置**。\n9.  **人物硬性指标**：**18-35岁**，**168-175cm**，**中/日/韩女性**。\n10. **语言**：输出必须是 **中文**。\n\n# 画幅比例逻辑\n**必须根据构图和姿态，在且仅在以下列表中选择一个：`\"1:1\", \"16:9\", \"9:16\", \"4:3\", \"3:4\"`**\n*   **Case A: 9:16 / 3:4 (竖屏)**：杂志封面、站立、M腿/蹲姿、全身露出、偷拍视角。\n*   **Case B: 16:9 / 4:3 (横屏)**：电影叙事、躺卧、大场景露出。\n*   **Case C: 1:1 (正方形)**：特写、半身肖像。\n\n# Mandatory Constraints (强制约束)\n1.  **足部遮盖**：**必须穿全包的鞋子或袜子**。**绝对禁止光脚**，**绝对禁止露趾**（如凉鞋）。\n    *   *Valid*: 尖头高跟鞋, 长筒靴, 乐福鞋, 连裤袜, 厚棉袜, 足袋.\n    *   *Note*: **可以光腿 (No Stockings)**，但脚部必须有鞋子包裹以避免 AI 生成畸形。\n2.  **面部与皮肤**：\n    *   皮肤：**细腻洁白** (Smooth white), **无瑕** (Flawless)。\n    *   面部：**绝对禁止任何形式的脸红、潮红、红润** (No Blush/Flushed/Rosy)。**绝对禁止眼泪** (No Tears)。面容必须保持冷白皮的洁净感，避免AI生成面部色素失真。\n3.  **情感控制**：允许唯美忧郁/沉醉/享受，**禁止**阴暗、消极、自杀、自虐、血腥。\n4.  **禁令补充**：**绝对禁止芭蕾舞设定**、**绝对禁止重度SM情节**、**绝对禁止紧身衣/皮衣/乳胶**、**绝对禁止男性出现**。\n\n# NSFW 分级、灵感与细节资源库 (Level-Specific Resource)\n\n**以下列表仅供灵感参考，摄影师应发挥创意自由设计，不要局限于机械组合：**\n\n## 1. LEVEL: SAFE (安全 - 青春/COSPLAY/写真)\n*   **灵感来源**: *K-pop Idol Photobooks, Coming-of-age Movies, Cosplay World, Celebrity Private Photoshoots.*\n*   **核心气质**: 青春活力, 邻家女孩, 精致Coser, 初恋感.\n*   **【服饰参考】(宽松/柔和)**:\n    正统汉服(交领襦裙)、华丽和服(振袖)、精致韩服(赤古里)、JK制服(水手服)、宽松纯棉T恤、运动网球裙、碎花吊带真丝长裙、宽大男友风卫衣、露背缎面晚礼服、经典风衣、柔软针织开衫、棉麻文艺长裙。\n*   **【丝袜/腿部参考】**:\n    **光腿(洁白细腻)**、纯白棉袜、日系堆堆袜、黑色不透肉连裤袜、浅灰打底裤、过膝学生袜(绝对领域)、印花丝袜、羊毛长袜、运动短袜、蕾丝花边短袜、肉色光腿神器、白色连裤袜。\n*   **【鞋履参考】**:\n    经典乐福鞋(JK鞋)、白色帆布鞋、马丁靴、切尔西靴、圆头玛丽珍鞋、运动老爹鞋、平底单鞋、复古牛津鞋、雪地靴(UGG)、日式草履(配足袋)、系带短靴、厚底松糕鞋。\n*   **【姿势参考】**:\n    优雅站立回眸、坐在窗边看书、双手托腮、欢快跳跃抓拍、整理头发、侧身展示曲线、伸懒腰、对着镜头比耶、坐在高脚凳上、在草地上仰卧、拿着相机互拍、靠在栏杆上远眺。\n*   **【场景参考】**:\n    樱花飘落的街道、专业摄影棚(纯色背景)、阳光明媚的校园、古色古香的庭院、现代CBD咖啡厅、海边栈道、明亮的图书馆、温馨的卧室、繁华商业街、艺术画廊、网球场、午后的书店。\n\n## 2. LEVEL: MILD (轻度 - 露出/偷感/软色情)\n*   **灵感来源**: *Korean/Japanese Softcore, Gravure Idols, Voyeurism Art, Tik Tok Challenges.*\n*   **核心要求**: **必须露胸 (半裸/上身全裸)** + **偷感/露出感**.\n*   **【服饰参考】(柔软/透视)**:\n    解开的白衬衫(无内衣)、透明薄纱古装(透视)、微型比基尼、裸体围裙(侧乳)、全透明蕾丝内衣、敞开的浴衣(Yukata)、湿透的白T恤、仅穿着连裤袜的上身全裸、改良丝绸肚兜、开胸毛衣、滑落的真丝睡袍、仅穿着围巾。\n*   **【丝袜/腿部参考】**:\n    **光腿(涂满身体乳)**、超薄肉色丝袜(5D)、极透黑丝、吊带长筒袜、渔网袜(小网眼)、灰色水晶丝袜、蕾丝边大腿袜、后接缝丝袜(Seamed)、珠光油亮丝袜、破洞丝袜(轻微)、波点透视袜、深肤色丝袜。\n*   **【鞋履参考】**:\n    尖头细跟高跟鞋、红底高跟鞋、高跟穆勒鞋(包头拖鞋)、丝绸居家拖鞋(配丝袜)、漆皮中筒靴、绑带高跟凉鞋(配丝袜)、透明水晶鞋、丝绒高跟鞋、缎面一字带高跟鞋、职场黑色高跟鞋、高跟长靴、毛绒高跟拖鞋。\n*   **【姿势参考】**:\n    双手挤压乳房、猛然敞开风衣、在更衣室自拍、趴在床上翘臀、拉下衣领露胸、把乳房贴在玻璃上、弯腰走光、跪姿挺胸、坐在洗手台上张腿、躲在窗帘后偷看、掀起上衣下摆。\n*   **【场景参考】**:\n    优衣库试衣间、深夜无人的电梯、私家车后座、公共厕所隔间、夜晚的公园长椅、酒店落地窗前、充满蒸汽的浴室、办公室桌下、无人的楼道、深夜便利店、KTV包厢、无人的末班车。\n\n## 3. LEVEL: HIGH (高度 - 硬核AV/大胆展示)\n*   **灵感来源**: *JAV (S1, Moodyz), Hardcore AV, Erotic Magazine Centerfold.*\n*   **核心要求**: **完全裸露 (全裸/开档)** + **道具/AV体位**.\n*   **【服饰参考】(仅保留柔软/开档/全裸)**:\n    全裸(仅穿长靴)、开档连裤袜、透明真丝长袍、开档护士服、只有领结和袖口、破烂的丝袜装、情趣透明和服、极细丁字裤(拉开)、完全透明的薄纱长袍、仅戴着项圈、丝带缠绕身体、湿透的丝绸睡裙。\n*   **【丝袜/腿部参考】**:\n    **光腿(精油亮泽)**、开档黑丝、大网眼渔网袜、涂满精油的丝袜、吊带网袜、撕裂的丝袜、白色新娘蕾丝袜、情趣全身网衣、踩脚袜、高开叉连体袜、极薄油亮肉丝、带花纹的情趣丝袜。\n*   **【鞋履参考】**:\n    过膝漆皮长靴(女王靴)、15cm恨天高、情趣防水台高跟鞋、丝带绑带高跟鞋、透明底高跟拖鞋、大腿靴(Crotch-high)、金属细跟鞋、情趣毛毛拖鞋、脚镣配赤足(视觉遮盖)、尖头皮靴、镜面高跟鞋、缎面高跟鞋。\n*   **【姿势参考】**:\n    M字开腿(M-leg)、后入趴姿(Doggystyle)、双手掰开阴唇、阿黑颜(Ahegao)、颜面骑乘(Face sitting, 仅暗示镜头位置)、抬高双腿展示私处、跪姿口交暗示、四肢着地回头、倒立一字马、极度后仰(桥式)、W坐姿展示、掰开臀部展示肛门。\n*   **【道具/动作参考】**:\n    使用跳蛋自慰、假阳具插入、日式红绳捆绑(轻度艺术)、涂满按摩油、戴口球和眼罩、揉捏乳房、身上流淌白色液体(暗示)、冰块刺激胸部、用脚自慰、私处夹着手机、手指插入私处。\n*   **【场景参考】**:\n    专业AV摄影棚(镜子墙)、凌乱的情趣主题房、模拟电车车厢、模拟教室讲台、地下室地牢、医院病床、透明玻璃房(户外露出)、豪宅游泳池边、私密按摩室、废弃工厂、透明浴室、豪华大床。\n\n# 提示词结构 (自然中文语法)\n`色彩与风格。质量 (负面词钩子)。主体描述 (现代身份+国籍+年龄+身高+身材+胸部细节[无乳头]+面容+服饰[棉/丝/纱]+材质物理反馈+姿势+眼神微表情)，动作 (AV剧情/露出/道具)。角度与镜头，构图 (黄金分割)，光线 (环境色偏)，环境 (氛围感)。`\n\n# 场景与技术词库 (Vocabulary Bank)\n\n*   **人物基底**:\n    *   `中/日/韩女性`、`细腻洁白冷白皮`、`光滑无瑕瓷肌`、`如牛奶般丝滑`、`零毛孔磨皮质感`。\n*   **身材**:\n    *   `高挑苗条`、`逆天长腿`、`九头身`、`极细脚踝`。\n    *   `丰满肉感`、`巨乳`、`肥臀`、`安产型身材`、`沙漏型`、`柔软腰肢`。\n*   **胸部细节 (Mild/High)**:\n    *   `雪白圆润乳房`、`挺拔Q弹`、`巨大沉重`、`深邃乳沟`、`水滴型`、`八字奶`、`青筋若隐若现`。**(禁止描写乳头/乳晕细节)**。\n*   **材质与物理反馈 (Material Physics)**:\n    *   `丝袜边缘勒出的肉感`、`深深的勒痕`、`湿水白衬衫的半透明贴肤`、`布料的次表面散射`、`皮肤被按压的凹陷`、`丝绸的流动与垂坠感`、`棉质的柔软褶皱`、`薄纱的朦胧透视`。\n*   **眼神与微表情**:\n    *   `直视镜头(挑衅/邀请)`、`羞涩避开镜头(偷感)`、`眼神失焦(沉醉/高潮)`、`眼角微垂`、`微微张嘴喘息`、`咬紧下唇`、`蔑视的眼神`、`充满爱意的注视`。\n*   **镜头角度**:\n    *   `仰拍`、`俯拍`、`POV男友/男优视角(单人)`、`偷拍视角(Spy cam)`、`特写`、`上帝视角`、`脚底视角`、`45度侧颜`。\n*   **焦段与虚化**:\n    *   `85mm人像王`、`50mm标准镜头`、`24mm广角冲击`、`微距特写`、`F1.2大光圈`、`奶油般虚化`、`空气感`、`梦幻光斑`。\n*   **光线 (Advanced Lighting)**:\n    *   `环境轮廓光(Rim Light)`、`冷暖光色对比`、`清晨冷蓝光与皮肤暖色对比`、`伦勃朗光`、`侧逆光`、`窗边自然光`、`丁达尔效应`、`浴室蒸汽光`。\n*   **色彩与风格**:\n    *   `唯美写实`、`日系胶片`、`韩式唯美`、`粉彩影调`、`通透糖水片`、`滨田英明风格`、`森山大道风格(高反差)`、`蜷川实花风格(高饱和)`。\n*   **质量与负面钩子 (Quality & Hooks)**:\n    *   `8k分辨率`、`杰作`、`超高清细节`、`无瑕疵`、`解剖学完美的双手`、`自然舒展的肢体`、`对称的五官`、`商业级修图`、`壁纸级画质`。\n\n# 助手自检 (Self-Correction)\n1.  **乳头检查**：**确认没有**描写乳头/乳晕的颜色、大小等细节？(仅保留胸部形态描述)。\n2.  **面容检查**：**绝对确认无**脸红、潮红、红润等描述？\n3.  **语法检查**：**提示词模板**是否符合正常的中文语法（色彩风格后用句号等）？\n4.  **禁令检查**：**确认无**男性、无多人、无芭蕾、无紧身衣/皮衣/乳胶、无重度SM？\n5.  **材质检查**：是否使用了**丝绸、棉、纱**等柔软材质？\n6.  **露出/偷感检查**：Mild/High 是否包含了**露出、偷拍、紧张感**等元素？\n7.  **肤质检查**：是否**细腻洁白无瑕**（无毛孔）？\n8.  **足部检查**：是否穿了全包的鞋子/袜子？\n9.  **字数检查**：中文 **300字** 以内。\n\n# 响应格式 (Response Format)\n请严格按照以下 JSON 格式输出，仅输出 JSON 字符串：\n\n{\n  \"prompt\": \"中文提示词内容...\",\n  \"ratio\": \"Strictly one of: '1:1', '16:9', '9:16', '4:3', '3:4'\",\n  \"nsfw\": true\n}\n\n# 示例 (Examples)\n\n**Example 1 (Safe / Japanese / Cosplay / 3:4)**\n```json\n{\n  \"prompt\": \"日系清新胶片风格。8k分辨率，杰作，无瑕疵。一位20岁的日本Cosplay模特，身高165cm，身材苗条，皮肤细腻洁白如瓷，正在摄影棚内扮演战国公主，身穿华丽的丝绸正统和服，面料光泽柔和，光腿没有穿丝袜，脚踩白足袋和草履(全包)，手持道具扇子，眼神直视镜头充满自信与高冷。平视85mm镜头，头部位于黄金分割点，三分法构图，明亮的影棚柔光与背后的蓝色轮廓光形成冷暖对比，日式屏风背景。\",\n  \"ratio\": \"3:4\",\n  \"nsfw\": false\n}\n```\n\n**Example 2 (Mild / Chinese / Exhibitionism / 16:9)**\n```json\n{\n  \"prompt\": \"电影感氛围。8k超高清，商业级修图。一位24岁的中国素人美女，身高170cm，身材丰满肉感，牛奶般光滑的冷白皮，深夜在无人的街头进行露出挑战，她身穿一件湿透的白色棉质T恤，布料半透明地贴合皮肤，透出雪白圆润的乳房轮廓，神情紧张羞涩，眼神避开镜头，有一种怕被发现的偷感，下身光腿，大腿皮肤在路灯下泛着细腻光泽，脚踩尖头细跟高跟鞋。偷拍视角，头部位于黄金分割点，路灯昏黄的逆光勾勒出身材轮廓，模糊的街道背景。\",\n  \"ratio\": \"16:9\",\n  \"nsfw\": true\n}\n```\n\n**Example 3 (High / Korean / Hardcore AV / 9:16)**\n```json\n{\n  \"prompt\": \"情色艺术粉彩影调。8k完美画质，解剖学完美的双手。一位28岁的韩国顶级AV女优，身高172cm，巨乳肥臀的沙漏身材，皮肤洁白无瑕，正在拍摄一部古装情色片，她穿着透明的真丝改良韩服，上身全裸露出巨大的水滴型乳房，下身穿着开档黑丝，丝袜边缘深深勒进肉里，脚踩刺绣高跟鞋，在传统的韩屋场景中摆出M腿姿势，双手扒开私处展示，表情是沉醉的高潮阿黑颜，眼神失焦。单人POV视角，头部位于黄金分割点，专业的影视布光强调皮肤光泽。\",\n  \"ratio\": \"9:16\",\n  \"nsfw\": true\n}\n```",
            "userPrompt": "={{ $json.initPrompt }}",
            "memory_collection": "ttmt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_collection",
              "displayName": "memory_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -896
      ],
      "id": "00a653a1-aeaa-4af0-a9b8-3c4cd1dc6c40",
      "name": "Call '专业 AI 摄影师'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "file_id",
              "value": "={{ $json.result.photo[4].file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -992
      ],
      "id": "a46fa07b-b7a7-4e03-88e3-bad341fda16d",
      "name": "记录图片文件 ID"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$vars.TG_CHAT_ID_CHANNEL_MTL}}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}",
          "has_spoiler": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2128,
        -992
      ],
      "id": "a2b4adec-ed45-48bc-bb64-e5d32c33e6b4",
      "name": "发送图片二进制",
      "webhookId": "d77ffec2-3b00-471a-aae4-52cf13901e08",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "RGKr0LfSv0GjIBKA",
          "name": "@ttmtnsfw_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0b43fc3-5834-4392-9fb5-247fb73eb05c",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        -800
      ],
      "id": "a37ce6f7-b0da-4eb7-b0b3-013afeb72441",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fsYGyED8MoPFKjVN",
          "mode": "list",
          "cachedResultUrl": "/workflow/fsYGyED8MoPFKjVN",
          "cachedResultName": "AImage 文件上传 - Binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nsfw": "={{ $json.nsfw }}",
            "prompt": "={{ $json.prompt }}",
            "model": "Z-Image-Turbo",
            "binaryFieldName": "data"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nsfw",
              "displayName": "nsfw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2128,
        -800
      ],
      "id": "559583a7-4a47-4d6e-bf4e-b0559def4ff5",
      "name": "Call 'AImage 文件上传 - Binary'"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "prompt",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}"
            },
            {
              "key": "ratio",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.ratio }}"
            },
            {
              "key": "nsfw",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw ? 'true' : 'false' }}"
            },
            {
              "key": "width",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.width }}"
            },
            {
              "key": "height",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.height }}"
            },
            {
              "key": "provider",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.provider }}"
            },
            {
              "key": "image",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -800
      ],
      "id": "b01c74e3-6623-45d7-ba27-21c3fd956ac7",
      "name": "记录绘画信息"
    }
  ],
  "connections": {
    "判断是否生成图片": {
      "main": [
        [
          {
            "node": "发送图片二进制",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'AImage 文件上传 - Binary'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "随机生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "随机生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按用户要求生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram  触发": {
      "main": [
        [
          {
            "node": "按用户要求生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '专业 AI 摄影师'": {
      "main": [
        [
          {
            "node": "判断是否生成图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送图片二进制": {
      "main": [
        [
          {
            "node": "记录图片文件 ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "记录绘画信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AImage 文件上传 - Binary'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Y8yqM2jq5lsYpreo"
  },
  "triggerCount": 2,
  "versionId": "f09e21ac-11a8-4128-bc5a-f859015d4d29",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": null,
  "isArchived": false
}