workflows/fsYGyED8MoPFKjVN.json
{
  "id": "fsYGyED8MoPFKjVN",
  "name": "AImage 文件上传 - Binary",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "binaryFieldName"
            },
            {
              "name": "prompt"
            },
            {
              "name": "nsfw",
              "type": "boolean"
            },
            {
              "name": "model"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -208
      ],
      "id": "ec84ea2e-ba8e-4a12-8917-744b517b8a16",
      "name": "参数入口"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c9265b3-d0e0-4817-b6b0-208f90e5d92a",
              "name": "imageUrl",
              "value": "=https://aimage.yangshoulai.site{{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -208
      ],
      "id": "c7fc6276-5f1c-4112-b11d-e462fda98b86",
      "name": "访问链接"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13940159-e23a-49c4-9b59-f1074304c174",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "aa0b553c-cfb7-4ad4-96a5-cbf34a387060",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -208
      ],
      "id": "a75d0a6c-7384-4ce6-a452-c4b034526e13",
      "name": "是否成功"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://aimage:8000/api/v1/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5740a12a7fb9bfe939ac81b9a266b38957018cbade7afd5138f5300b926e063d"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $json.binaryFieldName }}"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "nsfw",
              "value": "={{ JSON.stringify($json.nsfw )}}"
            },
            {
              "name": "model",
              "value": "={{ $json.model }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        -208
      ],
      "id": "bd8e8fa8-c332-4cd8-ad95-d432e036ca99",
      "name": "上传 AImage"
    }
  ],
  "connections": {
    "参数入口": {
      "main": [
        [
          {
            "node": "上传 AImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否成功": {
      "main": [
        [
          {
            "node": "访问链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传 AImage": {
      "main": [
        [
          {
            "node": "是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "0dcda81a-6e96-4814-a7ed-a42d1344f49f",
  "owner": {
    "type": "personal",
    "projectId": "pskh8wmOtrNvczt8",
    "projectName": "寿来 shoulai.yang@gmail.com <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "kOAooG2cBl8Xevpe",
  "isArchived": false
}