workflows/JLyAEdgxqUdhqGGQ.json
{
  "id": "JLyAEdgxqUdhqGGQ",
  "name": "测试",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        20
      ],
      "id": "a7a43cc5-f2ed-481a-8c36-098412d30999",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "\nconst results = [];\nfor(let i = 0; i < 10; i++){\n  results.push({id: i});\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        20
      ],
      "id": "654d0a15-7313-451f-8a2e-68ff5323e9f9",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        40,
        20
      ],
      "id": "aa05db8a-c2a9-48ad-832d-65424abc6807",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f60342bb-9be5-4510-a989-5d4979fa8381",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "21c1385c-5f00-42ca-b884-86c85425f578",
              "name": "idstr",
              "value": "=id - {{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        120
      ],
      "id": "e86dbaae-b82b-40ad-b476-37250b14ecae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        260,
        -76.77838134765625
      ],
      "id": "7c7f7047-4a9a-400f-9a1a-7df1c3649570",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "b1ecaee4-f08f-4250-af76-82398c8cd933",
  "owner": {
    "type": "personal",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": null,
  "isArchived": false
}