workflows/MRIxI1iqazUvj7VI.json
{
  "id": "MRIxI1iqazUvj7VI",
  "name": "EasyImg 文件上传 - Binary",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "binaryFieldName"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -208
      ],
      "id": "a665efa2-ec8d-4193-bfde-69103035a4f9",
      "name": "参数入口"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c9265b3-d0e0-4817-b6b0-208f90e5d92a",
              "name": "imageUrl",
              "value": "=https://easyimg.yangshoulai.site{{ $json.data.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -208
      ],
      "id": "c7001170-b5cd-44f7-86fa-bfb63bd8bba7",
      "name": "访问链接"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13940159-e23a-49c4-9b59-f1074304c174",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "aa0b553c-cfb7-4ad4-96a5-cbf34a387060",
              "leftValue": "={{ $json.data.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -208
      ],
      "id": "673e1c42-b64b-472f-815f-3979b4822a4b",
      "name": "是否成功"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://easyimg:3000/api/upload/private",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "sk-89a89687a7f2437faba751069b96294a"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $json.binaryFieldName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        144,
        -208
      ],
      "id": "98bfd900-c694-49af-a268-6e217157486e",
      "name": "上传 EasyImg"
    }
  ],
  "connections": {
    "参数入口": {
      "main": [
        [
          {
            "node": "上传 EasyImg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否成功": {
      "main": [
        [
          {
            "node": "访问链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传 EasyImg": {
      "main": [
        [
          {
            "node": "是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "7208def5-5c72-4ae9-9d52-52be45b1fb1b",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "人工智能"
  },
  "parentFolderId": "CeDrMLh1iRUlzFhI",
  "isArchived": false
}