workflows/nFAdBLyzCJYG6Rd2.json
{
  "id": "nFAdBLyzCJYG6Rd2",
  "name": "临时使用",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        288
      ],
      "id": "f5282a78-13c7-466c-bc8c-96899381ba9d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "hf:tokens:20251220"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -384,
        -144
      ],
      "id": "7ab95c6f-6fc6-4634-9837-7605f2ee47d2",
      "name": "删除 HuggingFace Tokens",
      "credentials": {
        "redis": {
          "id": "NpIOkpndAb3DOEMs",
          "name": "Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "gitee:tokens:20251220"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -384,
        48
      ],
      "id": "909f548c-290c-4ab0-81d4-ab9eb3078fd1",
      "name": "删除 Gitee Tokens",
      "credentials": {
        "redis": {
          "id": "NpIOkpndAb3DOEMs",
          "name": "Upstash"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "n8n_ttmt_chat_histories",
        "query": "={\"sessionId\": \"ttmt_wallpaper_master_{{ $json.date }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -96,
        576
      ],
      "id": "cee304d9-ccfc-4da7-9656-8ccf4dcc8f42",
      "name": "删除壁纸大师记忆",
      "credentials": {
        "mongoDb": {
          "id": "gHBWS9s71yffZkq8",
          "name": "腾讯云"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -448,
        1168
      ],
      "id": "a685287d-f7b9-48eb-b2b1-47a2df8d3488",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -384,
        1392
      ],
      "id": "0fbec2f2-db34-4363-b4d8-c2e84f52c31c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6QtS7ma73ZKRZmQX",
          "name": "yangshoulai"
        }
      }
    },
    {
      "parameters": {
        "url": "https://easyimg.yangshoulai.site/i/cd05957d-9291-420b-b73a-f9e60840d3f5.png",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        240
      ],
      "id": "6328b0c4-317a-4227-b9ad-822b3aeeb53c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1473202959",
        "binaryData": true,
        "additionalFields": {
          "has_spoiler": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -96,
        192
      ],
      "id": "f8f24930-a1f4-47ff-8d5f-ad28b5d92c4a",
      "name": "Send a photo message",
      "webhookId": "0f014d24-9b64-40be-a049-29a192eec27f",
      "credentials": {
        "telegramApi": {
          "id": "t57JKfWjEvG5Xeus",
          "name": "@ttmtsf_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MRIxI1iqazUvj7VI",
          "mode": "list",
          "cachedResultUrl": "/workflow/MRIxI1iqazUvj7VI",
          "cachedResultName": "人工智能 — EasyImg 文件上传 - Binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "binaryFieldName": "data"
          },
          "matchingColumns": [
            "binaryFieldName"
          ],
          "schema": [
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -96,
        384
      ],
      "id": "1187ac93-b302-4313-94f2-ed1e5350498b",
      "name": "Call 'EasyImg 文件上传 - Binary'"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "from datetime import datetime, timedelta\nfrom zoneinfo import ZoneInfo\n\nyesterday = datetime.now(ZoneInfo(\"Asia/Shanghai\")) - timedelta(days=0)\nyyyymmdd = yesterday.strftime('%Y%m%d')\n\nreturn [{\"date\": yyyymmdd}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        864
      ],
      "id": "2a148cf9-19e0-4cd9-aa6c-24af2267d97a",
      "name": "计算日期"
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "n8n_ttmt_chat_histories",
        "query": "={\"sessionId\": \"ttmt_{{ $json.date }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -96,
        768
      ],
      "id": "bdb301fc-7b23-47c9-8134-ac227bb449fb",
      "name": "删除 天天美图记忆",
      "credentials": {
        "mongoDb": {
          "id": "gHBWS9s71yffZkq8",
          "name": "腾讯云"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "n8n_ttmt_chat_histories",
        "query": "={\"sessionId\": \"ttmtnsfw_{{ $json.date }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -96,
        960
      ],
      "id": "1c452889-8d6f-4c6e-bdb4-5408f463e2db",
      "name": "删除 天天美图 NSFW 记忆",
      "credentials": {
        "mongoDb": {
          "id": "gHBWS9s71yffZkq8",
          "name": "腾讯云"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "n8n_ttmt_chat_histories",
        "query": "={\"sessionId\": \"ttmtsf_{{ $json.date }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -96,
        1152
      ],
      "id": "2dc80bd0-eb28-4227-ad61-828a7cef6a0d",
      "name": "删除 天天美图 私房 记忆",
      "credentials": {
        "mongoDb": {
          "id": "gHBWS9s71yffZkq8",
          "name": "腾讯云"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "901b615e-6e45-4455-bec1-3dd35fe9ce58",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "HcRpLQ8AC9QYmUDr",
          "name": "@shoulai.yang@gmail.com"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "删除 HuggingFace Tokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "删除 Gitee Tokens",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "计算日期",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "删除 Gitee Tokens": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'EasyImg 文件上传 - Binary'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算日期": {
      "main": [
        [
          {
            "node": "删除壁纸大师记忆",
            "type": "main",
            "index": 0
          },
          {
            "node": "删除 天天美图记忆",
            "type": "main",
            "index": 0
          },
          {
            "node": "删除 天天美图 NSFW 记忆",
            "type": "main",
            "index": 0
          },
          {
            "node": "删除 天天美图 私房 记忆",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "6c93d50c-36e3-417a-bd6b-c1ce8d225cf4",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": null,
  "isArchived": false
}