workflows/nOApQWdWQsRI9mpS.json
{
  "id": "nOApQWdWQsRI9mpS",
  "name": "deepai.org 文生图",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepai.org/api/text2img",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9,en;q=0.8"
            },
            {
              "name": "api-key",
              "value": "={{ $json.key }}"
            },
            {
              "name": "origin",
              "value": "https://deepai.org"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "image_generator_version",
              "value": "hd"
            },
            {
              "name": "use_old_model",
              "value": "false"
            },
            {
              "name": "quality",
              "value": "true"
            },
            {
              "name": "width",
              "value": "={{ $json.width }}"
            },
            {
              "name": "height",
              "value": "={{ $json.height }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -96
      ],
      "id": "398bff11-c4f6-4fec-a5a2-98a9a0faa7ff",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const UA = \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36\";\nfunction generateTryItApiKey() {\n        var myrandomstr = Math.round((Math.random() * 100000000000)) + \"\";\n        var myhashfunction = function() {\n            for (var a = [], b = 0; 64 > b; )\n                a[b] = 0 | 4294967296 * Math.sin(++b % Math.PI);\n            return function(c) {\n                var d, e, f, g = [d = 1732584193, e = 4023233417, ~d, ~e], h = [], l = unescape(encodeURI(c)) + \"\\u0080\", k = l.length;\n                c = --k / 4 + 2 | 15;\n                for (h[--c] = 8 * k; ~k; )\n                    h[k >> 2] |= l.charCodeAt(k) << 8 * k--;\n                for (b = l = 0; b < c; b += 16) {\n                    for (k = g; 64 > l; k = [f = k[3], d + ((f = k[0] + [d & e | ~d & f, f & d | ~f & e, d ^ e ^ f, e ^ (d | ~f)][k = l >> 4] + a[l] + ~~h[b | [l, 5 * l + 1, 3 * l + 5, 7 * l][k] & 15]) << (k = [7, 12, 17, 22, 5, 9, 14, 20, 4, 11, 16, 23, 6, 10, 15, 21][4 * k + l++ % 4]) | f >>> -k), d, e])\n                        d = k[1] | 0,\n                        e = k[2];\n                    for (l = 4; l; )\n                        g[--l] += k[l]\n                }\n                for (c = \"\"; 32 > l; )\n                    c += (g[l >> 3] >> 4 * (1 ^ l++) & 15).toString(16);\n                return c.split(\"\").reverse().join(\"\")\n            }\n        }();\n        var tryitApiKey = 'tryit-' + myrandomstr + '-' + myhashfunction(UA + myhashfunction(UA + myhashfunction(UA + myrandomstr + 'hackers_become_a_little_stinkier_every_time_they_hack')));\n        return tryitApiKey;\n    }\n\nconst resolutionMap = {\n  \"1:1\": [640, 640],\n  \"4:3\": [768, 576],\n  \"3:4\": [576, 768],\n  \"9:16\": [448, 832],\n  \"16:9\": [832, 448]\n};\n\nfor (const item of $input.all()) {\n  item.json.key = generateTryItApiKey();\n  if(!(item.json.ratio in resolutionMap)){\n    item.json.ratio = '1:1';\n  }\n  item.json.width = resolutionMap[item.json.ratio][0];\n  item.json.height = resolutionMap[item.json.ratio][1];\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -96
      ],
      "id": "40ced73c-eeca-413d-8523-e955795bdc1a",
      "name": "Code"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "width",
              "type": "number"
            },
            {
              "name": "height",
              "type": "number"
            },
            {
              "name": "batch",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -752,
        -96
      ],
      "id": "4941625b-dcdf-4f22-9052-ae6d124492bb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const gcd = (a, b) => b === 0 ? a : gcd(b, a % b);\nconst size = $input.first().json.batch || 4;\n\nconst items = [];\n\nfor(let i = 0; i < size; i++){\n  const w = $input.first().json.width;\n  const h = $input.first().json.height;\n  const d = gcd(w, h);\n  const ratio = `${w / d}:${h / d}`;\n  items.push({\n    prompt: $input.first().json.prompt,\n    width: w,\n    height: h,\n    ratio: ratio\n  })\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -96
      ],
      "id": "2756742f-4518-4b10-8588-e0a796fbc410",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        -96
      ],
      "id": "d58b7718-d3a6-442b-bd80-26f8f9c65c36",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        -24
      ],
      "id": "948ae303-f76a-4ce5-a379-0ebf93e546fe",
      "name": "Wait",
      "webhookId": "ffcf63ca-d498-4ff6-b441-e30b8b0cce33"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5fd7df30-e46c-42bb-b804-d5fe5b8b6208",
              "name": "url",
              "value": "={{ $json.output_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -96
      ],
      "id": "7b0c018e-bf9f-4ba6-a3ab-4b03871a46bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        144,
        -288
      ],
      "id": "c622beec-fcc5-47cd-8644-2a228f92ba6c",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "60aa4682-2a51-4e8d-8ec4-cb963585bef4",
  "owner": {
    "type": "personal",
    "projectId": "0cfCdy28RhDft3mL",
    "projectName": "寿来 杨 <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "tXbrPLEAcjwVXk68",
  "isArchived": false
}