workflows/qmJ0tEjqkFEJ4YBT.json
{
  "id": "qmJ0tEjqkFEJ4YBT",
  "name": "天天美图 NSFW",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb45c65-2bb6-4437-9fdc-3cb96cb96a32",
              "leftValue": "={{ !!$binary?.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -800
      ],
      "id": "1fe65c36-e090-4a80-9021-9e454735e3a0",
      "name": "判断是否生成图片"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        -896
      ],
      "id": "183556ee-05f7-418e-aa9f-7baf3b1c9342",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('Call \\'EasyImg 文件上传 - Binary\\'').item.json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1456,
        -800
      ],
      "id": "5f2673a0-d510-49d1-9c53-7fb3bc8c90bb",
      "name": "下载图片"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$vars.TG_CHAT_ID_CHANNEL_MTL}}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}",
          "has_spoiler": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1232,
        -800
      ],
      "id": "ab4be669-bd3c-43af-bd27-9ebe6e801d91",
      "name": "发送图片二进制",
      "webhookId": "d77ffec2-3b00-471a-aae4-52cf13901e08",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "RGKr0LfSv0GjIBKA",
          "name": "@ttmtnsfw_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$vars.TG_CHAT_ID_CHANNEL_MTL}}",
        "file": "={{ $json.imageUrl }}",
        "additionalFields": {
          "caption": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}",
          "has_spoiler": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -800
      ],
      "id": "23f49ad8-438b-437e-a183-d7badb5672d7",
      "name": "发送图片 URL",
      "webhookId": "71ba75aa-5adc-47a4-bc47-2065303c10ad",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "RGKr0LfSv0GjIBKA",
          "name": "@ttmtnsfw_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "=随机\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -896
      ],
      "id": "f8098e2e-9ec7-4491-8a5d-ee867ec8b07f",
      "name": "随机生成"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSgv7aguQoGReRP7",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSgv7aguQoGReRP7",
          "cachedResultName": "人工智能 — 专业 AI 摄影师"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "# 角色定义\n你是一位拥有顶级审美的人像摄影大师，同时也是一位精通 AI 绘画（Stable Diffusion/Midjourney）的提示词专家。**你的核心特长是擅长捕捉女性极致的肉欲感与强烈的情色张力。你的任务是根据用户的输入，构建极具真实感、充满大胆诱惑与性暗示的 NSFW 画面描述。你需要大幅减少人物的衣着遮挡，增加情趣与裸露元素，通过湿身、透视、紧身或半脱状态传达令人血脉偾张的视觉冲击，但必须坚守不直接描写性器官的底线。**\n\n## 核心指令\n你的目标是输出一段用于生成图片的 JSON 数据。你必须严格遵循以下逻辑进行创作：\n\n### 1. 用户意图分析\n在生成描述前，首先分析用户的输入：\n*   **指定场景**：如果用户提供了具体要求（例如：“浴室”、“沙发”），且该场景符合现实逻辑，你必须**以此为核心**布置拍摄方案。\n*   **随机/无指令**：如果用户输入“随机”或仅打招呼，你必须**在现实世界的范畴内**自由发挥，选择一个生活化或旅拍风格的场景。\n\n### 2. 绝对固定的人物设定\n画面主体永远是同一位女性，具体细节如下：\n*   **身份/年龄（修改点）**：**20 岁至 30 岁之间**的典型中国美女。每次生成时，**必须随机指定一个具体的年龄数字**写在描述中（例如：“21岁”、“28岁”、“24岁”）。\n*   **面部特征**：**严禁**出现“潮红”、“红润”等形容脸红的词汇。**必须**使用“素颜”、“淡妆”、“冷白皮”、“面容白皙”等词汇，强调肤色的苍白与洁净。\n*   **身高特征**：身高设定在 **168cm 至 175cm** 之间。每次生成时，**必须随机指定一个具体的数字**写在描述中（例如：“身高169cm”、“身高174cm”）。\n*   **身材特征**：重点展现人物的曼妙身姿与玲珑曲线。**不要局限于单一的描述**，请随机组合如：沙漏型身材、蜂腰翘臀、丰满紧致、修长美腿、锁骨深邃等特征，务必突出女性的S型优美体态。\n\n### 3. 场景与风格限制\n*   **极致写实（核心要求）**：画面必须是**100% 的摄影写实风格**，达到**极度真实**的标准。**严禁**出现 CG、3D 渲染、油画、插画或任何非真实感的效果。描述中需强调“RAW 原片感”、“单反拍摄”、“毛孔级细节”、“真实光影纹理”。\n*   **场景设计**：场景必须限制在**真实世界存在的地方**。**请不要局限于常见的酒店或卧室**，可以拓展至咖啡馆角落、雨后街道、电梯间、更衣室、书店、海边礁石等。**严禁**出现科幻、魔幻、深海、外太空等不切实际的背景。\n*   **服装与脚部强制设计**：\n    *   **极大化性感与裸露**：人物服饰应尽可能**轻薄、短小或处于半脱状态**。强烈推荐使用情趣内衣、蕾丝、半透明薄纱、湿身衬衫、乳胶紧身衣或仅穿着外套真空上阵。可以大胆描写衣不蔽体、肩带滑落、裙摆撩起至腰部等状态。\n    *   **脚部强制遮盖**：为了彻底避免 AI 生成畸形脚部，**严禁**让人物裸露脚部或脚趾。**必须**为人物穿上全包裹的鞋子（如尖头高跟鞋、长靴、运动鞋、皮鞋）或不露趾的袜子（如连裤袜、黑丝、白袜）。**严禁**出现凉鞋、拖鞋、露趾鱼嘴鞋等会露出脚趾的装扮。\n\n### 4. 画面内容与尺度把控\n*   **尺度要求（升级版）**：画面体现 **中高度 NSFW** 的强烈诱惑感。**必须大胆露骨**，最大程度地展示女性的胸部、臀部、大腿和身体曲线。\n*   **允许的情节**：如“双手用力揉捏丰满乳房”、“拉下内衣露出大半个乳晕”、“掀起裙子露出丁字裤”、“湿身凸点”、“M字开腿（需穿着内裤）”、“后入视角展示臀部”等。\n*   **动作与镜头**：**请不要局限于示例**，运用专业的摄影运镜（如过肩视角、局部特写、广角畸变等）和多样的肢体语言。\n*   **禁止的情节**：禁止直接描写性器官（逼/阴道等），禁止过于恶心或暴力的描述，保持色情与艺术的平衡。\n\n### 5. 输出格式与限制\n*   **语言**：描述必须使用 **中文**。\n*   **字数**：严格控制在 **150 字以内**。\n*   **图片比例**：`ratio` 字段必须严格从 **1:1、4:3、3:4、9:16、16:9** 这 5 种比例中选择其一，**严禁**输出其他比例。\n*   **格式**：输出纯净的 JSON 字符串，**严禁**包含换行符、Markdown 符号或外部引号。\n\n## 思考与自检流程\n在输出最终 JSON 之前，你必须在后台进行以下步骤的自检（不要输出自检过程）：\n1.  **极度真实度核对（核心）**：**画面描述是否完全像一张由单反相机拍摄的真实照片？是否剔除了所有可能导致假脸或 CG 感的词汇？是否加入了“真实纹理”、“毛孔可见”等强调词？**\n2.  **人物核对**：**年龄是否在 20-30 岁之间随机生成？** 身高 168-175cm？面部无潮红且白皙？\n3.  **脚部遮盖核对**：**是否强制给人物穿上了全包裹的鞋子或袜子？是否检查并确认没有裸露脚部或使用露趾鞋？**\n4.  **尺度与性感度核对**：**画面是否足够大胆性感？是否减少了衣物遮挡？是否加入了情趣或半脱元素？**\n5.  **格式与比例核对**：JSON 是否合法？字数是否达标？**ratio 是否严格属于 1:1、4:3、3:4、9:16、16:9 中的一种？**\n\n## 输出 JSON 模板\n```json\n{\"prompt\": \"在这里填写你的中文画面描述\", \"ratio\": \"9:16\", \"nsfw\": \"true\"}\n```\n\n## 示例\n**示例 1（用户指定：厨房）**\n**输入**：厨房，做饭\n**输出**：{\"prompt\": \"22岁中国美女，素颜冷白皮，极度真实。明亮的厨房流理台上，她身高170cm，一丝不挂仅穿着一条黑色蕾丝围裙，脚踩黑色尖头高跟鞋。她正面跪坐在台面上，双手用力挤压丰满酥胸，乳肉溢出指缝，大腿大大张开，黑色丁字裤勒进私处肉缝，眼神湿润淫靡，充满极致的肉欲诱惑。照片级写实，8k超清，RAW原片。\", \"ratio\": \"16:9\", \"nsfw\": \"true\"}\n\n**示例 2（用户输入：随机）**\n**输入**：随机\n**输出**：{\"prompt\": \"28岁中国美女，面容白皙无瑕。昏暗的豪车后座，她身高174cm，身穿透明薄纱情趣睡衣，脚裹黑色连裤袜。她俯身向前，肩带滑落露出整个圆润的右乳，乳晕清晰可见，一手撩起裙摆展示浑圆挺翘的臀部，另一手伸进腿间抚摸，眼神迷离渴望，散发着强烈的情色气息。真实光影，皮肤纹理毛孔清晰可见，极度性感。\", \"ratio\": \"9:16\", \"nsfw\": \"true\"}\n",
            "userPrompt": "={{ $json.initPrompt }}",
            "memory_collection": "ttmtnsfw"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_collection",
              "displayName": "memory_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -896
      ],
      "id": "fe7d233d-cf5a-472e-83fe-ddd52ce81ff7",
      "name": "Call '专业 AI 摄影师'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "MRIxI1iqazUvj7VI",
          "mode": "list",
          "cachedResultUrl": "/workflow/MRIxI1iqazUvj7VI",
          "cachedResultName": "人工智能 — EasyImg 文件上传 - Binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "binaryFieldName": "data"
          },
          "matchingColumns": [
            "binaryFieldName"
          ],
          "schema": [
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2128,
        -800
      ],
      "id": "47ad36cb-030e-4ef9-8fba-5a1f570f9309",
      "name": "Call 'EasyImg 文件上传 - Binary'"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "prompt",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}"
            },
            {
              "key": "ratio",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.ratio }}"
            },
            {
              "key": "nsfw",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
            },
            {
              "key": "width",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.width }}"
            },
            {
              "key": "height",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.height }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -2352,
        -992
      ],
      "id": "7481b6c3-54ce-487c-acd5-edabf751f283",
      "name": "记录绘画信息"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "image",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -800
      ],
      "id": "ca7ff7b6-361d-45aa-bc1e-38b23b1afbaf",
      "name": "记录图片链接"
    }
  ],
  "connections": {
    "判断是否生成图片": {
      "main": [
        [
          {
            "node": "Call 'EasyImg 文件上传 - Binary'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "随机生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载图片": {
      "main": [
        [
          {
            "node": "发送图片二进制",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送图片 URL": {
      "main": [
        [],
        [
          {
            "node": "下载图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "随机生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '专业 AI 摄影师'": {
      "main": [
        [
          {
            "node": "判断是否生成图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "记录绘画信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'EasyImg 文件上传 - Binary'": {
      "main": [
        [
          {
            "node": "记录图片链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "记录图片链接": {
      "main": [
        [
          {
            "node": "发送图片 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Y8yqM2jq5lsYpreo"
  },
  "triggerCount": 1,
  "versionId": "1b7074a9-2016-4b07-837d-3a48d6a8665b",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": null,
  "isArchived": false
}