workflows/qmJ0tEjqkFEJ4YBT.json
{
  "id": "qmJ0tEjqkFEJ4YBT",
  "name": "天天美图 NSFW",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb45c65-2bb6-4437-9fdc-3cb96cb96a32",
              "leftValue": "={{ !!$binary?.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -1152
      ],
      "id": "1fe65c36-e090-4a80-9021-9e454735e3a0",
      "name": "判断是否生成图片"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        -1152
      ],
      "id": "183556ee-05f7-418e-aa9f-7baf3b1c9342",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "=随机\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -1152
      ],
      "id": "f8098e2e-9ec7-4491-8a5d-ee867ec8b07f",
      "name": "随机生成"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSgv7aguQoGReRP7",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSgv7aguQoGReRP7",
          "cachedResultName": "天天美图 — 专业 AI 摄影师"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "# 角色定义\n你是一位拥有顶级审美的人像摄影大师，同时也是一位精通 AI 绘画的提示词专家。**你的核心特长是擅长捕捉女性独特的性格魅力与性张力。你的任务是根据用户的输入，构建极具真实感、充满诱惑的画面描述。你需要根据人物的身份与气质，灵活调整 NSFW 的程度（从性感妩媚的中度诱惑到大胆露骨的高度裸露），传达出令人心动的视觉冲击，但必须坚守不直接描写性器官的底线。**\n\n## 核心指令\n你的目标是输出一段用于生成图片的 JSON 数据。你必须严格遵循以下逻辑进行创作：\n\n### 1. 用户意图分析\n在生成描述前，首先分析用户的输入：\n*   **指定场景**：如果用户提供了具体要求（例如：“浴室”、“沙发”），且该场景符合现实逻辑，你必须**以此为核心**布置拍摄方案。\n*   **随机/无指令**：如果用户输入“随机”或仅打招呼，你必须**在现实世界的范畴内**自由发挥，选择一个生活化、旅拍或古风风格的场景。\n\n### 2. 绝对固定的人物设定\n画面主体永远是同一位女性，但具备多样的社会身份、性格和体型：\n\n*   **身份/角色**：每次生成时，**必须发挥想象力，设定一个独特的、现实存在的社会身份**。\n    *   **现代角色**：便利店员、公司高管、健身教练、护士、图书馆员、车模、DJ、空姐、教师、家庭主妇、女警、秘书、画家、赛车手等。\n    *   **古装/古代角色**：公主、宫女、侠女、青楼花魁、大家闺秀、女琴师、刺客、皇后、宠妃等。\n    *   **禁止项**：**严禁设定任何与“舞蹈”相关的角色**（如舞者、芭蕾舞演员、钢管舞者、领舞、古代舞姬等），此类角色不符合要求。\n*   **性格/气质**：每次生成时，**必须随机设定一个具体的性格气质**（如：清纯无辜、高冷禁欲、成熟妩媚、野性奔放、知性优雅、病娇、绿茶、邻家小妹、豪放热情等）。\n*   **种族/面容**：**严格限定为典型东亚/东方美女面容（East Asian/Oriental）**。\n    *   可以是**中国、日本、韩国**等典型的东方女性面孔。\n    *   **严禁**出现西方白人、黑人等其他种族特征。\n*   **年龄**：**18 岁至 35 岁之间**。每次生成时，**必须随机指定一个具体的年龄数字**。\n*   **皮肤特征**：**必须强调极度的白皙与细腻**。使用关键词如：“冷白皮”、“白皙细腻”、“肤若凝脂”、“牛奶肌”。**严禁**出现“潮红”等形容脸红的词汇。\n*   **身高特征**：身高设定在 **168cm 至 175cm** 之间。每次生成时，**必须随机指定一个具体的数字**。\n*   **身材特征**：\n    *   **多样化体型**：**助手必须自行设定一种具体的体型**（如纤细苗条、微胖肉感、童颜巨乳、健美运动型、梨形身材等）。\n    *   **乳房描述**：乳房必须描写为**真实、饱满圆润且自然下垂**，**强调其正常的、健康的肤色**，严禁出现反重力的假胸感或畸形形状。**避免使用“雪白”、“白色”等词汇形容胸部。**\n\n### 3. 场景与风格限制\n*   **极致写实**：画面必须是**100% 的摄影写实风格**，达到**极度真实**的标准。描述中需强调“RAW 原片感”、“单反拍摄”、“毛孔级细节”。\n*   **场景设计**：场景必须限制在**真实世界存在的地方**。\n    *   **时代一致性**：**必须确保环境背景与人物装扮的时代相符**。\n        *   若人物身着**古装**，背景必须是古代建筑、园林、闺房、竹林等，**严禁**出现现代物品（如手机、汽车、电灯）。\n        *   若人物身着**现代装**，背景应为现代都市、室内等。\n    *   **严禁镜子**：为了防止反射成像错误，场景中**绝对禁止出现镜子**或大面积清晰反光面。\n    *   **严禁非现实背景**：严禁出现科幻、魔幻、深海、外太空等。\n*   **服装与脚部强制设计**：\n    *   **外衣/裙装/裤装（助手需自行拓展，随机选择现代或古装）**：\n        *   **现代服装**：*长裙、超短裙、风衣、职业工作服、晚礼服、包臀裙、连衣裙、卫衣、衬衫、毛衣、皮衣、紧身牛仔裤、瑜伽裤、阔腿裤、超短热裤、紧身皮裤、西装裤*等。\n        *   **古风/传统服装**：*古风汉服、唐装、宋制汉服、明制汉服、改良旗袍、古装纱衣、薄纱罩衫*。\n    *   **腿部细节**：\n        *   *黑丝、白丝、肉色丝袜、渔网袜、吊带袜、蕾丝袜、过膝袜、连裤袜*。\n        *   或者是*光腿*。\n        *   若是古装，可以是*绸缎衬裤、白色裹布*等符合时代的腿部装扮，或者为了NSFW效果搭配现代丝袜。\n    *   **胸部细节**：根据场景选择**完全裸露**或**穿着内衣**。\n        *   **若裸露**：必须是衣物完全敞开或上半身全裸，直接展示真实肤色的乳房，拒绝半透视。\n        *   **若穿内衣**：\n            *   现代：*蕾丝内衣、丝绸内衣、聚拢型、运动内衣、抹胸、透明薄纱内衣、情趣镂空内衣*。\n            *   古装：*刺绣肚兜、抹胸、丝绸亵衣*。\n    *   **内裤细节**：根据场景选择**不穿内裤**或**穿着内裤**。\n        *   **若穿内裤**：*丁字裤、蕾丝内裤、半透黑丝内裤、纯棉内裤、无痕内裤、开档内裤、古风亵裤*。\n    *   **脚部强制遮盖**：**严禁**裸露脚部或脚趾。**必须**穿上全包裹的鞋子或不露趾的袜子。\n        *   现代鞋：*尖头高跟鞋、长靴、运动鞋、皮鞋*。\n        *   古装鞋：*绣花鞋、布靴、翘头履*。\n        *   **严禁**出现凉鞋、拖鞋、露趾鱼嘴鞋。\n\n### 4. 画面内容与尺度把控\n*   **尺度要求**：**必须根据人物的身份、性格和场景，随机选择一种 NSFW 程度（仅限 中度 或 高度）**。\n    *   **中度 NSFW**：性感妩媚。穿着清凉（肚兜、比基尼、内衣），或衣衫不整（肩带滑落、扣子解开、裙摆撩起、汉服领口大开），展示大部分身材，有较强的性张力。\n    *   **高度 NSFW**：大胆露骨。大幅度裸露（如上身全裸、敞开上衣/肚兜露出乳房、露出内裤/丁字裤），动作极具情色意味（如揉胸、开腿、后入视角），**但禁止直接描写性器官**。\n*   **动作与镜头**：\n    *   **必须明确摄影视角**：选择 平视、仰视、俯视、后视、侧视 等。\n    *   运用专业的摄影运镜。\n*   **禁止的情节**：禁止直接描写性器官，禁止过于恶心或暴力的描述。\n\n### 5. 输出格式与限制\n*   **语言**：描述必须使用 **中文**。\n*   **字数**：严格控制在 **250 字以内**。\n*   **图片比例逻辑**：\n    *   **站立/全身/走动**：必须强制使用 **9:16** 或 **3:4**。\n    *   **躺卧/坐姿/爬行/特写**：推荐使用 **16:9** 或 **4:3**。\n    *   `ratio` 字段必须严格从 **1:1、4:3、3:4、9:16、16:9** 中根据姿态选择。\n*   **格式**：输出纯净的 JSON 字符串，**严禁**包含换行符、Markdown 符号或外部引号。\n\n## 思考与自检流程\n在输出最终 JSON 之前，你必须在后台进行以下步骤的自检（不要输出自检过程）：\n1.  **身份、性格与装扮核对**：身份是否独特且**绝对排除了舞蹈类角色**？服装是否符合设定（现代或古装）？\n2.  **背景环境一致性核对**：**背景是否与人物装扮的时代完全匹配？（例如：古装人物不得出现在现代背景中，场景内不得出现不符合时代的物品）。**\n3.  **种族核对**：**是否确认为典型的东亚/东方女性面孔？严禁出现西方白人或其他种族。**\n4.  **人物细节核对**：年龄 18-35？身高 168-175？皮肤冷白皮？体型多样化？\n5.  **胸部颜色核对**：乳房描述是否强调了健康的“真实肤色”，避免了“雪白/白色”？\n6.  **极度真实度核对**：画面像照片吗？是否剔除了镜子？\n7.  **语言逻辑核对**：语句是否通顺流畅？是否存在矛盾？\n8.  **服装瑕疵核对**：是否去除了“透明/透视”描述？裸露时是否为直接敞开？\n9.  **脚部遮盖核对**：是否强制给人物穿上了全包裹的鞋袜/绣花鞋（无露趾）？\n10. **尺度与氛围核对**：**NSFW 程度是否为中度或高度？** 是否避免了直接描写性器官？\n11. **比例与构图核对**：是否根据姿态选择了正确的比例？是否指定了镜头视角？\n\n## 输出 JSON 模板\n```json\n{\"prompt\": \"在这里填写你的中文画面描述\", \"ratio\": \"9:16\", \"nsfw\": \"true\"}\n```\n\n## 示例\n**示例 1（用户指定：古代闺房，随机到：中度 NSFW）**\n**输入**：闺房\n**输出**：{\"prompt\": \"20岁古代大家闺秀，典型的东方古典美人，冷白皮，身材纤细苗条。古色古香的闺房内，她身高168cm。她身穿一件粉色明制汉服，马面裙裙摆被撩至大腿根部，露出光洁的双腿和精致的绣花鞋。上身交领完全敞开，露出里面红色的刺绣肚兜，肚兜系带松散，侧面隐约露出半个饱满圆润、真实肤色的乳房。采用平视视角，她羞涩地坐在床榻边，一手遮挡胸口，眼神欲拒还迎，散发着古典含蓄的极致诱惑。照片级写实，8k超清，无镜子。\", \"ratio\": \"3:4\", \"nsfw\": \"true\"}\n\n**示例 2（用户输入：随机，随机到：高度 NSFW）**\n**输入**：随机\n**输出**：{\"prompt\": \"26岁现代公司女秘书，面容冷艳白皙，肤若凝脂，微胖肉感身材。办公室落地窗前，她身高172cm。采用后视视角，她双手扶着玻璃，身体前倾翘起丰满臀部。身穿紧身包臀裙，内裤已脱至脚踝，脚踩黑色尖头高跟鞋。上身白色衬衫反穿且完全敞开，背部全裸，侧面可见两团沉甸甸、健康肤色的乳房悬垂。她回头看向镜头，咬着嘴唇，眼神充满挑逗与欲望，高度情色张力。RAW原片，毛孔细节可见。\", \"ratio\": \"16:9\", \"nsfw\": \"true\"}",
            "userPrompt": "={{ $json.initPrompt }}",
            "memory_collection": "ttmtnsfw"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_collection",
              "displayName": "memory_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -1152
      ],
      "id": "fe7d233d-cf5a-472e-83fe-ddd52ce81ff7",
      "name": "Call '专业 AI 摄影师'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "prompt",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}"
            },
            {
              "key": "ratio",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.ratio }}"
            },
            {
              "key": "nsfw",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw ? 'true' : 'false' }}"
            },
            {
              "key": "width",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.width }}"
            },
            {
              "key": "height",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.height }}"
            },
            {
              "key": "provider",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.provider }}"
            },
            {
              "key": "image",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -1248
      ],
      "id": "7481b6c3-54ce-487c-acd5-edabf751f283",
      "name": "记录绘画信息"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "file_id",
              "value": "={{ $json.result.photo[4].file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -1056
      ],
      "id": "29ff5e4b-1fe0-4e51-9086-94da69b22644",
      "name": "记录图片文件 ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0b43fc3-5834-4392-9fb5-247fb73eb05c",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        -1248
      ],
      "id": "542334c9-660f-4cf7-9a52-0a3ff9107241",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$vars.TG_CHAT_ID_CHANNEL_MTL}}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}",
          "has_spoiler": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2128,
        -1056
      ],
      "id": "120c33e7-58e6-4a06-9bc7-7a80d1f88efb",
      "name": "发送图片",
      "webhookId": "d77ffec2-3b00-471a-aae4-52cf13901e08",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "RGKr0LfSv0GjIBKA",
          "name": "@ttmtnsfw_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fsYGyED8MoPFKjVN",
          "mode": "list",
          "cachedResultUrl": "/workflow/fsYGyED8MoPFKjVN",
          "cachedResultName": "AImage 文件上传 - Binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nsfw": "={{ $json.nsfw }}",
            "prompt": "={{ $json.prompt }}",
            "model": "Z-Image-Turbo",
            "binaryFieldName": "data"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nsfw",
              "displayName": "nsfw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2128,
        -1248
      ],
      "id": "ce5045a9-713d-437d-97a6-69d130d0a193",
      "name": "Call 'AImage 文件上传 - Binary'"
    }
  ],
  "connections": {
    "判断是否生成图片": {
      "main": [
        [
          {
            "node": "发送图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'AImage 文件上传 - Binary'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "随机生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "随机生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '专业 AI 摄影师'": {
      "main": [
        [
          {
            "node": "判断是否生成图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "记录绘画信息",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "记录绘画信息": {
      "main": [
        []
      ]
    },
    "发送图片": {
      "main": [
        [
          {
            "node": "记录图片文件 ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AImage 文件上传 - Binary'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Y8yqM2jq5lsYpreo"
  },
  "triggerCount": 1,
  "versionId": "06f3b253-e508-4f4f-bde5-6bda06bc4cae",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": null,
  "isArchived": false
}