workflows/qwUufy7UyDrqRoc0.json
{
  "id": "qwUufy7UyDrqRoc0",
  "name": "HuggingFace Z-Image-Turbo 生图",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"prompt\": \"On a spring afternoon, cherry blossom petals drift gently through the air. A girl in a sailor uniform stands beneath the sakura tree, hearing familiar footsteps behind her. She turns slightly, her eyes soft and shy, cheeks blushing — as if the whole of spring pauses in that moment.\",\n  \"width\": 1024,\n  \"height\": 1024\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -976,
        -704
      ],
      "id": "de560a6d-e1eb-412e-acac-b0ee386b076a",
      "name": "入口参数"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.apiUrl = 'https://mrfakename-z-image-turbo.hf.space/';\n  item.json.apiName = '/generate_image';\n  item.json.apiBody = [item.json.prompt, item.json.height, item.json.width, 20, 42, true];\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -704
      ],
      "id": "b37139ff-478e-4666-b6be-29d7d22e5c79",
      "name": "计算报文"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7cf479d2-cc5d-403d-adfa-28290a382676",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b1ac375f-55d9-4888-8ccc-ad40f836a2f0",
              "leftValue": "={{ $json.data[0].url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        -704
      ],
      "id": "bf70461d-d9ca-450d-9c39-9df3f0c8dc7c",
      "name": "判断是否成功"
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -80,
        -704
      ],
      "id": "35353073-0639-4377-bbcf-68fcfd41a91f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0NyMcUUQc611UWLh",
          "mode": "list",
          "cachedResultUrl": "/workflow/0NyMcUUQc611UWLh",
          "cachedResultName": "HuggingFace Space API With Tokens"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "apiUrl": "={{ $json.apiUrl }}",
            "apiName": "={{ $json.apiName }}",
            "apiBody": "={{ $json.apiBody }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "apiUrl",
              "displayName": "apiUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiName",
              "displayName": "apiName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apiBody",
              "displayName": "apiBody",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -528,
        -704
      ],
      "id": "7633712f-96a3-4376-98ea-7c56a8439e28",
      "name": "Call 'HuggingFace Space API With Tokens 2'"
    }
  ],
  "connections": {
    "入口参数": {
      "main": [
        [
          {
            "node": "计算报文",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算报文": {
      "main": [
        [
          {
            "node": "Call 'HuggingFace Space API With Tokens 2'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否成功": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Call 'HuggingFace Space API With Tokens 2'": {
      "main": [
        [
          {
            "node": "判断是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "8fff2093-94f1-4093-b0e0-b005b685a673",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": "EObsJ1pbLs4voBnl",
  "isArchived": false
}