workflows/qZN0Wyhng5lksfdi.json
{
  "id": "qZN0Wyhng5lksfdi",
  "name": "MinIO 文件上传",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "base64EncodedFile"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -208
      ],
      "id": "cb6ac054-8961-477d-8476-e6494a71d64f",
      "name": "参数入口"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64EncodedFile",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        144,
        -208
      ],
      "id": "1f52aaab-bfa8-4b46-bd4e-9355c11ac9aa",
      "name": "转文件"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "n8n",
        "fileName": "={{ $json.fileName }}",
        "binaryPropertyName": "={{$('转文件').item.binary.data}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        816,
        -208
      ],
      "id": "2b12b27a-fc52-4bb3-b918-c8762f374253",
      "name": "Upload a file",
      "credentials": {
        "s3": {
          "id": "rDCAHUftwkuS8kvn",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "binaryData": true
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        368,
        -208
      ],
      "id": "cdb88c21-d33d-4bbc-869f-64e2c1308455",
      "name": "Crypto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c9265b3-d0e0-4817-b6b0-208f90e5d92a",
              "name": "imageUrl",
              "value": "=https://minio.yangshoulai.site/n8n/{{ $('文件 key').item.json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -208
      ],
      "id": "5accf8c8-57b2-41b1-94dd-bd8d09f9dc91",
      "name": "访问链接"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13940159-e23a-49c4-9b59-f1074304c174",
              "leftValue": "={{ $json.success }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -208
      ],
      "id": "e297ed82-5c8f-4f25-8cce-2a516b178060",
      "name": "是否成功"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "24ad6b09-43f9-42ed-acef-3c0e8aed14b7",
              "name": "fileName",
              "value": "={{ new Intl.DateTimeFormat(\"en-CA\").format(new Date()).replace(/-/g, \"\") }}/{{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        -208
      ],
      "id": "8b26980f-d613-4f9d-b976-790eca3cbed6",
      "name": "文件 key"
    }
  ],
  "connections": {
    "参数入口": {
      "main": [
        [
          {
            "node": "转文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "转文件": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file": {
      "main": [
        [
          {
            "node": "是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "文件 key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否成功": {
      "main": [
        [
          {
            "node": "访问链接",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文件 key": {
      "main": [
        [
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "any",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "5fdf05a9-7763-4fd6-ac11-fbd8ac69745c",
  "owner": {
    "type": "personal",
    "projectId": "pskh8wmOtrNvczt8",
    "projectName": "寿来 shoulai.yang@gmail.com <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "kOAooG2cBl8Xevpe",
  "isArchived": false
}