workflows/StlMLcKn5drESsPA.json
{
  "id": "StlMLcKn5drESsPA",
  "name": "数据清理",
  "nodes": [
    {
      "parameters": {
        "operation": "delete",
        "collection": "={{ $json.collections }}{{ $json.yesterday }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -256,
        0
      ],
      "id": "19cfb294-3525-4eda-b33a-7013bd66a9f5",
      "name": "Delete documents",
      "credentials": {
        "mongoDb": {
          "id": "gHBWS9s71yffZkq8",
          "name": "腾讯云"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "from datetime import datetime, timedelta\n\nyesterday = datetime.now() - timedelta(days=1)\nyyyymmdd = yesterday.strftime('%Y%m%d')\n\nreturn [{\"yesterday\": yyyymmdd}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        96
      ],
      "id": "f5127946-9524-40c3-bed9-6b3e3d66cd2d",
      "name": "计算昨天日期"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debf6f19-a9d9-4228-9d15-5e601740f2a1",
              "name": "collections",
              "value": "=[\"n8n_wallpaper_master_chat_histories_\", \"n8n_tiantianmeitu_chat_histories\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        0
      ],
      "id": "9b664388-6285-44e9-9147-213ff8bea971",
      "name": "需要删除的 Mongodb 集合"
    },
    {
      "parameters": {
        "fieldToSplitOut": "collections",
        "include": "selectedOtherFields",
        "fieldsToInclude": "yesterday",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -480,
        0
      ],
      "id": "01cc51b1-c06c-4264-b6e2-a46cfd223f7f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1152,
        96
      ],
      "id": "850ed481-84b4-4ff9-bd7f-a0d3494d1bff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "delete",
        "bucketName": "n8n",
        "folderKey": "={{ $json.yesterday }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -704,
        192
      ],
      "id": "ad2d7849-0629-40e7-8108-779399f4cc40",
      "name": "删除 MinIO 昨天文件",
      "credentials": {
        "s3": {
          "id": "rDCAHUftwkuS8kvn",
          "name": "S3 account"
        }
      }
    }
  ],
  "connections": {
    "计算昨天日期": {
      "main": [
        [
          {
            "node": "需要删除的 Mongodb 集合",
            "type": "main",
            "index": 0
          },
          {
            "node": "删除 MinIO 昨天文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "需要删除的 Mongodb 集合": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Delete documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "计算昨天日期",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "6f301ae4-2a03-4654-9295-78c51faa4907",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "人工智能"
  },
  "parentFolderId": "f06nSbAhuAEZN6y2",
  "isArchived": false
}