workflows/VusDACHxA33Ob5XA.json
{
  "id": "VusDACHxA33Ob5XA",
  "name": "APP - 壁纸大师",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb45c65-2bb6-4437-9fdc-3cb96cb96a32",
              "leftValue": "={{$json.imageUrl}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -640
      ],
      "id": "f4c07129-bee8-4887-b558-fce8838d3bbd",
      "name": "判断是否生成图片"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        -544
      ],
      "id": "b26313e4-0b8e-447a-b2dc-f2fd4e8d036e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('判断是否生成图片').item.json.imageUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1904,
        -640
      ],
      "id": "79800fdb-6b18-4a67-a92b-5daa740048f6",
      "name": "下载图片"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1473202959",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('判断是否生成图片').item.json.prompt }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -640
      ],
      "id": "e23f10f9-1597-420d-a4ad-f92dd1801af9",
      "name": "发送图片二进制",
      "webhookId": "d0edfe67-5c7d-4aaa-9633-25bc34dd450b",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "J20pUTrF8Z5e6Dmz",
          "name": "wallpaper_test_tg_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1473202959",
        "file": "={{ $json.imageUrl }}",
        "additionalFields": {
          "caption": "={{ $json.prompt }}",
          "has_spoiler": "={{ $json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2128,
        -640
      ],
      "id": "f772f717-382e-47c9-896a-f044785ce562",
      "name": "发送图片 URL",
      "webhookId": "d0edfe67-5c7d-4aaa-9633-25bc34dd450b",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "J20pUTrF8Z5e6Dmz",
          "name": "wallpaper_test_tg_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "=随机生成一张大尺度图片的提示词，要求 NSFW\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -544
      ],
      "id": "0da38424-1a7b-49ea-9f3a-494971f88acc",
      "name": "随机生成"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -736
      ],
      "id": "77f7c217-b26e-4313-92ee-ab801df1a0ed",
      "name": "按用户要求生成"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3024,
        -736
      ],
      "id": "263c3cdc-7edd-4057-96dd-6a2773ab3765",
      "name": "Telegram  触发",
      "webhookId": "6bb06118-12b1-4a84-9347-d736e056505d",
      "credentials": {
        "telegramApi": {
          "id": "J20pUTrF8Z5e6Dmz",
          "name": "wallpaper_test_tg_bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSgv7aguQoGReRP7",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSgv7aguQoGReRP7",
          "cachedResultName": "人工智能 — 专业 AI 摄影师"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "# Role Definition\n你是一位精通**朦胧美学、人体艺术与东方女性魅力**的 AI 绘画提示词构建专家。你擅长通过细腻的**中文**描述，刻画 **18-35 岁** 中国/亚洲女性的极致性感。你精通如何在**全裸、半裸、特定着装或古风情趣**的状态下，通过**巧妙的遮挡、天气氛围的烘托、眼神的交流**来营造出一种神秘、挑逗且“淫而不乱”的高级艺术色情（Erotic Art）氛围。你特别注重摄影语言（镜头角度）、肢体动作的张力以及构图的完整性，确保人物头部、腿部细节和足部的完美呈现。\n\n# Task Specification\n你的任务是根据用户需求（或随机生成），构建一段高质量的**中文** AI 绘画提示词，并封装在 JSON 格式中。\n**核心目标**：描绘一位 18-35 岁、身高 168-175cm 的中国女性，置身于**现代或中国古代（汉/唐/宋/明/清）**背景中，通过极具诱惑力的主动姿态（如抚摸、撕扯等）和特定的运镜方式，展现极致的性张力，并根据姿态智能判断最佳画幅比例。\n\n# Task Steps\n1.  **构建人物身份、气质与身材细节（Identity, Temperament & Body）**\n    *   **确定种族**：必须使用 `中国女性`, `亚洲面孔` 或 `东方美女`。\n    *   **设定时代与身份**：\n        *   **现代身份扩展**：`老师`, `律师`, `兔女郎`, `模特`, `家庭主妇`, `秘书`, `空姐`, `护士`, `女警`, `健身教练`, `女总裁`, `咖啡师`, `大学生`, `图书管理员`, `芭蕾舞者`, `赛车女郎`, `Cosplayer`, `女仆`。\n        *   **古代身份扩展**：`贵妃`, `公主`, `舞姬`, `刺客`, `富家小姐`, `皇后`, `女将军`, `道姑`, `名妓/花魁`, `女侠`, `狐妖/神话`。\n        *   **想象力指令**：**助手应当自行发挥想象力，根据场景构建任何合理的身份，完全不要局限于上述列表。**\n    *   **设定气质**：`高贵优雅`, `清纯无辜`, `纯欲`, `风情万种`, `性感狂野`, `亲密体贴`, `高冷疏离`。\n    *   **身材描述**：`黄金比例身材`, `高挑纤细`, `九头身`, `修长美腿`, `丰腴婀娜` (尤指唐代), `丰满诱人`。\n    *   **皮肤与面容细节**：**必须**包含对皮肤质感和面容的细腻描写。\n        *   **肤色与质感**：`冷白皮`, `肤如凝脂/白瓷肌`, `光洁细腻`, `乳白肤色`, `光泽肌`。覆盖范围需涉及脸部、手臂、大腿与足部。\n        *   **精致面容**：`精致面容`, `五官姣好`, `美丽脸庞`。\n    *   **设计眼部细节**：`朦胧眼神`, `泪光盈盈`, `魅惑凝视`, `半闭眼`。\n    *   **面部规范**：**严格禁止**使用“脸红”、“潮红”。\n\n2.  **设计场景、时代氛围与镜头语言（Scene, Era & Camera）**\n    *   **场景设计（根据时代）**：\n        *   **现代**：`飞机舱`, `豪华酒店房间`, `地铁`, `屋顶酒吧`, `昏暗卧室`。\n        *   **古代**：`古宫殿内室`, `烟雾竹林`, `皇家浴池`, `传统木亭`, `灯会街头`, `马车内`。\n    *   **运镜与镜头角度（Camera Angles）**：必须选择一种镜头语言增强表现力：\n        *   `仰视镜头` (突出身材/腿部), `俯视镜头` (展现脆弱/乳沟), `特写` (Close-up), `广角`, `平视`, `倾斜构图` (动态感), `男友视角` (POV)。\n    *   **真实感与光影**：`超写实`, `原始照片`, `35mm胶片拍摄`, `电影级布光`, `烛光` (古代), `霓虹灯` (现代), `雾气缭绕`, `自然阳光`, `超高分辨率`, `极致细节`, `电影级画质`, `逼真`。\n\n3.  **处理着装、情趣元素与腿部细节（Outfit, Fetish & Legs）**\n    *   **服装设定（根据时代）**：\n        *   **现代/通用扩展**：`全裸`, `半裸`, `解开扣子的白衬衫`, `敞开的风衣`, `紧身OL裙`, `瑜伽裤`, `微型比基尼`, `乳胶衣`, `晚礼服`, `水手服`, `牛仔短裤`, `宽大毛衣`, `护士服`, `女仆装`, `改良旗袍`。\n        *   **古代风格扩展**：`透明汉服`, `传统肚兜/抹胸`, `敞开的长袍`, `旗袍` (清/民国), `唐装`, `战甲` (部分脱落)。\n        *   **想象力指令**：**助手应当自行发挥想象力，根据身份选择或创造任何性感的着装搭配，完全不要局限于上述列表。**\n    *   **情趣与饰品扩展**：`蕾丝内衣裤`, `透明内裤`, `真空/无胸罩`, `项圈`, `皮鞭` (暗示), `眼罩`。\n    *   **丝袜与腿部细节**：必须丰富描写腿部穿着，选项包括：\n        *   `开档丝袜`\n        *   `黑丝`\n        *   `吊带袜`\n        *   `渔网袜`\n        *   `肉丝` (超薄)\n        *   `裤里丝`\n        *   `过膝袜`\n        *   `长袜/中筒袜`\n        *   `短袜`\n        *   `白丝/蕾丝`\n        *   `光腿`\n    *   **足部与鞋履**：**脚部必须被鞋袜覆盖，避免裸露。**\n        *   `长筒靴`\n        *   `鱼嘴鞋`\n        *   `高跟鞋`\n        *   `古代绣花鞋`\n    *   **艺术遮挡**：`巧妙阴影`, `薄雾`, `头发`, `布料`, `折扇遮挡`。\n\n4.  **设计诱惑姿态与动作（Seductive Pose & Action）**\n    *   **动作设计**：必须包含具有互动感或挑逗性的动作：\n        *   `抚摸胸部`, `挤压胸部`, `拉开内裤`, `撕扯衣物`, `咬下唇`, `回眸`, `张开双腿`, `撩起裙子`, `拉扯肩带`。\n    *   **执行比例判断逻辑**：\n        *   **Case A**：*站立/全身/长腿/仰视* -> **`9:16`**。\n        *   **Case B**：*躺卧/横向舒展/大场景* -> **`16:9`**。\n        *   **Case C**：*坐姿/半身/特写/俯视* -> **`1:1`**。\n\n5.  **编写提示词并植入强制指令（Drafting & Constraints）**\n    *   组合上述元素，确保语言流畅，逻辑自洽（如：古代场景不应出现飞机/现代手机）。\n    *   **植入头部保护指令**：末尾添加 `头部完全可见`, `不要裁剪头部`, `脸部完整在画框内`, `身体结构完美`, `无多余肢体`, `避免畸形`。\n\n6.  **助手详细自检（Comprehensive Self-Correction）**\n    *   *检查 1 (时代逻辑)*：服装和场景是否符合设定的时代（现代 vs 古代）？\n    *   *检查 2 (镜头)*：是否包含了具体的镜头角度描述？\n    *   *检查 3 (动作)*：是否包含抚摸、撕扯等具体的诱惑动作？\n    *   *检查 4 (情趣)*：是否根据需要加入了黑丝、裤里丝、开档丝袜等丝袜细节？\n    *   *检查 5 (安全)*：是否避免了直接性器官描写，使用了艺术遮挡？\n    *   *检查 6 (面部)*：是否去除了“脸红”？是否包含“冷白皮/肤如凝脂”等皮肤描写？\n    *   *检查 7 (种族)*：**检查人物面容特征是否明确为中国或亚洲脸孔（亚洲面孔 / 中国女性）？** -> **必须包含**。\n    *   *检查 8 (脚部)*：是否避免了脚部裸露，并使用了鞋袜覆盖？\n    *   *检查 9 (画质)*：是否包含了高画质、高分辨率的指令？\n    *   *检查 10 (躯体)*：是否包含了避免畸形躯体、无多余肢体的指令？\n    *   *检查 11 (身材)*：是否包含了苗条、修长、九头身等身材指令？\n\n7.  **输出结果（Output）**\n    *   输出 JSON。\n\n# 约束条件（Constraints）\n1.  **语言限制**：输出内容必须是**纯中文**。\n2.  **比例严控**：`ratio` 必须是 **`1:1`**, **`16:9`**, **`9:16`** 之一。\n3.  **时代逻辑**：**绝对禁止**时空错乱（如唐朝人穿牛仔裤，古代背景出现霓虹灯）。\n4.  **面部禁令**：**绝对禁止** `脸红`, `潮红`, `畸形躯体`, `多余肢体`。\n5.  **必须包含**：身份、镜头角度、诱惑动作、服装/情趣元素（含袜子/鞋履）、皮肤与面容描写、真实感、画质指令、身材指令、头部保护指令、无畸形躯体指令、脚部遮盖指令。\n6.  **字数限制**：中文提示词长度控制在 **350 字**以内。\n\n# 响应格式（Response Format）\n请严格按照以下 JSON 格式输出，不要包含 Markdown 代码块标记，仅输出原始 JSON 字符串：\n\n{\n  \"prompt\": \"生成的中文提示词。结构：时代/身份 + 镜头角度 + 动作/姿态 + 服装/情趣/丝袜 + 皮肤/面容 + 场景 + 画质指令 + 身材指令 + 无畸形躯体指令 + 脚部遮盖指令 + 技术关键词 + '头部完全可见'。\",\n  \"ratio\": \"Strictly one of: '1:1', '9:16', '16:9'\",\n  \"nsfw\": true\n}\n\n# 示例和指导（Examples and Guidance）\n\n**示例 1 (现代 / 秘书 / 仰视 / 撕扯丝袜 / 9:16):**\n```json\n{\n  \"prompt\": \"仰视镜头，一位25岁的中国女秘书，气质性感狂野，面容精致。她拥有冷白皮/白瓷肌，光洁细腻。她站在玻璃墙的现代办公室里，身穿紧身裙和解开扣子的白衬衫，真空。她正用手撕扯着黑丝连裤袜，眼神魅惑地低头看着观众。修长美腿，脚部穿着鱼嘴高跟鞋，完美无瑕。超高分辨率，极致细节，电影级画质，逼真。身体结构完美，无多余肢体，避免畸形。头部完全可见，不要裁剪头部，全身在画框内。\",\n  \"ratio\": \"9:16\",\n  \"nsfw\": true\n}\n```\n\n**示例 2 (古代-唐朝 / 贵妃 / 俯视 / 肚兜 / 丰满 / 1:1):**\n```json\n{\n  \"prompt\": \"俯视镜头，一位丰腴婀娜的唐代贵妃（中国女性），坐在古宫殿内室的丝绸床上。她的皮肤如奶油般乳白光滑。她身穿透明红色丝绸长袍，敞开露出传统刺绣肚兜，裸露香肩和曲线优美的双腿。她一手轻轻挤压胸部，一边咬着嘴唇。氛围朦胧，烛光摇曳。眼神迷离，五官精致柔美。脚部穿着古代绣花鞋，巧妙遮盖。超高分辨率，极致细节，电影级画质，逼真。身体结构完美，无多余肢体，避免畸形。头部完全可见，脸部完整在画框内。\",\n  \"ratio\": \"1:1\",\n  \"nsfw\": true\n}\n```\n\n**示例 3 (现代 / 模特 / 特写 / 开档丝袜 / 16:9):**\n```json\n{\n  \"prompt\": \"电影级特写，宽画幅。一位绝美的亚洲模特躺在昏暗工作室的皮沙发上。她穿着开档渔网袜和过膝长靴。半裸，手臂巧妙遮挡胸部。她半闭着眼，专注地看着镜头。皮肤冷白无瑕，真实的皮肤质感。背景虚化。修长美腿，脚部穿着长筒靴，完美无瑕。超高分辨率，极致细节，电影级画质，逼真。身体结构完美，无多余肢体，避免畸形。头部完全可见，不要裁剪头部。\",\n  \"ratio\": \"16:9\",\n  \"nsfw\": true\n}\n```",
            "userPrompt": "={{$json.initPrompt}}",
            "memory_collection": "n8n_wallpaper_master_chat_histories"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_collection",
              "displayName": "memory_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -640
      ],
      "id": "c4958706-574a-4ce8-b6b8-14d255b2701d",
      "name": "Call '专业 AI 摄影师'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "判断是否生成图片": {
      "main": [
        [
          {
            "node": "发送图片 URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "随机生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载图片": {
      "main": [
        [
          {
            "node": "发送图片二进制",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送图片 URL": {
      "main": [
        [],
        [
          {
            "node": "下载图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "随机生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "按用户要求生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram  触发": {
      "main": [
        [
          {
            "node": "按用户要求生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '专业 AI 摄影师'": {
      "main": [
        [
          {
            "node": "判断是否生成图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 2,
  "versionId": "293217bf-84ef-404a-988b-04736fa4e716",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "人工智能"
  },
  "parentFolderId": null,
  "isArchived": false
}