workflows/y2gWd6GsomnHdKJs.json
{
  "id": "y2gWd6GsomnHdKJs",
  "name": "SM.MS 图片删除",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        40,
        150
      ],
      "id": "93decb01-0141-4558-9f4d-2a093f000c12",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://sm.ms/api/v2/delete/{{ $json.hash }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        200
      ],
      "id": "19e5a396-ddc4-4ced-8b02-779c0969bdc3",
      "name": "删除图片",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4r0pqp4fMYEvLVCk",
          "name": "Header Auth - SM.MS"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sm.ms/api/v2/upload_history",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        275
      ],
      "id": "f40f4f68-8990-4379-8944-f4e7b1974142",
      "name": "查询首页图片列表",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4r0pqp4fMYEvLVCk",
          "name": "Header Auth - SM.MS"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        160
      ],
      "id": "82eed048-9fca-42be-bccc-a1417081f267",
      "name": "循环删除"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "id": "03224799-12ef-4312-bb8b-07a7020590ab",
      "name": "Limit"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        920,
        175
      ],
      "id": "06190b12-833a-49d2-9664-0eb1de45cd46",
      "name": "Wait",
      "webhookId": "c1656dc2-05fd-4750-9822-392218e88796"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        275
      ],
      "id": "a46782ae-697e-4355-b222-192b45d067b7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b17ef364-a3a6-4792-8e20-6c8a62893cd0",
              "leftValue": "={{ new Date($json.created_at) }}",
              "rightValue": "={{ new Date(Date.now() - 7 * 24 * 60 * 60 * 1000) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        260,
        150
      ],
      "id": "a5cd6580-8a34-4e20-8c50-adc396909e04",
      "name": "过滤 7 天之前的图片"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "过滤 7 天之前的图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "删除图片": {
      "main": [
        [
          {
            "node": "循环删除",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询首页图片列表": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环删除": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "删除图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "查询首页图片列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "查询首页图片列表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤 7 天之前的图片": {
      "main": [
        [
          {
            "node": "循环删除",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "0cb869d4-ec91-46c1-9d65-1b3d5be81d58",
  "owner": {
    "type": "personal",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "ver0BTPbVL6EbqRd",
  "isArchived": false
}