workflows/YcOaejwWRDB46QGv.json
{
  "id": "YcOaejwWRDB46QGv",
  "name": "天天美图 私房照",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ceb45c65-2bb6-4437-9fdc-3cb96cb96a32",
              "leftValue": "={{ !!$binary?.data }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2352,
        -800
      ],
      "id": "36e20ce7-3de6-40b9-ac78-ec23288a3658",
      "name": "判断是否生成图片"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        -800
      ],
      "id": "dbf0f7ce-cfc6-4302-91b5-6995f16cd2b9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a15943-d31a-4536-9757-e42cef20c440",
              "name": "initPrompt",
              "value": "=随机\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -800
      ],
      "id": "1bff5253-c270-437e-9bef-11cf6ee7d971",
      "name": "随机生成"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zSgv7aguQoGReRP7",
          "mode": "list",
          "cachedResultUrl": "/workflow/zSgv7aguQoGReRP7",
          "cachedResultName": "天天美图 — 专业 AI 摄影师"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "systemPrompt": "# 角色设定\n\n你是一位业内顶级的成人影片导演，同时也是一位精通 AI 绘图的提示词大师。你的专长是拍摄东方（中日韩）AV 女优的“单人独角戏 (Solo AV Scene)”。你需要构建极具生理诱惑、画质极度真实、且符合特定恋物癖好的画面。\n\n你的核心任务是作为导演，自主构思场景、服装和动作，并在经过严格的“自我审查”后，输出一份 JSON 格式的绘图数据。\n\n请严格遵循以下思维链和执行标准：\n\n### 1. 核心选角 (The Idol)\n- **身份**：职业 AV 女优，东方面孔（中日韩），18-35 岁，165-175cm，身材姣好。\n- **肤色强制**：必须强调“极致冷白皮” (Pale skin, fair skin)。\n- **面部禁令**：为了真实感，**严禁**使用 \"blush\", \"flushed\", \"red face\" 等描述脸红的词，面部保持清纯或冷艳。\n\n### 2. 服装创意指导 (Wardrobe Creative Direction)\n- **创作自由**：你拥有完全的创作自由，可以为女优设计任何符合 AV 场景的服装。**除了皮衣/皮裤/乳胶衣外，任何材质和款式都可以使用**。\n- **灵感库 (非强制)**：你可以从以下元素中汲取灵感，自由组合或创造：真空短裙 (mini skirt, no panties)、黑丝/白丝诱惑 (pantyhose, stockings)、情趣内衣 (lingerie)、开裆裤 (crotchless pants)、湿透的衬衫 (wet shirt)、OL 制服、半裸/全裸 (semi-nude, fully nude) 等。\n- **材质禁令**：**绝对禁止**皮衣 (Leather jacket)、皮裤 (Leather pants) 或乳胶衣 (Latex)。\n- **足部强制**：人物必须始终穿着鞋子或袜子（White socks, black pantyhose, high heels, sneakers）。**严禁**赤脚 (barefoot) 或露出脚趾。\n\n### 3. 姿势与动作指导 (Pose & Action Direction)\n- **创作自由**：你拥有设计姿势的完全自由。以下是一系列经典的单人 AV 动作库，你可以从中选择、组合或创造出全新的、更具张力的姿势。\n- **动作库 (非强制)**：M字开脚 (M-legs, spread legs)、亚洲蹲 (Squatting)、掰开私处 (Spreading pussy)、弓背挺身 (Arched back)、俯身翘臀 (Bent over)、跪姿 (On all fours)、抬腿 (Legs up)、自我抚慰 (Masturbating, fingering)、触摸身体 (Touching own body)、掀起裙子 (Lifting skirt)、展示身体 (Presenting body)。\n\n### 4. 场景与画质 (Scene & Quality)\n- **场景**：真实的 AV 拍摄场景（如凌乱的床、酒店落地窗、试衣间、浴室、深夜街头），拒绝虚假/科幻背景。\n- **画质**：Raw photo, Photorealistic, 8k, Realistic skin texture (真实皮肤纹理), Natural lighting。\n\n### 5. 导演自检流程 (Self-Correction Protocol)\n在生成最终 JSON 前，你必须在后台进行以下检查：\n- [Check 1] **人物**：是否为单人且是东方冷白皮？（排除脸红描述）\n- [Check 2] **服饰**：是否去除了皮衣皮裤？（如有则替换为棉质/纱/裸体）\n- [Check 3] **足部**：脚部是否被包裹？（排除赤脚/露趾鞋）\n- [Check 4] **姿势**：是否足够大尺度且私处描写真实？\n- [Check 5] **背景**：是否为真实、常见的 AV 场景？\n- [Check 6] **尺度**：是否为中高度 NSFW？\n- [Check 7] **输出**：格式是否为 JSON？提示词是否在 150 单词以内？比例是否在规定列表内？\n\n### 6. 输出格式 (Output)\n- 仅输出 JSON 字符串，无任何其他文本。\n- 比例 (ratio) 从 `1:1, 4:3, 3:4, 16:9, 9:16` 中随机选择。\n\n输出示例：\n{\n  \"prompt\": \"raw photo, solo japanese av idol, pale skin, realistic skin texture, bent over on a hotel bed, looking back at camera, wearing black pantyhose and high heels, lifting her short plaid skirt, no panties, exposed detailed pussy, uncensored, messy hair, soft window lighting, 8k uhd, masterpiece\",\n  \"ratio\": \"4:3\"\n}",
            "userPrompt": "={{ $json.initPrompt }}",
            "memory_collection": "ttmtsf"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "systemPrompt",
              "displayName": "systemPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "userPrompt",
              "displayName": "userPrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "memory_collection",
              "displayName": "memory_collection",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2576,
        -800
      ],
      "id": "e9de1436-a494-47df-9f1d-a3e71db4a38d",
      "name": "Call '专业 AI 摄影师'",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "file_id",
              "value": "={{ $json.result.photo[4].file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1904,
        -896
      ],
      "id": "83ee82ea-c25e-40c6-99a9-9d7edb5a2bd7",
      "name": "记录图片文件 ID"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{$vars.TG_CHAT_ID_CHANNEL_MTL}}",
        "binaryData": true,
        "additionalFields": {
          "caption": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}",
          "has_spoiler": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2128,
        -896
      ],
      "id": "15020fad-14d3-4c06-a0ee-5ea28b7ef494",
      "name": "发送图片",
      "webhookId": "d77ffec2-3b00-471a-aae4-52cf13901e08",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "telegramApi": {
          "id": "RGKr0LfSv0GjIBKA",
          "name": "@ttmtnsfw_bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b0b43fc3-5834-4392-9fb5-247fb73eb05c",
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        -704
      ],
      "id": "0435433c-225f-48e3-8af2-584236d872a3",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fsYGyED8MoPFKjVN",
          "mode": "list",
          "cachedResultUrl": "/workflow/fsYGyED8MoPFKjVN",
          "cachedResultName": "AImage 文件上传 - Binary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nsfw": "={{ true }}",
            "prompt": "={{ $json.prompt }}",
            "model": "Z-Image-Turbo",
            "binaryFieldName": "data"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "binaryFieldName",
              "displayName": "binaryFieldName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nsfw",
              "displayName": "nsfw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2128,
        -704
      ],
      "id": "f6233805-59ee-4448-a857-9587db9b3d33",
      "name": "Call 'AImage 文件上传 - Binary'"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "prompt",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.prompt }}"
            },
            {
              "key": "ratio",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.ratio }}"
            },
            {
              "key": "nsfw",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.nsfw ? 'true' : 'false' }}"
            },
            {
              "key": "width",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.width }}"
            },
            {
              "key": "height",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.height }}"
            },
            {
              "key": "provider",
              "value": "={{ $('Call \\'专业 AI 摄影师\\'').item.json.provider }}"
            },
            {
              "key": "image",
              "value": "={{ $json.imageUrl }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -1680,
        -704
      ],
      "id": "56bc0e22-7ae3-4ea3-9cc9-9bd4604bb388",
      "name": "记录绘画信息1"
    }
  ],
  "connections": {
    "判断是否生成图片": {
      "main": [
        [
          {
            "node": "发送图片",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'AImage 文件上传 - Binary'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "随机生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "随机生成": {
      "main": [
        [
          {
            "node": "Call '专业 AI 摄影师'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call '专业 AI 摄影师'": {
      "main": [
        [
          {
            "node": "判断是否生成图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "发送图片": {
      "main": [
        [
          {
            "node": "记录图片文件 ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "记录绘画信息1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'AImage 文件上传 - Binary'": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Y8yqM2jq5lsYpreo"
  },
  "triggerCount": 1,
  "versionId": "7a566be0-28e0-451e-859e-dd42561a0f87",
  "owner": {
    "type": "team",
    "teamId": "WbNJS3WnAGCxsXVf",
    "teamName": "天天美图"
  },
  "parentFolderId": null,
  "isArchived": false
}