workflows/YsVnboMtvDcQH3i9.json
{
  "id": "YsVnboMtvDcQH3i9",
  "name": "Dreamify 文生图",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://dreamify.slmnb.cn/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"width\": {{ $json.width }},\n    \"height\": {{ $json.height }},\n    \"steps\": 30,\n    \"seed\": {{Math.floor(1e8 * Math.random())}},\n    \"batch_size\": 1,\n    \"model\": \"Flux-Dev\",\n    \"image\": null\n}",
        "options": {
          "timeout": 150000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -16
      ],
      "id": "fc827ea5-f00b-497d-aa6c-f3ebb9dee5f1",
      "name": "HTTP Request",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcaa39dd-9feb-4828-8cd1-8fe2fb149690",
              "name": "imageBase64",
              "value": "={{ $json.imageUrl.match(/^data:(.+);base64,(.+)$/)[2] }}",
              "type": "string"
            },
            {
              "id": "ff86379d-4eaf-40bc-a321-523cf03cfd44",
              "name": "imageType",
              "value": "={{ $json.imageUrl.match(/^data:(.+);base64,(.+)$/)[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -16
      ],
      "id": "78b714b7-6c15-487f-8906-9db17ee8c1ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abf03dac-5f77-4d91-85d4-01fd37c4c061",
              "leftValue": "={{ $json.imageUrl.match(/^data:(.+);base64,(.+)$/) }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -16
      ],
      "id": "2efe947c-54a4-4c42-9bd4-d442572f9bfd",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "imageBase64",
        "options": {
          "fileName": "={{ $json.imageBase64.hash() + '.png' }}",
          "mimeType": "={{ $json.imageType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        512,
        -16
      ],
      "id": "54f73526-944a-460c-ac1f-527c5b21d40b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "width",
              "type": "number"
            },
            {
              "name": "height",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -16
      ],
      "id": "ca040bb8-7742-49f2-a8b7-b41575ca972c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sm.ms/api/v2/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "smfile",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -16
      ],
      "id": "77ed3999-3571-43df-a7f6-cde990497315",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "6MNMBkSbYY1ANfDb",
          "name": "Bearer Auth - siliconflow"
        },
        "httpHeaderAuth": {
          "id": "4r0pqp4fMYEvLVCk",
          "name": "Header Auth - SM.MS"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "image",
              "renameField": true,
              "outputFieldName": "images"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1408,
        -16
      ],
      "id": "77d39388-c3c4-40be-89c4-893c22b83b8c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "814fa69e-0efe-4bd4-a613-072a5f11792f",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        -16
      ],
      "id": "a49ce089-0344-4fca-b605-2c2f011405ff",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9f7a3fcd-a3ad-4fd6-a0ed-4c68f10322aa",
              "name": "image",
              "value": "={{ $json.data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        -16
      ],
      "id": "37e49369-7653-4cdf-902f-d01b2c55a8b7",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 0,
  "versionId": "7785171f-3025-4c2a-80d4-e5cd0b68310c",
  "owner": {
    "type": "personal",
    "projectId": "0cfCdy28RhDft3mL",
    "projectName": "寿来 杨 <shoulai.yang@gmail.com>",
    "personalEmail": "shoulai.yang@gmail.com"
  },
  "parentFolderId": "tXbrPLEAcjwVXk68",
  "isArchived": false
}